/* ====================================================================
   Global
==================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

/** Fonts Locally Loaded **/
/* jost-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/jost-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Default CSS */
* {
    border: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    color: #13172B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    color: #13172B;
    font-weight: 400;
    margin-bottom: 15px;
}

h2 {
    font-size: 36px;
    line-height: 42px;
}

h3{
    font-size: 30px;
    line-height: 36px;
}

h4 {
    font-size: 26px;
    line-height: 32px;
}

span,
p {
    font-family: 'Jost', sans-serif;
    color: #13172B;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

h2 a,
h3 a,
h4 a,
h5 a,
h1 a,
h6 a,
a {
    color: #3577F0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none;
}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h1 a:hover,
h6 a:hover,
a:hover {
    color: #FF497C;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

:-ms-input-placeholder,
:-moz-placeholder,
::-webkit-input-placeholder,
::-moz-placeholder {
    color: #fff;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

::selection {
    color: #fff;
    background: #FF497C;
}

.button-a {
    padding: 10px 37px;
    margin: 0;
    border-radius: 50px;
    border: 1px solid #FF497C;
    color: #13172B;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: inline-block;
}

.button-a:hover {
    background: #FF497C;
    color: #fff;
}

.button-b {
    padding: 10px 37px;
    margin: 0;
    border-radius: 50px;
    background: #FF497C;
    border: 1px solid #FF497C;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: inline-block;
}

.button-b:hover {
    background: none;
    color: #13172B;
}

.section-title p {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.section-title h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1em;
    text-transform: capitalize;
}

/** Start of Back to Top **/
#return-to-top {
    position: fixed;
    bottom: 120px;
    right: 100px;
    background: #3577F0;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
    display: none;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    text-align: center;
    z-index: 99998;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    font-size: 20px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    line-height: 50px;
}

#return-to-top:hover {
    background: #FF497C;
}

#return-to-top:hover i {
    line-height: 40px;
}
/** End of Back to Top **/

/** Start of Scrollbar **/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 1px #E4F2FF;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb {
    background: #FF497C;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #FF85A8;
}
/** End of Scrollbar **/

/** Start of Preloader **/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #FF497C;
}

.pre-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    color: #FFF;
    font-size: 26px;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/** End of Preloader **/

/** Start of Custom Cursor **/
.cursor {
	position: fixed;
	top: 0;
	left: -100px;
	overflow: visible;
	z-index: 9999999999999999999999;
	pointer-events: none;
}

.cursor:after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background: #FF497C;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.cursor:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background: #ff497d34;
	border: 2px solid #FF497C;
	border-radius: 50%;
	transform: translate(-50%,-50%);  
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	
}

.cursor.hover:after {
	width: 0;
	height: 0;
}

.cursor.hover:before {
	width: 35px;
	height: 35px;
}
/** End of Custom Cursor **/

/* ====================================================================
   Main CSS
==================================================================== */

/*** Start of Header ***/
.main-header {
    background: #E4F2FF;
    padding: 15px 0;
    font-family: 'Jost', sans-serif;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-header .navigation-bar {
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-items li {
    display: inline-block;
    margin-right: 10px;
}

.nav-items li a {
    display: inline-block;
    padding: 5px 15px;
    color: #13172B;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.buy-btn.button-a {
    padding: 5px 15px;
}

.nav-items li a:hover,
.nav-items li a.active {
    padding: 5px 15px;
    margin: 0;
    color: #fff;
    background: #FF497C;
    border: 1px solid #FF497C;
}

.mobile-menu-toggle {
    display: none;
    font-size: 20px;
    line-height: 42px;
    text-align: right;
    cursor: pointer;
}

.mobile-menu-toggle a {
    color: #13172B;
}

.mobile-menu-toggle a:hover {
    color: #FF497C;
}
/*** End of Header ***/

/*** Start of Hero Section ***/
.hero-content {
    height: auto;
    padding: 200px 10px;
    padding-bottom: 150px;
}

.hero-content.left-side .content img {
    margin-bottom: 15px;
}

.hero-content.right-side {
    display: flex;
    align-items: center;
}

.hero-content.right-side img {
    width: 100%;
    height: auto;
}

.hero-content h2,
.hero-content span {
    font-family: 'Rubik', sans-serif;
    color: #13172B;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 80px;
    font-weight: 600;
}

.hero-content p {
    margin-top: 10px;
}

.typed-cursor {
    display: inline-block;
    width: 4px;
    height: 50px;
    background-color: #13172B;
    margin-left: 5px;
}

/*** End of Hero Section ***/

/*** Start of Demo Section ***/
.demo-wrap {
    background: #E0EBF2;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.demo-wrap .section-title {
    margin: 40px 0;
}

/* Demo Sidebar */
.demo-search-box {
    width: 100%;
    background: #FFF;
    padding: 13px 20px;
    border-radius: 50px;
    margin-bottom: 10px;
    position: relative;
    height: 50px;
}

#demosearch {
    background: #FFF !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 90%;
    padding: 0;
    margin: 0;
    right: 0;
}

.demo-search-btn {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #3577F0;
    color: #FFF;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.demo-search-btn:hover {
    background: #FF497C;
}

.demo-filter {
    padding: 10px 20px;
    background: #FFF;
    border-radius: 5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.demo-filter li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    padding-left: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}

.demo-filter li span {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.demo-filter li:hover,
.demo-filter li.active {
    color: #3577F0;
    border-left: 3px solid #3577F0;
    padding-left: 10px;
    background: #f0f0f0;
}

.demo-items {
    height: auto;
    margin-bottom: 20px;
}

.demo-items figure {
	margin: 0;
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
}

.demo-items figure a {
    display: block;
    height: 192px;
	overflow: hidden;
}

.demo-items img {
    width: 100%;
    transition: 2s;
}

.demo-items figure:hover img {
    transform: translateY(-100%);
    transition: 10s;
}

.demo-items figcaption {
	font-family: 'Jost', sans-serif;
	color: #13172B;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 10px 0;
}

.show-btn {
    display: none;
    width: 50%;
    height: 50px;
    background: #FFF;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 18px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.show-btn:hover {
    background: #FF497C;
    color: #FFF;
}

.no-results-message {
    width: 100%;
    text-align: center;
}
/*** End of Demo Section ***/

/*** Start of Features Section ***/
#features {
    padding: 80px 10px;
}

.features-images {
    margin: 0;
    padding: 0;
}

.feature-items {
    margin-bottom: 40px;
    user-select: none;
}

.feature-items img {
    max-width: 100%;
    max-height: 100%;
}

.feature-items figcaption {
    text-align: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	all: unset;
}

.swiper-button-next,
.swiper-button-prev {
	font-size: 40px;
}

.paid-icon {
    color: rgb(185, 31, 31);
    margin-right: 5px;
}

.free-icon {
    color: green;
    margin-right: 5px;
}

.list-of-features table td {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.list-of-features table th {
    background: #FF497C;
    color: #FFF;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.with-bg {
    background: #fdecf1;
}

.list-of-features table tr:hover {
    background: #f0f0f0;
}
/*** End of Features Section ***/

/*** Start of Core Structure Section ***/
.core-wrap {
    background: #E0EBF2;
    padding: 80px 10px;
    padding-bottom: 40px;
    border-radius: 5px;
}

.core-items {
    margin-bottom: 40px;
}

.core-items img {
    max-width: 100%;
    max-height: 100%;
}

.core-items figcaption {
    text-align: center;
}
/*** End of Core Structure Section ***/

/*** Start of Footer Section ***/
#footer {
    padding: 80px 10px;
    background: #E4F2FF;
    text-align: center;
    margin-top: 80px;
}

#footer p {
    font-size: 20px;
    margin: 0;
}
/*** End of Footer Section ***/

/*
font-family: 'Jost', sans-serif;
font-family: 'Rubik', sans-serif;

Black = #13172B
Blue = #3577F0
hotpink = #FF497C
*/