@media (max-width: 289px) {
    section {
        margin-top: 20px;
    }
    span,
    p,
    a,
    li,
    button,
    input,
    label,
    textarea,
    th, td,
    blockquote,
    .accordion-item .accordion-button,
    .accordion-body {
        font-size: 12px;
        line-height: 20px;
    }
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked  {
        width: 10px !important;
        height: 10px !important;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 4px !important;
        width: 4px !important;
    }
    /*===== Home Page =====*/
}

@media (min-width: 290px) and (max-width: 414px) {
    section {
        margin-top: 30px;
    }
    span,
    p,
    a,
    li,
    button,
    input,
    label,
    textarea,
    th, td,
    blockquote,
    .accordion-item .accordion-button,
    .accordion-body {
        font-size: 12px;
        line-height: 20px;
    }
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked {
        width: 12px !important;
        height: 12px !important;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 6px !important;
        width: 6px !important;
    }
    /*===== Home Page =====*/
}

@media (min-width: 415px) and (max-width: 575px) {
    section {
        margin-top: 40px;
    }
    span,
    p,
    a,
    li,
    button,
    input,
    label,
    textarea,
    th, td,
    blockquote,
    .accordion-item .accordion-button,
    .accordion-body {
        font-size: 14px;
        line-height: 22px;
    }
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked  {
        width: 12px !important;
        height: 12px !important;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 6px !important;
        width: 6px !important;
    }
    /*===== Home Page =====*/
}

@media (min-width: 576px) and (max-width: 767px) {
    section {
        margin-top: 50px;
    }
    span,
    p,
    a,
    li,
    button,
    input,
    label,
    textarea,
    th, td,
    blockquote,
    .accordion-item .accordion-button,
    .accordion-body {
        font-size: 14px;
        line-height: 22px;
    }
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked  {
        width: 14px !important;
        height: 14px !important;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 8px !important;
        width: 8px !important;
    }
    /*===== Home Page =====*/
}

@media (min-width: 768px) and (max-width: 991px) {
    section {
        margin-top: 60px;
    }
    span,
    p,
    a,
    li,
    button,
    input,
    label,
    textarea,
    th, td,
    blockquote,
    .accordion-item .accordion-button,
    .accordion-body {
        font-size: 14px;
        line-height: 22px;
    }
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked  {
        width: 16px !important;
        height: 16px !important;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 10px !important;
        width: 10px !important;
    }
    /*===== Home Page =====*/
}

@media (min-width: 992px) and (max-width: 1139px) {
    section {
        margin-top: 70px;
    }
    span,
    p,
    a,
    li,
    button,
    input,
    label,
    textarea,
    th, td,
    blockquote,
    .accordion-item .accordion-button,
    .accordion-body {
        font-size: 14px;
        line-height: 22px;
    }
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked  {
        width: 16px !important;
        height: 16px !important;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 10px !important;
        width: 10px !important;
    }
    /*===== Home Page =====*/
}

@media (min-width: 1140px) and (max-width: 1199px) {
    /*===== Home Page =====*/
        section {
            margin-top: 80px;
        }
}
