/************ TABLE OF CONTENTS ***************
1. Global
2. Home Page
    1. Header



**********************************************/


/* ====================================================================
   1. Global
==================================================================== */
/*** Font ***/
/* Inter */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter/inter-v18-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter/inter-v18-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter/inter-v18-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter/inter-v18-latin-700.woff2') format('woff2');
}

/* Nunito Sans*/
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans/nunito-sans-v15-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/nunito-sans/nunito-sans-v15-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nunito-sans/nunito-sans-v15-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nunito-sans/nunito-sans-v15-latin-700.woff2') format('woff2');
}

/* Default CSS */
:root {
    /* Primary Color */
    --main-color: #5840BA;

    /* Text Color */
    --text-color: #000000;

    /* Other Colors */
    --primary-color: #262626;
    --secondary-color: #808080;
    --redorng-color: #EB4A11;
}

* {
    border: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body,
span,
p,
a,
li,
button,
input,
label,
textarea,
th, td,
.accordion-item .accordion-button,
.accordion-body {
    color: var(--text-color);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.medium__text,
.small__text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.small__text {
    font-size: 14px;
    line-height: 22px;
}

blockquote {
    background: #DEF863;
    padding: 20px 44px;
    color: var(--text-color);
    font-size: 28px;
    line-height: 44px;
}

a {
    color: var(--main-color);
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 120%;
}

h2 {
    font-size: 38px;
    line-height: 120%;
}

h3 {
    font-size: 32px;
    line-height: 120%;
}

h4 {
    font-size: 24px;
    line-height: 120%;
}

h5 {
    font-size: 20px;
    line-height: 120%;
}

a,
button,
svg {
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    color: var(--main-color);
}


::-webkit-input-placeholder,
::-moz-placeholder,
::placeholder {
    opacity: 1;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

::selection {
    color: #FFF;
    background: var(--main-color);
}

.elstyle {
    position: relative;
    background: #FFFAF3;
}

section {
    margin-top: 100px;
}

/* Container Size */
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}

/* Buttons */
.els__button__a {
    display: block;
    padding: 20px 32px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
    background: var(--text-color);
    color: #FFF !important;
    width: fit-content;
    text-decoration: none;
}

.els__button__a:hover {
    background: var(--main-color);
}

.els__button__b {
    display: block;
    padding: 20px 32px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
    color: var(--text-color) !important;
    background: transparent;
    border: 1px solid var(--text-color);
    width: fit-content; 
    text-decoration: none;
}

.els__button__b:hover {
    color: #FFF !important;
    border-color: var(--main-color);
    background: var(--main-color);
}

.els__button__a.with__arrow,
.els__button__b.with__arrow {
    position: relative;
}

.els__button__a.with__arrow::after,
.els__button__b.with__arrow:hover::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.92334H9.03571' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.179 1.24487L13.9341 3.99998L11.179 6.75503V1.24487Z' fill='white' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    margin-left: 5px;
    height: 6px;
    width: 14px;
}

.els__button__b.with__arrow::after {
    content: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.92334H9.03571' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.179 1.24487L13.9341 3.99998L11.179 6.75503V1.24487Z' fill='black' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    margin-left: 5px;
    height: 6px;
    width: 14px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 1px #E4F2FF;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

/* Quantity Widget */
.quantity__widget {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	margin: 0;
	justify-content: flex-start;
    border: 1px solid var(--text-color);
    width: fit-content;
}

.quantity__controls {
    display: flex;
}

.quantity__decrease,
.quantity__increase {
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    height: 34px;
    width: 34px;
    color: var(--text-color);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    user-select: none;
}

.quantity__decrease:hover,
.quantity__increase:hover {
    color: var(--main-color);
}

.quantity__display {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    padding: 0 10px;
    pointer-events: none;
}

.quantity__widget.v2 {
    padding: 14px;
    border-radius: 50px;
    border: 0;
    background: white;
}

.quantity__widget.v2 .quantity__controls {
    align-items: center;
    gap: 10px;
}

.quantity__widget.v2 .quantity__decrease,
.quantity__widget.v2 .quantity__increase {
    background: var(--bg-black);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: var(--white-text);
}

.quantity__widget.v2 .quantity__decrease:hover,
.quantity__widget.v2 .quantity__increase:hover {
    background: var(--main-color);
}

.quantity__widget.v2 .quantity__display {
    line-height: 30px;
}

/* Custom Cursor */
.cursor {
	position: fixed;
	top: 0;
	left: 0;
	overflow: visible;
	z-index: 9999999;
	pointer-events: none;
}

.cursor::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
	background: var(--main-color);
	border-radius: 50%;
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	
}

.cursor::after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: transparent;
	border: 1px solid var(--main-color);
	border-radius: 50%;
	transform: translate(-50%,-50%);  
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.cursor.hover::before {
    width: 30px;
    height: 30px;
    background: #5840BA22;
}

@media (max-width: 991px) {
    .cursor {
        display: none;
    }
}

/* Checkbox Input */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

input[type="checkbox"]::before {
	content: '';
	background: var(--main-color);
    width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

input[type="checkbox"]:checked {
    height: 20px;
    width: 20px;
    border-color: var(--main-color);
}

input[type="checkbox"]:checked::before {
    height: 12px;
    width: 12px;
}

/* Radio Input */
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    position: relative;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

input[type="radio"]::before {
	content: '';
	background: transparent;
    width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 50%;
}

input[type="radio"]:checked {
    height: 20px;
    width: 20px;
    border-color: var(--main-color);
}

input[type="radio"]:checked::before {
    height: 12px;
    width: 12px;
    background: var(--main-color);
}

/* Seperator */
.vertical__seperator {
    display: block;
    height: 18px;
    width: 1px;
    background: #D3CDC4;
    margin: 0;
}

.horizontal__seperator {
    display: block;
    height: 1px;
    width: 100%;
    background: #D3CDC4;
    margin: 0;
}

/** Section Title **/
.els__section__title {
    text-align: center;
    margin-bottom: 50px;
}

/*With Text*/
.els__section__title.with__text {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.els__section__title.with__text h2 {
    width: 40%;
    font-weight: 600;
}

.els__section__title.with__text h2 span {
    font-weight: 600;
}

.els__section__title.with__text .text {
    width: 50%;
    border-left: 2px solid #B4ABA4;
    padding-left: 20px;
    color: #7C7872;
    margin: 0;
}

/*With Subtitle*/
.els__section__title.with__subtitle {
    text-align: left;
    margin-bottom: 20px;
}

.els__section__title.with__subtitle .subtitle {
    font-size: 14px;
    color: #B4ABA4;
    margin: 0;
}

/*With Line*/
.els__section__title.with__line h2 {
    color: var(--bg-black);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.els__section__title.with__line h2 span {
    font-weight: 600;
}

.els__section__title.with__line h2 span {
    position: relative;
}

.els__section__title.with__line h2 span::after {
    position: absolute;
    height: 2px;
    width: 1440px;
    content: '';
    background: #CDC3B8;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
}

/* Post & Pages Markup */
.els__post__page li {
    padding: 16px 0;
    margin-left: 23px;
    list-style: disc;
}

.els__post__page p,
.els__post__page h2,
.els__post__page h3,
.els__post__page h4 {
    margin-bottom: 24px;
}

.els__post__page ul {
    margin-bottom: 30px;
}

/* ====================================================================
   2. Home Page
==================================================================== */
/*** Start of Header Section ***/
/* Header Top */
.els__header__section p {
    margin: 0;
    color: var(--primary-color);
}

.els__header__section .top {
    padding-top: 26px;
    padding-bottom: 12px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--text-color);
}

.els__header__section .top .promo__discount {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--secondary-color);
}

.els__header__section .top .promo__discount a {
    font-weight: 600;
}

.els__header__section .top .right__side {
    gap: 30px;
}

.social__links {
    margin: 0;
    padding: 0;
}

.social__links li {
    list-style: none;
    display: inline-block;
}

.social__links li a {
    color: var(--text-color);
    padding: 0 10px;
    font-size: 16px;
}

.social__links li:first-child a {
    padding-left: 0;
}

.social__links li:last-child a {
    padding-right: 0;
}

.social__links li a:hover {
    color: var(--main-color);
}

.els__header__section .top .right__side .nice-select {
	background-color: transparent;
	border-radius: 0;
	border: 0;
	font-size: 16px;
	height: fit-content;
	line-height: 16px;
	padding-left: 0;
	padding-right: 20px;
}

.els__header__section .top .right__side .nice-select::after {
	height: 8px;
	margin-top: -7px;
	right: 2px;
	width: 8px;
    border-width: 1px;
    border-color: var(--text-color);
}

.els__header__section .top .right__side .nice-select .option,
.els__header__section .top .right__side .nice-select .current {
    font-size: 16px;
    line-height: 16px;
}

.els__header__section .top .right__side .nice-select .option {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.els__header__section .top .right__side .nice-select .option.selected,
.els__header__section .top .right__side .nice-select .option:hover {
    background: var(--main-color);
}

.els__header__section .top .right__side .nice-select .option:hover {
    color: white;
}

/* Header Bottom */
.els__main__menu li {
    list-style: none;
}

.els__main__menu li a {
    text-decoration: none;
    text-transform: capitalize;
}

@media (min-width: 992px) {
    .els__main__menu {
        margin: 0;
        padding: 0;
    }

    .els__main__menu li {
        display: inline-block;
        position: relative;
    }

    .els__main__menu li a {
        padding: 0 16px;
    }

    .els__main__menu li:first-child a {
        padding-left: 0;
    }

    .els__main__menu li:last-child a {
        padding-right: 0;
    }

    .els__main__menu li a i {
        font-size: 14px;
    }

    .els__main__menu li .submenu {
        display: none;
        width: 150px;
        height: fit-content;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        margin: 0;
        padding: 0;
        border-radius: 8px;
    }

    .els__main__menu li:hover .submenu {
        display: block;
    }

    .els__main__menu li .submenu li {
        display: block;
        text-align: center;
        border-radius: 8px;
    }

    .els__main__menu li .submenu li a {
        padding: 0;
        line-height: 40px;
        height: 40px;
    }

    .els__main__menu li .submenu li:hover {
        background: var(--main-color);
    }

    .els__main__menu li .submenu li:hover a {
        color: white;
    }
}

.btm__left__side .els__mblmenu__closebtn {
    display: none;
}

.els__header__section .bottom .logo {
    width: 120px;
    height: auto;
}

.els__header__section .bottom .logo img {
    width: 100%;
}

.els__header__section .bottom .right__side ul {
    margin: 0;
    padding: 0;
    gap: 14px;
}

.els__header__section .bottom .right__side li {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-color);
    text-transform: capitalize;
    padding: 0 7px;
    cursor: pointer;
}

.els__header__section .bottom .right__side li:first-child {
    padding-left: 0;
}

.els__header__section .bottom .right__side li:last-child {
    padding-right: 0;
}

.els__header__section .bottom .right__side li svg {
    fill: var(--primary-color);
}

.els__header__section .bottom .right__side li:hover {
    color: var(--main-color);
}

.els__header__section .bottom .right__side li:hover svg {
    fill: var(--main-color);
}

/** Mobile Menu **/
.els__mmenu__btn {
    display: none;
}

@media (max-width: 991px) {
    .els__mmenu__btn {
        display: block;
        border: 1px solid var(--text-color);
        background: transparent;
        padding: 5px 10px;
    }

    .els__mmenu__btn i {
        font-size: 12px;
        margin-left: 5px;
    }

    .els__mmenu__btn:hover {
        border-color: var(--main-color);
        color: var(--main-color);
    }

    .btm__left__side {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 0;
        background: rgba(232, 225, 217, 0.20);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
        z-index: 999999;
        overflow: hidden;
        transition: 1s;
        -moz-transition: 1s;
        -webkit-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }
    
    .btm__left__side.show {
        width: 100vw;
    }
    
    .btm__left__side .els__main__menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 100vh;
        background: white;
        padding: 20px 30px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        margin: 0;
    }

    .btm__left__side .els__main__menu li a {
        font-size: 16px;
        font-weight: 500;
    }

    .btm__left__side .els__main__menu li a i {
        font-size: 12px;
        margin-left: 10px;
    }

    .btm__left__side .els__main__menu .submenu {
        max-height: 0;
        overflow: hidden;
        transition: 0.6s;
        -moz-transition: 0.6s;
        -webkit-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
    }

    .btm__left__side .els__main__menu .submenu.show {
        max-height: 600px;
        padding-bottom: 0;
        padding-top: 15px;
    }

    .btm__left__side .els__main__menu .submenu li {
        padding: 5px 0;
    }
    
    .btm__left__side .els__mblmenu__closebtn {
        display: block;
        position: absolute;
        top: 10px;
        left: calc(100% + 10px);
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 18px;
        color: var(--text-color);
        background: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    
    .btm__left__side .els__mblmenu__closebtn:hover {
        background: var(--main-color);
        color: white;
    }
}

/** Search Popup **/
.els__search__popup,
.els__login__popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    background: rgba(232, 225, 217, 0.20);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow: hidden;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: none;
    transform: scale(0);
}

.els__search__popup.show,
.els__login__popup.show {
    visibility: visible;
    transform: scale(1);
    transition: 0.3s;
	-moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.els__search__popup .elssearch__close__btn,
.els__login__popup .elslogin__closebtn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px;
	margin: 5px 8px 0 0;
	color: var(--text-color);
    transition: 0.3s;
	-moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
	background: transparent;
}

.els__search__popup .elssearch__close__btn:hover,
.els__login__popup .elslogin__closebtn:hover {
    color: var(--main-color);
}

.elssearch__wrapper,
.elslogin__wrapper {
    width: 50vw;
    height: 70vh;
    background: white;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    overflow: auto;
}
 
.els__search__popup form {
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
 
.els__search__popup input {
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 0 35px 0 15px;
    border: 1px solid #AEAEAE;
    border-radius: 50px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin: 0;
}

.els__search__popup input:focus {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.els__search__popup button {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    color: var(--text-color);
    border: 0;
    border-radius: 50px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    background: none;
}

.els__search__popup button:hover {
    color: var(--main-color);
}

.elssearch__prod__result__area {
    width: 100%;
}

.elssearch__prod__result__area .elssearch__result__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.elssearch__prod__result__area .elssearch__search__result .search-product {
    border: 1px solid #DBE3E9;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin-bottom: 20px;
    display: flex;
}

.elssearch__prod__result__area .elssearch__search__result .search-product:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.elssearch__prod__result__area .elssearch__search__result .search-product:hover > .search__product__img img {
    transform: scale(1.1);
}

.elssearch__prod__result__area .search__product__img a {
    background-color: #DBE3E9;
    border-radius: 5px;
    display: block;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin-right: 30px;
    width: 100px;
}

.elssearch__prod__result__area .search__product__img img {
    border-radius: 5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    width: 100%;
}

.elssearch__prod__result__area .search__content {
    flex: 1;
    position: relative;
    padding-right: 60px;
}

.elssearch__prod__result__area .search__content .product__rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.elssearch__prod__result__area .search__content .product__rating .rating__icon {
    color: #FCC013;
}

.elssearch__prod__result__area .search__content .product__rating .total__rating,
.elssearch__prod__result__area .search__content .product__rating .total__rating span {
    font-weight: 500;
    margin-left: 10px;
    display: inline-block;
}

.elssearch__prod__result__area .search__content .product__rating .total__rating span {
    margin-left: 0 !important;
}

.elssearch__prod__result__area .search__content .product__title {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.elssearch__prod__result__area .search__content .product__title a {
    font-size: 20px;
    font-weight: 500;
    font-family: 'ClashDisplay', sans-serif;
}

.elssearch__prod__result__area .search__content .product__price__variant h4 {
    font-size: 18px;
    font-weight: 600;
}

.elssearch__prod__result__area .search__content .product__price__variant span {
    color: #A4A4A4;
    text-decoration: line-through;
    margin-left: 10px;
}

.elssearch__prod__result__area .search__content .product__cart {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.elssearch__prod__result__area .search__content .product__cart a {
    text-align: center;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #DBE3E9;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin-bottom: 10px;
}

.elssearch__prod__result__area .search__content .product__cart a:hover {
    color: #DBE3E9;
    background: var(--main-color);
}

/** Cart Slider **/
.els__cart__slider {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    background: rgba(232, 225, 217, 0.20);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 999999;
    overflow: hidden;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.els__cart__slider.show {
    width: 100vw;
}

.els__cart__slider .main__cart__area {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: white;
    padding: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.els__cart__slider .els__cart__closebtn {
    position: absolute;
    top: 10px;
    right: 410px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 18px;
    color: var(--text-color);
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.els__cart__slider .els__cart__closebtn:hover{
    background: var(--main-color);
    color: white;
}

.els__cart__slider .main__cart__area .els__cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.els__cart__slider .main__cart__area .els__cart__header h3,
.els__cart__slider .main__cart__area .els__cart__header span {
    color: var(--text-color);
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'ClashDisplay', sans-serif;
    margin-bottom: 0;
}

.els__cart__slider .main__cart__area .els__cart__header span {
    position: relative;
    color: #DBE3E9;
    background: var(--main-color);
    height: 30px;
    width: auto;
    font-size: 24px;
    border-radius: 3px;
    padding: 0 10px;
}

.els__cart__slider .main__cart__area .els__cart__header span::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-right: 5px solid var(--main-color);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    background: transparent;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.els__cart__slider .main__cart__area .els__cart__content {
    height: auto;
    flex: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.els__cart__slider .main__cart__area .els__cart__subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.els__cart__slider .main__cart__area .els__cart__subtotal p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
}

.els__cart__slider .main__cart__area .els__cart__cta {
    display: flex;
    justify-content: space-around;
}

/* Cart Items */
.els__cart__product {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    position: relative;
}

.els__cart__product:last-child {
    margin-bottom: 0;
}

.els__cart__product .image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
}

.els__cart__product .image img {
    width: 100%;
    height: auto;
}

.els__cart__product .content {
	width: 290px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 5px 0;
}

.els__cart__product a {
    display: block;
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
    font-family: 'ClashDisplay', sans-serif;
    text-align: right;
    cursor: pointer;
}

.els__cart__product .price__qty {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.els__cart__product h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: capitalize;
    border: none;
    color: #777;
    margin: 0;
    padding: 0;
}

.els__cart__product .els__cart__prod__close {
	height: 20px;
	width: 20px;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
    color: #DBE3E9;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	background: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.els__cart__product .els__cart__prod__close:hover {
    background: var(--main-color);
}

.els__cart__product .quantity__decrease,
.els__cart__product .quantity__increase {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
}

.els__cart__product .quantity__display {
    font-size: 12px;
    line-height: 20px;
}
/*** End of Header Section ***/