@use '../utilities/index' as utils;
@use '../base/index' as base;
@use '../components/index' as comps;

/*** Start of Tabs and Nav ***/
.elt__tabsandnav {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid base.$base700;
    border-radius: 50px;

    button {
        @include base.medium__text;
        color: base.$base200;
        padding: 12px 20px;
        border-radius: 32px;
        background: transparent;
    }

    button.active {
        font-weight: 600;
        color: base.$base00;
        background: base.$backgroundTertiaryColor;
    }
}
/*** End of Tabs and Nav ***/

/*** Start of Quantity Widget ***/
.elt__quantity__widget {
    @include utils.primary__blur;
    width: 162px;
    height: 48px;
    border-radius: 8px;
    background: base.$backgroundTertiaryColor;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

        span {
            @include utils.transition-03s;
            @include base.medium__text;
            color: base.$base200;
            line-height: 40px !important;
            height: 40px;
            width: 48px;
            text-align: center;
            border-radius: 8px;

            svg {
                stroke: base.$base200;
            }
        }
        span:hover {
            background: base.$FillSecondaryColor;
        }
        p {
            @include base.medium__text;
            color: base.$base300;
            line-height: 48px;
            margin: 0;
        }
}
/*** End of Quantity Widget ***/

/*** Start of Product Style ***/
.elt__product__style {
    width: 389px;
    height: auto;

    .image {
        width: 100%;
        height: 426px;
        overflow: hidden;
        position: relative;
        margin-bottom: 36px;

        .img {
            @include utils.transition-03s;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .tag {
            @include base.medium__text;
            position: absolute;
            top: 16px;
            left: 16px;
            text-transform: uppercase;
            background: rgba($color: base.$base00, $alpha: 0.4);
            border-radius: 30px;
            padding: 8px 16px;
            color: base.$base100;
            font-weight: 500;
            z-index: 99;
        }

        .addtocart {
            @include utils.transition-06s;
            @include comps.elt__button__a;
            position: absolute;
            bottom: -48px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 99;
            width: 180px;
        }
    }

    .info {
        .category {
            @include base.medium__text;
            color: base.$base400;

            &:hover {
                color: base.$brandPrimaryColor;
            }
        }

        .product__name {
            color: base.$base100;
            font-weight: 500;

            &:hover {
                color: base.$brandPrimaryColor;
            }

            h6 {
                margin-top: 10px;
                margin-bottom: 14px;
            }
        }

        .price {
            color: base.$base200;
            font-weight: 600;
            margin-bottom: 0;

            span {
                @include base.small__text;
                color: base.$base400;
                text-decoration: line-through;
                font-weight: 400;
            }
        }
    }

    &:hover {
        .image {
            .img {
                height: 402px;
            }

            .addtocart {
                bottom: 0;
            }
        }
    }
}
/*** End of Product Style ***/

/*** Start of Products Slider ***/
.elt__mainslider__products {
    position: relative;

    .elt__cta__button {
        height: 52px;
        width: 52px;
        line-height: 52px;
        background: base.$base00;
        position: absolute;
        top: 35%;
        z-index: 99;

        svg {
            stroke: base.$brandPrimaryColor;
        }

        &:hover {
            background: base.$brandPrimaryColor;
        
            svg {
                stroke: base.$base200;
            }
        }
    }

    .elt__cta__button.prev {
        left: -26px;
    }

    .elt__cta__button.next {
        right: -26px;
    }
}
/*** End of Products Slider ***/

/*** Start of Blog Item ***/
.elt__blog__item {
    width: 524px;

    .image {
        width: 100%;
        height: 341px;
        border-radius: 12px;
        margin-bottom: 40px;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .content {
        .meta__info {
            display: flex;
            align-items: center;
            gap: 45px;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .item {
                display: flex;
                gap: 12px;
                align-items: center;
                
                svg {
                    stroke: base.$base400;
                }
                span {
                    @include base.medium__text;
                    color: base.$base400;
                }
            }
        }

        h5 {
            margin-bottom: 12px;

            a {
                color: base.$base100;

                &:hover {
                    color: base.$brandPrimaryColor;
                }
            }
        }

        span {
            @include base.medium__text;
            color: base.$base300;
        }
    }
}
/*** End of Blog Item ***/

/*** Start of Section Title ***/
.section__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    h2 {
        margin-bottom: 0
    }

    .button {
        @include comps.elt__button__c;
    }
}
/*** End of Section Title ***/

/*** Start of Countdown ***/
.elt__countdown__timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    background: base.$FillSecondaryColor;
    border-radius: 12px;

    p, span {
        @include base.medium__text;
        margin: 0;
        color: base.$base50;
    }
}
/*** End of Countdown ***/

/*** Start of Slider Dots ***/
.elt__slider__dots {
    position: absolute;
    bottom: 0 !important;
    z-index: 99;
    text-align: center;

    .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
        background: base.$base700;
    }

    .swiper-pagination-bullet-active {
        background: base.$brandPrimaryColor;
    }
}
/*** End of Slider Dots ***/

/*** Start of Social Profiles ***/
.social__profiles {
    display: flex;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;

    a {
        height: 42px;
        width: 42px;
        line-height: 42px;
        text-align: center;
        border-radius: 50%;
        background: base.$backgroundTertiaryColor;
        
        p {
            color: base.$base200;
        }

        &:hover {
            background: base.$FillPrimaryColor;
        }
    }
}
/*** End of Social Profiles ***/

/*** Start of Breadcrumbs Section ***/
.elt__breadcrumbs__section {
    margin: 48px 0;

    /*V1*/
    .wrapper {
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        height: 250px;

        .bg__img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: 100%;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: rgba($color: base.$backgroundTertiaryColor, $alpha: 0.8);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
                color: base.$base100;
                font-weight: 500;
            }

            .breadcrumbs {
                a {
                    @include base.medium__text;
                    color: base.$base100;
                    text-transform: capitalize;

                    &:hover {
                        color: base.$brandPrimaryColor;
                    }

                    &::after {
                        content: '\f054';
                        font-family: 'Fontawesome';
                        font-size: 10px;
                        padding: 0 12px;
                        color: base.$base200;
                    }
                }

                span {
                    @include base.medium__text;
                    color: base.$base300;
                }
            }
        }
    }

    /*V2*/
    .breadcrumbs__v2 {
        a {
            @include base.medium__text;
            color: base.$base100;
            text-transform: capitalize;

            &:hover {
                color: base.$brandPrimaryColor;
            }

            &::after {
                content: '\f054';
                font-family: 'Fontawesome';
                font-size: 10px;
                padding: 0 12px;
                color: base.$base500;
            }
        }

        span {
            @include base.medium__text;
            color: base.$base500;
        }
    }
}
/*** End of Breadcrumbs Section ***/

/*** Start of Price Filter ***/
.eltshop__price__filter {
    .price-input {
        width: 100%;
        display: flex;
        align-items: center;

        .field{
            width: fit-content;
            display: flex;
            align-items: center;
        }

        span {
            @include base.medium__text;
            color: base.$base300;
        }
    }

    .price-range-slider {
        height: 8px;
        position: relative;
        background: base.$backgroundTertiaryColor;
        border-radius: 6px;
        width: 100%;
        margin: 0 auto;
        margin-top: 24px;

        .progress {
            height: 100%;
            left: 1%;
            right: 37%;
            position: absolute;
            background: base.$brandPrimaryColor;
        }
    }

    .range-input {
        position: relative;

        input {
            all: unset;
            position: absolute;
            width: 100%;
            height: 24px;
            top: -16px;
            background: none;
            pointer-events: none;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            box-shadow: none;
        }

        input[type="range"]::-webkit-slider-thumb {
            height: 24px;
            width: 24px;
            border: 0;
            border-radius: 50%;
            background: base.$brandPrimaryColor;
            pointer-events: auto;
            -webkit-appearance: none;
            cursor: pointer;
            box-shadow: inset 0 0 0 2px base.$base100;
        }
    
        input[type="range"]::-moz-range-thumb {
            width: 24px;
            height: 24px;
            border: 0;
            border-radius: 50%;
            background: base.$brandPrimaryColor;
            pointer-events: auto;
            -moz-appearance: none;
            cursor: pointer;
            box-shadow: inset 0 0 0 2px base.$base100;
        }
    }
}
/*** End of Price Filter ***/

/*** Start of Nice Select ***/
.nice-select {
    all: unset;
    @include utils.transition-03s;
    position: relative;
    background: transparent;
    border: 1px solid base.$base700;
    padding: 12px 20px;
    padding-right: 50px;
    border-radius: 8px;
    align-content: center;

    .current {
        @include base.medium__text;
        color: base.$base200;
        font-size: 16px;
        line-height: 16px;
    }

    &::after {
        border-bottom: 2px solid base.$base200;
        border-right: 2px solid base.$base200;
        margin-top: 0;
        right: 20px;
        top: 16px;
        height: 10px;
        width: 10px;
    }

    &:hover {
        border-color: base.$base00;
    }

    &.active,
    &.open,
    &:focus {
        border-color: base.$brandPrimaryColor;
    }

    .list {
        @include utils.primary__blur;
        min-width: 198px;
        left: unset;
        right: 0;
        z-index: 99999;

        .option {
            @include base.medium__text;
            line-height: 40px !important;
            text-align: center;

            &:hover,
            &.focus,
            &.selected.focus {
                background: base.$base200;
                color: base.$base800;
            }
        }
    }
}
/*** End of Nice Select ***/

/*** Start of Pagination ***/
.elt__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

    form {
        display: flex;
        align-items: center;
        gap: 24px;

        label,
        span {
            @include base.medium__text;
            color: base.$base300;
        }
    }

    .next__prev__btn {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
            @include base.medium__text;
            padding: 0 24px;
            border: 1px solid base.$base500;
            border-radius: 8px;
            color: base.$base500;
            background: transparent;
            height: 46px;
            line-height: 46px;

            svg {
                height: 20px;
                width: 20px;
                stroke: base.$base500;
                margin-top: -3px;
            }

            &:hover {
                color: base.$base200;
                border-color: base.$base200;

                svg {
                    stroke: base.$base200;
                }
            }
        }
    }
}
/*** End of Pagination ***/

/* ==================== Responsive ==================== */
@media (min-width: 200px) and (max-width: 289px) {
    /*Section Title*/
    .section__title {
        margin-bottom: 24px;
        flex-direction: column;
        gap: 5px;
        h2 {
            text-align: center;
        }
    }
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 4px;
        padding: 5px;
        border-radius: 15px;
        justify-content: space-around;
        button {
            padding: 6px 14px;
        }
    }
    /*Product Style*/
    .elt__product__style {
        width: 176px;
        .image {
            height: 193px;
            margin-bottom: 10px;
            .tag {
                top: 8px;
                left: 8px;
                padding: 5px 12px;
            }
            .addtocart {
                width: 118px;
            }
        }
        .info .product__name h6 {
            margin-top: 4px;
            margin-bottom: 8px;
        }
        &:hover .image .img {
            height: 176px;
        }
    }
    /*Products Slider*/
    .elt__mainslider__products {
        .elt__cta__button {
            height: 36px;
            width: 36px;
            line-height: 36px;
            top: 30%;
        }
        .elt__cta__button.prev {
            left: -10px;
        }
        .elt__cta__button.next {
            right: -10px;
        }
    }
    /*Countdown*/
    .elt__countdown__timer {
        padding: 10px 14px;
    }
    /*Blog Item*/
    .elt__blog__item {
        width: 176px;
        .image {
            height: 114px;
            margin-bottom: 10px;
            border-radius: 8px;
        }
        .content {
            .meta__info {
                gap: 10px;
                margin-bottom: 8px;
                .item {
                    gap: 4px;
                    svg {
                        height: 12px;
                        width: 12px;
                    }
                }
            }
            h5 {
                margin-bottom: 4px;
            }
        }
    }
    /*Social Profiles*/
    .social__profiles {
        gap: 5px;
        a {
            height: 36px;
            width: 36px;
            line-height: 36px;
        }
    }
    /*Breadcrumbs Section*/
    .elt__breadcrumbs__section {
        margin: 26px 0;
        .wrapper {
            height: 160px;
            border-radius: 10px;
            .content {
                .breadcrumbs a::after {
                    font-size: 8px;
                    padding: 0 8px;
                }
                .title {
                    line-height: 22px;
                }
            }
        }
        .breadcrumbs__v2 a::after {
            font-size: 8px;
            padding: 0 8px;
        }
    }
    /*Pagination*/
    .elt__pagination {
        margin-top: 30px;
        flex-direction: column;
        gap: 10px;
        form {
            gap: 10px;
            flex-wrap: wrap;
        }
        .next__prev__btn {
            gap: 12px;
            button {
                padding: 0 12px;
                height: 40px;
            }
        }
    }
    /*Nice Select*/
    .nice-select {
        padding: 7px 15px;
        padding-right: 38px;
        &::after {
            top: 15px;
            height: 8px;
            width: 8px;
            right: 18px;
        }
        .list {
            min-width: 174px;
        }
    }
}

@media (min-width: 290px) and (max-width: 414px) {
    /*Section Title*/
    .section__title {
        margin-bottom: 28px;
        flex-direction: column;
        gap: 10px;
        h2 {
            text-align: center;
        }
    }
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 6px;
        padding: 6px;
        border-radius: 20px;
        justify-content: center;
        button {
            padding: 8px 18px;
        }
    }
    /*Product Style*/
    .elt__product__style {
        width: 266px;
        .image {
            height: 291px;
            margin-bottom: 15px;
            .tag {
                top: 12px;
                left: 12px;
                padding: 5px 12px;
            }
            .addtocart {
                width: 133px;
            }
        }
        .info .product__name h6 {
            margin-top: 6px;
            margin-bottom: 10px;
        }
        &:hover .image .img {
            height: 273px;
        }
    }
    /*Products Slider*/
    .elt__mainslider__products {
        .elt__cta__button {
            height: 42px;
            width: 42px;
            line-height: 42px;
            top: 33%;
        }
        .elt__cta__button.prev {
            left: -10px;
        }
        .elt__cta__button.next {
            right: -10px;
        }
    }
    /*Countdown*/
    .elt__countdown__timer {
        padding: 10px 14px;
    }
    /*Blog Item*/
    .elt__blog__item {
        width: 266px;
        .image {
            height: 173px;
            margin-bottom: 14px;
            border-radius: 8px;
        }
        .content {
            .meta__info {
                gap: 15px;
                margin-bottom: 10px;
                .item {
                    gap: 5px;
                    svg {
                        height: 14px;
                        width: 14px;
                    }
                }
            }
            h5 {
                margin-bottom: 5px;
            }
        }
    }
    /*Social Profiles*/
    .social__profiles {
        gap: 14px;
    }
    /*Breadcrumbs Section*/
    .elt__breadcrumbs__section {
        margin: 28px 0;
        .wrapper {
            height: 180px;
            border-radius: 15px;
            .content .breadcrumbs a::after {
                font-size: 8px;
                padding: 0 8px;
            }
        }
        .breadcrumbs__v2 a::after {
            font-size: 8px;
            padding: 0 8px;
        }
    }
    /*Pagination*/
    .elt__pagination {
        margin-top: 30px;
        flex-direction: column;
        gap: 15px;
        .next__prev__btn {
            gap: 12px;
            button {
                padding: 0 16px;
                height: 40px;
            }
        }
    }
    /*Nice Select*/
    .nice-select {
        padding: 7px 15px;
        padding-right: 38px;
        &::after {
            top: 15px;
            height: 8px;
            width: 8px;
            right: 18px;
        }
    }
}

@media (min-width: 415px) and (max-width: 575px) {
    /*Section Title*/
    .section__title {
        margin-bottom: 32px;
        flex-direction: column;
        gap: 15px;
        h2 {
            text-align: center;
        }
    }
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 4px;
        padding: 7px;
        button {
            padding: 5px 12px;
        }
    }
    /*Products Slider*/
    .elt__mainslider__products {
        .elt__cta__button {
            height: 42px;
            width: 42px;
            line-height: 42px;
        }
        .elt__cta__button.prev {
            left: -10px;
        }
        .elt__cta__button.next {
            right: -10px;
        }
    }
    /*Countdown*/
    .elt__countdown__timer {
        padding: 10px 14px;
    }
    /*Blog Item*/
    .elt__blog__item {
        width: 391px;
        .image {
            height: 255px;
            margin-bottom: 28px;
        }
        .content {
            .meta__info {
                gap: 28px;
                margin-bottom: 12px;
                .item {
                    gap: 8px;
                    svg {
                        height: 14px;
                        width: 14px;
                    }
                }
            }
            h5 {
                margin-bottom: 10px;
            }
        }
    }
    /*Social Profiles*/
    .social__profiles {
        gap: 20px;
    }
    /*Breadcrumbs Section*/
    .elt__breadcrumbs__section {
        margin: 30px 0;
        .wrapper {
            height: 190px;
        }
    }
    /*Pagination*/
    .elt__pagination {
        margin-top: 40px;
        flex-direction: column;
        gap: 15px;
        .next__prev__btn {
            gap: 12px;
            button {
                padding: 0 16px;
                height: 40px;
            }
        }
    }
    /*Nice Select*/
    .nice-select {
        padding: 7px 15px;
        padding-right: 38px;
        &::after {
            top: 15px;
            height: 8px;
            width: 8px;
            right: 18px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /*Section Title*/
    .section__title {
        margin-bottom: 36px;
    }
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 13px;
        padding: 8px;
        button {
            padding: 8px 18px;
        }
    }
    /*Product Style*/
    .elt__product__style {
        width: 251px;
        .image {
            height: 275px;
            margin-bottom: 20px;
            .tag {
                top: 12px;
                left: 12px;
                padding: 5px 12px;
            }
            .addtocart {
                width: 154px;
            }
        }
        .info .product__name h6 {
            margin-top: 6px;
            margin-bottom: 10px;
        }
        &:hover .image .img {
            height: 255px;
        }
    }
    /*Products Slider*/
    .elt__mainslider__products .elt__cta__button {
        height: 42px;
        width: 42px;
        line-height: 42px;
        top: 31%;
    }
    /*Countdown*/
    .elt__countdown__timer {
        padding: 12px 16px;
    }
    /*Blog Item*/
    .elt__blog__item {
        width: 251px;
        .image {
            height: 164px;
            margin-bottom: 16px;
            border-radius: 10px;
        }
        .content {
            .meta__info {
                gap: 15px;
                margin-bottom: 10px;
                .item {
                    gap: 5px;
                    svg {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
            h5 {
                margin-bottom: 6px;
            }
        }
    }
    /*Social Profiles*/
    .social__profiles {
        gap: 9px;
    }
    /*Breadcrumbs Section*/
    .elt__breadcrumbs__section {
        margin: 34px 0;
        .wrapper {
            height: 200px;
        }
    }
    /*Pagination*/
    .elt__pagination {
        margin-top: 50px;
        .next__prev__btn {
            gap: 14px;
            button {
                padding: 0 18px;
                height: 42px;
            }
        }
    }
    /*Nice Select*/
    .nice-select {
        padding: 8px 16px;
        padding-right: 40px;
        &::after {
            top: 15px;
            height: 8px;
            width: 8px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*Section Title*/
    .section__title {
        margin-bottom: 40px;
    }
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 32px;
        padding: 10px;
    }
    /*Product Style*/
    .elt__product__style {
        width: 339px;
        .image {
            height: 371px;
            margin-bottom: 30px;
        }
        &:hover .image .img {
            height: 351px;
        }
    }
    /*Blog Item*/
    .elt__blog__item {
        width: 339px;
        .image {
            height: 221px;
            margin-bottom: 22px;
        }
        .content .meta__info {
            gap: 22px;
            margin-bottom: 12px;
            .item {
                gap: 8px;
                svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
    /*Breadcrumbs Section*/
    .elt__breadcrumbs__section {
        margin: 38px 0;
        .wrapper {
            height: 220px;
        }
    }
    /*Pagination*/
    .elt__pagination {
        margin-top: 60px;
        .next__prev__btn button {
            padding: 0 18px;
            height: 42px;
        }
    }
    /*Nice Select*/
    .nice-select {
        padding: 8px 16px;
        padding-right: 40px;
        &::after {
            top: 17px;
            height: 8px;
            width: 8px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*Section Title*/
    .section__title {
        margin-bottom: 44px;
    }
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 35px;
        padding: 10px;
    }
    /*Product Style*/
    .elt__product__style {
        width: 301px;
        .image {
            height: 330px;
            margin-bottom: 30px;
            .img {
                border-radius: 14px;
            }
            .tag {
                top: 15px;
                left: 15px;
                padding: 7px 15px;
            }
        }
        .info .product__name h6 {
            margin-top: 10px;
            margin-bottom: 14px;
        }
        &:hover .image .img {
            height: 312px;
        }
    }
    /*Products Slider*/
    .elt__mainslider__products .elt__cta__button {
        top: 32%;
    }
    /*Blog Item*/
    .elt__blog__item {
        width: 301px;
        .image {
            height: 196px;
            margin-bottom: 20px;
        }
        .content {
            .meta__info {
                gap: 20px;
                margin-bottom: 10px;
                .item {
                    gap: 6px;
                    svg {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
            h5 {
                margin-bottom: 10px;
            }
        }
    }
    /*Breadcrumbs Section*/
    .elt__breadcrumbs__section {
        margin: 44px 0;
    }
    /*Pagination*/
    .elt__pagination {
        margin-top: 70px;
        .next__prev__btn button {
            padding: 0 18px;
            height: 42px;
        }
    }
    /*Nice Select*/
    .nice-select {
        padding: 8px 16px;
        padding-right: 40px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    /*Product Style*/
    .elt__product__style {
        width: 272px;
        .image {
            height: 298px;
            margin-bottom: 30px;
            .img {
                border-radius: 14px;
            }
            .tag {
                top: 14px;
                left: 14px;
                padding: 6px 14px;
            }
        }
        .info .product__name h6 {
            margin-top: 10px;
            margin-bottom: 14px;
        }
        &:hover .image .img {
            height: 278px;
        }
    }
    /*Blog Item*/
    .elt__blog__item {
        width: 360px;
        .image {
            height: 234px;
            margin-bottom: 24px;
        }
        .content .meta__info {
            gap: 25px;
            margin-bottom: 12px;
        }
    }
    /*Pagination*/
    .elt__pagination {
        margin-top: 80px;
    }
}

@media (min-width: 1400px) and (max-width: 1639px) {
    /*Product Style*/
    .elt__product__style {
        width: 331px;
        .image {
            height: 362px;
            margin-bottom: 30px;
            .tag {
                top: 15px;
                left: 15px;
                padding: 7px 15px;
            }
        }
        &:hover .image .img {
            height: 342px;
        }
    }
    /*Products Slider*/
    .elt__mainslider__products {
        .elt__cta__button.prev {
            left: -11px;
        }
        .elt__cta__button.next {
            right: -11px;
        }
    }
    /*Blog Item*/
    .elt__blog__item {
        width: 444px;
        .image {
            height: 289px;
            margin-bottom: 32px;
        }
        .content {
            h5 {
                margin-bottom: 8px;
            }
            .meta__info {
                gap: 35px;
                margin-bottom: 16px;
            }
        }
    }
    /*Pagination*/
    .elt__pagination {
        margin-top: 90px;
    }
}

@media (max-width: 575px) {
    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1640px) {
    .elt__breadcrumbs__section .wrapper .bg__img {
        width: 100%;
        height: auto;
    }
}