@use '../utilities/index' as utils;
@use '../base/index' as base;
@use '../components/index' as comps;

/*** Start of Custom Curosr ***/
$cursor__dot__size: 10px;
$cursor__outline__size: 12px;

#cursor__dot,
#cursor__dot__outline {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    z-index: 9999999999;
}

#cursor__dot {
    width: $cursor__dot__size;
    height: $cursor__dot__size;
    background: base.$brandPrimaryColor;
    opacity: 1;
}

#cursor__dot__outline {
    @include utils.transition-03s;
    width: $cursor__outline__size;
    height: $cursor__outline__size;
    background: rgba($color: base.$brandSecondaryColor, $alpha: 0.3);
}

@media (max-width: 991px) {
    #cursor__dot {
        display: none;
    }
}
/*** End of Custom Curosr ***/

/*** Start of Tabs and Nav ***/
.elt__tabsandnav {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid base.$base700;
    border-radius: 50px;

    button {
        @include base.medium__text;
        color: base.$base200;
        padding: 12px 20px;
        border-radius: 32px;
        background: transparent;
    }

    button.active {
        font-weight: 600;
        color: base.$base00;
        background: base.$backgroundTertiaryColor;
    }
}
/*** End of Tabs and Nav ***/

/*** Start of Product Style ***/
.elt__product__style {
    width: 389px;
    height: auto;

    .image {
        width: 100%;
        height: 426px;
        overflow: hidden;
        position: relative;
        margin-bottom: 36px;

        .img {
            @include utils.transition-03s;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .tag {
            @include base.medium__text;
            position: absolute;
            top: 16px;
            left: 16px;
            text-transform: uppercase;
            background: rgba($color: base.$base00, $alpha: 0.4);
            border-radius: 30px;
            padding: 8px 16px;
            color: base.$base100;
            font-weight: 500;
            z-index: 99;
        }

        .addtocart {
            @include utils.transition-06s;
            @include comps.elt__button__a;
            position: absolute;
            bottom: -48px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 99;
            width: 180px;
        }
    }

    .info {
        .category {
            @include base.medium__text;
            color: base.$base400;

            &:hover {
                color: base.$brandPrimaryColor;
            }
        }

        .product__name {
            color: base.$base100;
            font-weight: 500;

            &:hover {
                color: base.$brandPrimaryColor;
            }

            h6 {
                margin-top: 10px;
                margin-bottom: 14px;
            }
        }

        .price {
            color: base.$base200;
            font-weight: 600;
            margin-bottom: 0;

            span {
                @include base.small__text;
                color: base.$base400;
                text-decoration: line-through;
                font-weight: 400;
            }
        }
    }

    &:hover {
        .image {
            .img {
                height: 402px;
            }

            .addtocart {
                bottom: 0;
            }
        }
    }
}
/*** End of Product Style ***/

/* ==================== Responsive ==================== */
@media (min-width: 200px) and (max-width: 289px) {
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 4px;
        padding: 5px;
        border-radius: 15px;
        justify-content: space-around;

        button {
            padding: 6px 14px;
        }
    }
    /*Product Style*/
    .elt__product__style {
        width: 176px;
    
        .image {
            height: 193px;
            margin-bottom: 10px;
    
            .tag {
                top: 8px;
                left: 8px;
                padding: 5px 12px;
            }
    
            .addtocart {
                width: 118px;
            }
        }
    
        .info .product__name h6 {
            margin-top: 4px;
            margin-bottom: 8px;
        }
    
        &:hover .image .img {
            height: 176px;
        }
    }
}

@media (min-width: 290px) and (max-width: 414px) {
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 6px;
        padding: 6px;
        border-radius: 20px;
        justify-content: center;

        button {
            padding: 8px 18px;
        }
    }
    /*Product Style*/
    .elt__product__style {
        width: 266px;
    
        .image {
            height: 291px;
            margin-bottom: 15px;
    
            .tag {
                top: 12px;
                left: 12px;
                padding: 5px 12px;
            }
    
            .addtocart {
                width: 133px;
            }
        }
    
        .info .product__name h6 {
            margin-top: 6px;
            margin-bottom: 10px;
        }
    
        &:hover .image .img {
            height: 273px;
        }
    }
}

@media (min-width: 415px) and (max-width: 575px) {
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 4px;
        padding: 7px;

        button {
            padding: 5px 12px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 13px;
        padding: 8px;

        button {
            padding: 8px 18px;
        }
    }
    /*Product Style*/
    .elt__product__style {
        width: 251px;
    
        .image {
            height: 275px;
            margin-bottom: 20px;
    
            .tag {
                top: 12px;
                left: 12px;
                padding: 5px 12px;
            }

            .addtocart {
                width: 154px;
            }
        }

        .info .product__name h6 {
            margin-top: 6px;
            margin-bottom: 10px;
        }
    
        &:hover .image .img {
            height: 255px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 32px;
        padding: 10px;
    }
    /*Product Style*/
    .elt__product__style {
        width: 339px;
    
        .image {
            height: 371px;
            margin-bottom: 30px;
        }
    
        &:hover .image .img {
            height: 351px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*Tabs and Nav*/
    .elt__tabsandnav {
        gap: 35px;
        padding: 10px;
    }
    /*Product Style*/
    .elt__product__style {
        width: 301px;

        .image {
            height: 330px;
            margin-bottom: 30px;

            .img {
                border-radius: 14px;
            }

            .tag {
                top: 15px;
                left: 15px;
                padding: 7px 15px;
            }
        }

        .info .product__name h6 {
            margin-top: 10px;
            margin-bottom: 14px;
        }

        &:hover .image .img {
            height: 312px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    /*Product Style*/
    .elt__product__style {
        width: 272px;
    
        .image {
            height: 298px;
            margin-bottom: 30px;
    
            .img {
                border-radius: 14px;
            }
    
            .tag {
                top: 14px;
                left: 14px;
                padding: 6px 14px;
            }
        }
    
        .info .product__name h6 {
            margin-top: 10px;
            margin-bottom: 14px;
        }
    
        &:hover .image .img {
            height: 278px;
        }
    }
}

@media (min-width: 1400px) and (max-width: 1639px) {
    /*Product Style*/
    .elt__product__style {
        width: 331px;
    
        .image {
            height: 362px;
            margin-bottom: 30px;
    
            .tag {
                top: 15px;
                left: 15px;
                padding: 7px 15px;
            }
        }
    
        &:hover .image .img {
            height: 342px;
        }
    }
}

@media (max-width: 575px) {
    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}