@use '../base/index' as base;

/* Seperator */
.horizontal__seperator {
    display: block;
    height: 1px;
    width: 100%;
    background: base.$base800;
    flex-shrink: 0;
    flex-grow: 0;
}

.vertical__seperator {
    display: block;
    height: 100%;
    width: 1px;
    background: base.$base800;
    flex-shrink: 0;
    flex-grow: 0;
}