
@media (max-width: 289px) {}

@media (min-width: 290px) and (max-width: 414px) {
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
        .fes__button__a {
            font-size: 14px;
            line-height: 22px;
            padding: 10px 20px;
        }
        /* Mega Menu */
        .fes__header__bottom .header__search {
            height: 36px;
            padding: 5px;
            width: 180px;
        }
        .fes__header__bottom .header__search i {
            font-size: 14px;
            line-height: 14px;
        }
        .fes__header__bottom input {
            font-size: 12px;
        }
        .fes__header .fes__header__top {
            padding: 10px 0;
            padding-top: 0px;
        }
        .fes__header .fes__header__top .left {
            justify-content: center;
            margin-bottom: 5px;
        }
        .fes__header .fes__header__top li,
        .fes__header .fes__header__top li a {
            font-size: 12px;
            line-height: 18px;
        }
        .fes__header .fes__header__top li i {
            font-size: 10px;
            margin-right: 2px;
        }
        .fes__header .fes__header__top li.phone a {
            margin-left: 2px;
        }
        .fes__header .fes__header__top li .phone__anim {
            width: 16px;
            height: 16px;
            margin-right: 2px;
        }
        .fes__header .fes__header__top li .phone__anim::before,
        .fes__header .fes__header__top li .phone__anim::after {
            width: 16px;
            height: 16px;
            top: calc(50% - 9px);
            left: calc(50% - 8px);
        }
        .fes__header .fes__header__top .middle {
            justify-content: flex-start;
            padding-right: 0;
        }
        .fes__header .fes__header__top .right {
            gap: 10px;
        }
        .fes__header .fes__header__top .right li a i {
            font-size: 16px;
        }
        .fes__header .fes__header__top .right li:first-child {
            margin-right: 0;
        }
        .fes__header .fes__header__top .right li a .fes__amount {
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 12px;
        }
        .fes__header .fes__header__top .right li .fes__header__cart::before {
            width: 16px;
            height: 16px;
            top: calc(50% - 9px);
            left: 0px;
        }
        .fes__header .fes__header__top .right .cart__wishlist {
            width: 110px;
        }
        /*Right Side Menu*/
        .fes__cart__slider .main__cart__area,
        .fes__right__slider__menu .fes__rsm__wrapper,
        .fes__mobile__menu .fes__mblmenu__wrapper {
            width: 255px;
            padding: 20px 10px;
        }
        .fes__cart__slider .fes__cart__closebtn,
        .fes__right__slider__menu .fes__rsm__closebtn {
            right: 257px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .pages li a {
            padding: 8px 0;
            font-size: 14px;
            line-height: 14px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .about__company p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__language,
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__currency {
            height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency p {
            font-size: 16px;
            line-height: 36px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency i {
            font-size: 16px;
            line-height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter {
            height: 50px;
            border-radius: 50px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter button {
            width: 60px;
            font-size: 16px;
        }
        .fes__social__links li a {
            width: 34px;
            height: 34px;
            font-size: 16px;
            line-height: 34px;
        }
        .fes__cart__slider .main__cart__area .fes__cart__header h3{
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .fes__cart__slider .main__cart__area .fes__cart__header span {
            font-size: 24px;
            line-height: 26px;
            height: 26px;
            margin-bottom: 0;
            font-weight: 400;
            padding: 0 8px;
        }
        /*Mobile Menu*/
        .fes__mblmenu__btn {
            padding: 11px 7px;
            font-size: 12px;
            line-height: 12px;
        }
        .fes__mobile__menu .fes__mblmenu__wrapper .fes__mblmenu__closebtn {
            left: 257px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        .fes__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
}

@media (min-width: 415px) and (max-width: 575px) {
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
        /* Mega Menu */
        .fes__header__bottom .header__search {
            height: 40px;
            padding: 5px;
        }
        .fes__header__bottom .header__search i {
            font-size: 14px;
            line-height: 14px;
        }
        .fes__header__bottom input {
            font-size: 14px;
        }
        .fes__header .fes__header__top {
            padding: 10px 0;
            padding-top: 0px;
        }
        .fes__header .fes__header__top .left {
            justify-content: center;
            margin-bottom: 5px;
        }
        .fes__header .fes__header__top li,
        .fes__header .fes__header__top li a {
            font-size: 12px;
            line-height: 18px;
        }
        .fes__header .fes__header__top li i {
            font-size: 10px;
            margin-right: 2px;
        }
        .fes__header .fes__header__top li.phone a {
            margin-left: 2px;
        }
        .fes__header .fes__header__top li .phone__anim {
            width: 16px;
            height: 16px;
            margin-right: 2px;
        }
        .fes__header .fes__header__top li .phone__anim::before,
        .fes__header .fes__header__top li .phone__anim::after {
            width: 16px;
            height: 16px;
            top: calc(50% - 9px);
            left: calc(50% - 8px);
        }
        .fes__header .fes__header__top .middle {
            justify-content: flex-start;
        }
        .fes__header .fes__header__top .right li a i {
            font-size: 16px;
        }
        .fes__header .fes__header__top .right {
            gap: 15px;
        }
        .fes__header .fes__header__top .right li a .fes__amount {
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 12px;
        }
        .fes__header .fes__header__top .right li .fes__header__cart::before {
            width: 16px;
            height: 16px;
            top: calc(50% - 9px);
            left: 0px;
        }
        .fes__header .fes__header__top .right .cart__wishlist {
            width: 110px;
        }
        /*Right Side Menu*/
        .fes__cart__slider .main__cart__area,
        .fes__right__slider__menu .fes__rsm__wrapper {
            width: 350px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .pages li a {
            padding: 8px 0;
            font-size: 14px;
            line-height: 14px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .about__company p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__language,
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__currency {
            height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency p {
            font-size: 16px;
            line-height: 36px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency i {
            font-size: 16px;
            line-height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter {
            height: 50px;
            border-radius: 50px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter button {
            width: 60px;
            font-size: 16px;
        }
        .fes__social__links li a {
            width: 34px;
            height: 34px;
            font-size: 16px;
            line-height: 34px;
        }
        .fes__cart__slider .fes__cart__closebtn,
        .fes__right__slider__menu .fes__rsm__closebtn {
            right: 360px;
        }
        /*Mobile Menu*/
        .fes__mblmenu__btn {
            padding: 10px;
        }
        .fes__mobile__menu .fes__mblmenu__wrapper {
            width: 350px;
        }
        .fes__mobile__menu .fes__mblmenu__wrapper .fes__mblmenu__closebtn {
            left: 360px;
        }
        .fes__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
}

@media (min-width: 576px) and (max-width: 767px) {
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
        /* Mega Menu */
        .fes__header__bottom .header__search {
            height: 40px;
            padding: 5px;
        }
        .fes__header__bottom .header__search i {
            font-size: 14px;
            line-height: 14px;
        }
        .fes__header__bottom input {
            font-size: 14px;
        }
        .fes__header .fes__header__top {
            padding: 10px 0;
            padding-top: 0px;
        }
        .fes__header .fes__header__top .left {
            justify-content: center;
            margin-bottom: 5px;
        }
        .fes__header .fes__header__top li i {
            font-size: 10px;
            margin-right: 2px;
        }
        .fes__header .fes__header__top li.phone a {
            margin-left: 2px;
        }
        .fes__header .fes__header__top li .phone__anim {
            width: 16px;
            height: 16px;
            margin-right: 2px;
        }
        .fes__header .fes__header__top li .phone__anim::before,
        .fes__header .fes__header__top li .phone__anim::after {
            width: 16px;
            height: 16px;
            top: calc(50% - 9px);
            left: calc(50% - 8px);
        }
        .fes__header .fes__header__top .middle {
            justify-content: flex-start;
        }
        .fes__header .fes__header__top .right li a i {
            font-size: 16px;
        }
        .fes__header .fes__header__top .right {
            gap: 15px;
        }
        .fes__header .fes__header__top .right li a .fes__amount {
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 12px;
        }
        .fes__header .fes__header__top .right li .fes__header__cart::before {
            width: 16px;
            height: 16px;
            top: calc(50% - 9px);
            left: 0px;
        }
        .fes__header .fes__header__top .right .cart__wishlist {
            width: 110px;
        }
        /*Right Side Menu*/
        .fes__cart__slider .main__cart__area,
        .fes__right__slider__menu .fes__rsm__wrapper {
            width: 350px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .pages li a {
            padding: 8px 0;
            font-size: 14px;
            line-height: 14px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .about__company p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__language,
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__currency {
            height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency p {
            font-size: 16px;
            line-height: 36px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency i {
            font-size: 16px;
            line-height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter {
            height: 50px;
            border-radius: 50px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter button {
            width: 60px;
            font-size: 16px;
        }
        .fes__social__links li a {
            width: 34px;
            height: 34px;
            font-size: 16px;
            line-height: 34px;
        }
        .fes__cart__slider .fes__cart__closebtn,
        .fes__right__slider__menu .fes__rsm__closebtn {
            right: 360px;
        }
        /*Mobile Menu*/
        .fes__mblmenu__btn {
            padding: 10px;
        }
        .fes__mobile__menu .fes__mblmenu__wrapper {
            width: 350px;
        }
        .fes__mobile__menu .fes__mblmenu__wrapper .fes__mblmenu__closebtn {
            left: 360px;
        }
        .fes__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
        /* Mega Menu */
        .fes__header__bottom .header__search {
            height: 40px;
            padding: 5px;
        }
        .fes__header__bottom .header__search i {
            font-size: 14px;
            line-height: 14px;
        }
        .fes__header__bottom input {
            font-size: 14px;
        }
        .fes__header .fes__header__top {
            padding: 10px 0;
        }
        .fes__header .fes__header__top li,
        .fes__header .fes__header__top li a {
            font-size: 12px;
            line-height: 18px;
        }
        .fes__header .fes__header__top li:first-child {
            margin-right: 5px;
        }
        .fes__header .fes__header__top li i {
            font-size: 10px;
            margin-right: 2px;
        }
        .fes__header .fes__header__top li.phone a {
            margin-left: 2px;
        }
        .fes__header .fes__header__top li .phone__anim {
            width: 16px;
            height: 16px;
            margin-right: 2px;
        }
        .fes__header .fes__header__top li .phone__anim::before,
        .fes__header .fes__header__top li .phone__anim::after {
            width: 16px;
            height: 16px;
            top: calc(50% - 9px);
            left: calc(50% - 8px);
        }
        .fes__header .fes__header__top .middle {
            padding: 0;
        }
        .fes__header .fes__header__top .right li a i {
            font-size: 16px;
        }
        .fes__header .fes__header__top .right {
            gap: 15px;
        }
        .fes__header .fes__header__top .right li a .fes__amount {
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 12px;
        }
        .fes__header .fes__header__top .right li .fes__header__cart::before {
            width: 16px;
            height: 16px;
            top: calc(50% - 9px);
            left: 0px;
        }
        .fes__header .fes__header__top .right .cart__wishlist {
            width: 110px;
        }
        /*Right Side Menu*/
        .fes__cart__slider .main__cart__area,
        .fes__right__slider__menu .fes__rsm__wrapper {
            width: 350px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .pages li a {
            padding: 8px 0;
            font-size: 14px;
            line-height: 14px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .about__company p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__language,
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__currency {
            height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency p {
            font-size: 16px;
            line-height: 36px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency i {
            font-size: 16px;
            line-height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter {
            height: 50px;
            border-radius: 50px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter button {
            width: 60px;
            font-size: 16px;
        }
        .fes__social__links li a {
            width: 34px;
            height: 34px;
            font-size: 16px;
            line-height: 34px;
        }
        .fes__cart__slider .fes__cart__closebtn,
        .fes__right__slider__menu .fes__rsm__closebtn {
            right: 360px;
        }
        /*Mobile Menu*/
        .fes__mblmenu__btn {
            padding: 10px;
        }
        .fes__mobile__menu .fes__mblmenu__wrapper {
            width: 350px;
        }
        .fes__mobile__menu .fes__mblmenu__wrapper .fes__mblmenu__closebtn {
            left: 360px;
        }
        .fes__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
        /* Mega Menu */
        .fes__header .fes__header__top {
            padding: 10px 0;
        }
        .fes__header__bottom .main__nav li a {
            padding: 10px 0;
            font-size: 14px;
            line-height: 14px;
        }
        .fes__header__bottom .main__nav li {
            margin: 0 7px;
        }
        .fes__header__bottom .main__nav li a i {
            font-size: 8px;
            margin-left: 0;
        }
        .fes__header__bottom .fes__browseall {
            gap: 0;
        }
        .fes__header__bottom .fes__browseall li a {
            gap: 10px;
            font-size: 14px;
            line-height: 14px;
            padding: 10px;
        }
        .fes__header__bottom .fes__browseall li a i.fes__arrow {
            font-size: 8px;
        }
        .fes__header__bottom .fes__browseall li a i {
            font-size: 14px;
        }
        .mega__category__menu .categories__list {
            padding: 10px 0;
            width: 190px;
        }
        .mega__category__menu .categories__list li {
            font-size: 12px;
            line-height: 12px;
            width: 200px;
            padding: 10px;
            padding-right: 20px;
        }
        .mega__category__menu .categories__list li .cetgory__submenu {
            width: 719px;
            left: 212px;
            height: 202px;
            padding: 10px;
        }
        .mega__category__menu .categories__list li:hover .cetgory__submenu {
            top: 5px;
        }
        .mega__category__menu .cetgory__submenu .item {
            margin-bottom: 9px;
        }
        .mega__category__menu .cetgory__submenu .item .image {
            width: 50px;
            height: 50px;
        }
        .mega__category__menu .cetgory__submenu .item .text {
            width: 167px;
        }
        .mega__category__menu .cetgory__submenu .item .text h3 {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;
        }
        .mega__category__menu .cetgory__submenu .item .text p {
            font-size: 12px;
            line-height: 18px;
        }
        .fes__header__bottom .main__nav li .fes__megamenu h4 {
            font-size: 22px;
            line-height: 22px;
            font-weight: 400;
        }
        .fes__header__bottom .main__nav li .fes__megamenu li a {
            font-size: 12px;
            line-height: 12px;
            width: 184px;
        }
        .fes__header__bottom .main__nav .has__tiny__menu .fes__tinymenu {
            left: 50%;
            transform: translateX(-50%);
        }
        .fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu .fes__tinymenu {
            transform: unset;
        }
        .fes__header__bottom .main__nav .has__tiny__menu .fes__tinymenu li a {
            width: 210px;
        }
        .fes__header__bottom .header__search {
            width: 200px;
            height: 40px;
            padding: 5px;
        }
        .fes__header__bottom .header__search i {
            font-size: 14px;
            line-height: 14px;
        }
        .fes__header__bottom input {
            font-size: 14px;
        }
        .fes__header .fes__header__top li, .fes__header .fes__header__top li a {
            font-size: 12px;
            line-height: 18px;
        }
        .fes__header .fes__header__top li i {
            font-size: 12px;
            margin-right: 5px;
        }
        .fes__header .fes__header__top li .phone__anim {
            width: 18px;
            height: 18px;
            margin-right: 5px;
        }
        .fes__header .fes__header__top .right li a i {
            font-size: 16px;
        }
        .fes__header .fes__header__top .right {
            gap: 15px;
        }
        .fes__header .fes__header__top .right li a .fes__amount {
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 12px;
        }
        .fes__header .fes__header__top .right .cart__wishlist {
            width: 110px;
        }
        /*Right Side Menu*/
        .fes__cart__slider .main__cart__area,
        .fes__right__slider__menu .fes__rsm__wrapper {
            width: 350px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .pages li a {
            padding: 8px 0;
            font-size: 14px;
            line-height: 14px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .about__company p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__language,
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__currency {
            height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency p {
            font-size: 16px;
            line-height: 36px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .lang__currency i {
            font-size: 16px;
            line-height: 40px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter {
            height: 50px;
            border-radius: 50px;
        }
        .fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter button {
            width: 60px;
            font-size: 16px;
        }
        .fes__social__links li a {
            width: 34px;
            height: 34px;
            font-size: 16px;
            line-height: 34px;
        }
        .fes__cart__slider .fes__cart__closebtn,
        .fes__right__slider__menu .fes__rsm__closebtn {
            right: 360px;
        }
        /*Mobile Menu*/
        .fes__mobile__menu .fes__mblmenu__wrapper {
            width: 350px;
        }
        .fes__mobile__menu .fes__mblmenu__wrapper .fes__mblmenu__closebtn {
            left: 360px;
        }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    /*===== Home Page =====*/
        /* Mega Menu */
        .fes__header__bottom .main__nav li a {
            font-size: 14px;
            line-height: 14px;
        }
        .fes__header__bottom .main__nav li {
            margin: 0 10px;
        }
        .fes__header__bottom .main__nav li a i {
            font-size: 8px;
            margin-left: 2px;
        }
        .fes__header__bottom .fes__browseall li a {
            gap: 15px;
            font-size: 14px;
            line-height: 14px;
        }
        .fes__header__bottom .fes__browseall li a i.fes__arrow {
            font-size: 8px;
        }
        .fes__header__bottom .fes__browseall li a i {
            font-size: 14px;
        }
        .mega__category__menu .categories__list {
            padding: 10px 0;
            width: 250px;
        }
        .mega__category__menu .categories__list li {
            font-size: 14px;
            line-height: 14px;
            width: 260px;
        }
        .mega__category__menu .categories__list li .cetgory__submenu {
            width: 835px;
            left: 272px;
            height: 264px;
        }
        .mega__category__menu .cetgory__submenu .item .image {
            width: 55px;
            height: 55px;
        }
        .mega__category__menu .cetgory__submenu .item .text {
            width: 197px;
        }
        .mega__category__menu .cetgory__submenu .item .text h3 {
            font-size: 16px;
            line-height: 20px;
        }
        .mega__category__menu .cetgory__submenu .item .text p {
            font-size: 12px;
            line-height: 18px;
        }
        .fes__header__bottom .main__nav li .fes__megamenu h4 {
            font-size: 24px;
            line-height: 24px;
        }
        .fes__header__bottom .main__nav li .fes__megamenu li a {
            font-size: 14px;
            line-height: 14px;
            width: 216px;
        }
        .fes__header__bottom .main__nav .has__tiny__menu .fes__tinymenu li a {
            width: 240px;
        }
        .fes__header .fes__header__top li, .fes__header .fes__header__top li a {
            font-size: 14px;
            line-height: 20px;
        }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    /*===== Home Page =====*/
        /* Mega Menu */
        .mega__category__menu .categories__list li .cetgory__submenu {
            width: 1074px;
        }
}