/************ TABLE OF CONTENTS ***************
1. Global
2. Home Page
   1. Header
   2. Cart
   3. Hero Section
   4. Product Style

**********************************************/


/* ====================================================================
   1. Global
==================================================================== */
/* Font */
@font-face {
    font-display: swap;
    font-family: 'Signika Negative';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/signika-negative-v21-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Signika Negative';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/signika-negative-v21-latin-600.woff2') format('woff2');
}

/* teko */
@font-face {
    font-display: swap;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/teko-v20-latin-regular.woff2') format('woff2');
}

/* Default CSS */
:root {
    /* Primary Color */
    --main-color: #9E72C3;

    /* Secondary Color */
    --secondary-color: #7338A0;

    /* Text Color */
    --text-color: #13172B;

    /* Dark Mode */
    --darkmode-body: #202124;
    --darkmode-text: #BDC1C6;
}

* {
    border: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Signika Negative', sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: 'Signika Negative', sans-serif;
    color: var(--text-color);
}

a {
    color: var(--secondary-color);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-family: 'Signika Negative', sans-serif;
    list-style: none;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::placeholder {
    color: #999;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

::selection {
    color: #FFF;
    background: var(--main-color);
}

/* Buttons */
.fes__button__a {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    padding: 10px 25px;
    text-transform: capitalize;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    user-select: none;
    color: #FFF !important;
    display: inline-block;
}

.fes__button__a::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: #000;
}

.fes__button__a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    content: '';
    height: 0;
    width: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 5px;
}

.fes__button__a:hover::after {
    height: 100%;
    width: 100%;
    background: var(--main-color);
}

/* Section Title */
.fes__section__title {
    margin-bottom: 40px;
}

.fes__section__title h4,
.fes__section__title h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color);
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.fes__section__title h4 {
    margin: 0;
    color: var(--secondary-color);
    font-family: 'Signika Negative', sans-serif;
}

.fes__section__title h2 {
    font-size: 80px;
    line-height: 80px;
    font-family: 'Teko', sans-serif;
}

/* Back to Top */


/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 1px #E4F2FF;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* Preloader */

/* Custom Cursor */
.cursor {
	position: fixed;
	top: 0;
	left: 0;
	overflow: visible;
	z-index: 9999999;
	pointer-events: none;
}

.cursor::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
	background: var(--main-color);
	border-radius: 50%;
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	
}

.cursor::after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: transparent;
	border: 1px solid var(--main-color);
	border-radius: 50%;
	transform: translate(-50%,-50%);  
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	
}

.cursor.hover::before {
    width: 30px;
    height: 30px;
    background: rgba(158, 114, 195, 0.2);
}

@media (max-width: 991px) {
    .cursor {
        display: none;
    }
}

/* Seperator */
.vertical__seperator {
    height: 26px;
    width: 2px;
    background: #FFF;
    margin: 0;
}

.horizontal__seperator {
    height: 2px;
    width: 100%;
    background: var(--secondary-color);
    margin: 0;
}

/* ====================================================================
   2. Home Page
==================================================================== */
/*** Start of Header ***/
.fes__header {
	position: absolute;
	z-index: 99999;
	top: 0;
	width: 100%;
}

/* Header Top */
.fes__header .fes__header__top {
    padding: 15px 0;
}

.fes__header .fes__header__top .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fes__header .fes__header__top li {
    display: inline-block;
}

.fes__header .fes__header__top li,
.fes__header .fes__header__top li a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    text-transform: capitalize;
    color: #FFF;
}

.fes__header .fes__header__top li a:hover {
    color: var(--main-color);
}

.fes__header .fes__header__top li i {
    font-size: 14px;
    margin-right: 10px;
}

.fes__header .fes__header__top li:first-child {
    margin-right: 10px;
}

.fes__header .fes__header__top li.phone {
    display: inline-flex;
    align-items: center;
}

.fes__header .fes__header__top li.phone i {
    margin-right: 0;
}

.fes__header .fes__header__top li.phone a {
    margin-left: 5px;
}

.fes__header .fes__header__top li .phone__anim {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #FFF;
}

.fes__header .fes__header__top li .phone__anim:before,
.fes__header .fes__header__top li .phone__anim:after {
    content: "";
    position: absolute;
    -webkit-animation: call__us__anim 2s linear infinite;
    animation: call__us__anim 2s linear infinite;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    background-color: #FFF;
    opacity: 0;
}

.fes__header .fes__header__top li .phone__anim:after {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes call__us__anim {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.15;
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

@-webkit-keyframes call__us__anim {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: .15;
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.fes__header .fes__header__top .middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 180px;
    height: auto;
}

.logo img {
    width: 100%;
}

.fes__header .fes__header__top .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
}

.fes__header .fes__header__top .right .cart__wishlist {
    width: 135px;
    display: flex;
    align-items: center;
}

.fes__header .fes__header__top .right .cart__wishlist li {
    width: 50%;
}

.fes__header .fes__header__top .right li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fes__header .fes__header__top .right li a:hover {
    color: var(--secondary-color);
}

.fes__header .fes__header__top .right li a i {
    font-size: 20px;
}

.fes__header .fes__header__top .right li a .fes__amount {
    position: relative;
    display: inline-block;
    color: #FFF;
    background: var(--main-color);
    font-weight: 600;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    margin-left: 5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header .fes__header__top .right li a:hover .fes__amount {
    background: var(--secondary-color);
}

.fes__header .fes__header__top .right li a .fes__amount::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-right: 5px solid var(--main-color);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    background: transparent;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header .fes__header__top .right li .fes__header__cart {
    position: relative;
}

.fes__header .fes__header__top .right li a:hover .fes__amount::after {
    border-right-color: var(--secondary-color);
}

.fes__header .fes__header__top .right li .fes__header__cart .fes__amount {
    animation: CartAmountMove 2s infinite;
    -webkit-animation: CartAmountMove 2s infinite;
}

@-webkit-keyframes CartAmountMove {
    0% {
        margin-left: 5px;
    }
    50% {
        margin-left: 0;
    }
    100% {
        margin-left: 5px;
    }
}

@keyframes CartAmountMove {
    0% {
        margin-left: 5px;
    }
    50% {
        margin-left: 0;
    }
    100% {
        margin-left: 5px;
    }
}

.fes__header .fes__header__top .right li .fes__header__cart:before {
    content: "";
    position: absolute;
    -webkit-animation: cartBGAnim 2s linear infinite;
    animation: cartBGAnim 2s linear infinite;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: calc(50% - 12px);
    left: 2px;
    background: #FFF;
    opacity: 0;
}

@keyframes cartBGAnim {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

@-webkit-keyframes cartBGAnim {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: .15;
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

/* Header Bottom */
.fes__header__bottom {
    border-radius: 5px;
    padding: 5px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.fes__header__bottom .fes__browseall {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fes__header__bottom .fes__browseall li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    text-transform: capitalize;
    color: #FFF;
}

.fes__header__bottom .fes__browseall li a:hover {
    color: var(--main-color);
}

.fes__header__bottom .fes__browseall li a i {
    font-size: 16px;
}

.fes__header__bottom .fes__browseall li a i.fes__arrow {
    font-size: 12px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header__bottom .fes__browseall li a:hover i.fes__arrow {
    transform: rotate(180deg);
}

.fes__header__bottom .fes__browseall .vertical__seperator {
    height: 38px;
}

.fes__header__bottom .header__search {
    position: relative;
    height: 46px;
    width: 280px;
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.fes__header__bottom input {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.fes__header__bottom .header__search i {
    font-size: 18px;
    line-height: 18px;
}

.fes__header__bottom .fes__browseall li .mega__category__menu {
    position: absolute;
    width: 100%;
    top: 120%;
    left: 0;
    background: var(--main-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 5px;
    z-index: 99999;
}

.fes__header__bottom .fes__browseall li .mega__category__menu::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    bottom: 100%;
}

.fes__header__bottom .fes__browseall li:hover .mega__category__menu {
    top: 110%;
    visibility: visible;
    opacity: 1;
}

.mega__category__menu .categories__list {
    border-right: 2px solid var(--secondary-color);
    padding: 15px 0;
    width: 270px;
}

.mega__category__menu .categories__list li {
    padding: 15px;
    color: #FFF;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 50px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    padding-right: 30px;
}

.mega__category__menu .categories__list li i {
    font-size: 12px;
}

.mega__category__menu .categories__list li:hover {
    color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background: #FFF;
}

.mega__category__menu .categories__list li .cetgory__submenu {
	width: 1112px;
	height: 286px;
	position: absolute;
	top: 0;
	left: 292px;
	color: var(--text-color);
	background: #FFF;
	border-radius: 5px;
	padding: 10px 15px;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	opacity: 0;
	visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.mega__category__menu .categories__list li:hover .cetgory__submenu {
    opacity: 1;
    visibility: visible;
    top: 10px;
}

.mega__category__menu .categories__list li .cetgory__submenu::before {
    position: absolute;
    content: '';
    width: 10px;
    right: 100%;
    top: 0;
    height: 100%;
}

.mega__category__menu .cetgory__submenu .item {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.mega__category__menu .cetgory__submenu .item:last-child {
    margin-bottom: 0;
}

.mega__category__menu .cetgory__submenu .item .image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: #EEE;
    display: grid;
    place-items: center;
    padding: 10px;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.mega__category__menu .cetgory__submenu .item .image img {
    height: 100%;
    width: 100%;
}

.mega__category__menu .cetgory__submenu .item .text {
    width: 264px;
}

.mega__category__menu .cetgory__submenu .item .text h3 {
    color: var(--text-color);
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	text-transform: capitalize;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	margin-bottom: 5px;
}

.mega__category__menu .cetgory__submenu .item .text p {
    color: #999;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}

.mega__category__menu .cetgory__submenu .item:hover .image {
    background: var(--main-color);
}

.mega__category__menu .cetgory__submenu .item:hover h3 {
    color: var(--main-color);
}

/* Mega Menu */
.fes__header__bottom .main__nav li {
    display: inline-block;
    margin: 0 15px;
}

.fes__header__bottom .main__nav li:first-child {
    margin-left: 0;
}

.fes__header__bottom .main__nav li:last-child {
    margin-right: 0;
}

.fes__header__bottom .main__nav li a {
    padding: 15px 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    text-transform: capitalize;
    color: #FFF;
}

.fes__header__bottom .main__nav li a:hover {
    color: var(--main-color);
}

.fes__header__bottom .main__nav li a i {
    font-size: 12px;
    margin-left: 5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header__bottom .main__nav li:hover a i {
    transform: rotate(180deg);
}

.fes__header__bottom .main__nav li .fes__megamenu {
    width: 100%;
	height: auto;
	position: absolute;
    top: 120%;
	left: 0;
	color: var(--text-color);
	background: var(--main-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 10px 15px;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
}

.fes__header__bottom .main__nav li:hover .fes__megamenu {
    opacity: 1;
    visibility: visible;
    top: 110%;
}

.fes__header__bottom .main__nav li .fes__megamenu::before,
.fes__header__bottom .main__nav .has__tiny__menu .fes__tinymenu::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    bottom: 100%;
    left: 0;
}

.fes__header__bottom .main__nav li .fes__megamenu li {
	display: block;
	margin: 0;
}

.fes__header__bottom .main__nav li .fes__megamenu li a {
    display: block;
    padding: 10px 0;
    color: #FFF;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 50px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    width: 240px;
    text-align: center;
}

.fes__header__bottom .main__nav li .fes__megamenu li a:hover {
    color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background: #FFF;
}

.fes__header__bottom .main__nav li .fes__megamenu h4 {
	color: #FFF;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	font-family: 'Teko', sans-serif;
	text-transform: capitalize;
	text-align: center;
}

/* Tiny Menu */
.fes__header__bottom .main__nav .has__tiny__menu {
    position: relative;
}

.fes__header__bottom .main__nav .has__tiny__menu .fes__tinymenu {
	position: absolute;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	z-index: 999999;
	background: #FFF;
	border-radius: 5px;
	top: 220%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.fes__header__bottom .main__nav .has__tiny__menu:hover .fes__tinymenu {
    top: 190%;
    visibility: visible;
    opacity: 1;
}

.fes__header__bottom .main__nav .has__tiny__menu .fes__tinymenu li {
    display: block;
    margin: 0;
}

.fes__header__bottom .main__nav .has__tiny__menu .fes__tinymenu li a {
    display: block;
    padding: 10px 0;
    border-radius: 5px;
    text-transform: capitalize;
    width: 250px;
    color: var(--text-color);
}

.fes__header__bottom .main__nav .has__tiny__menu .fes__tinymenu li a:hover {
    background: var(--secondary-color);
    color: #FFF;
}

.fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu .fes__tinymenu {
    left: 95%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu:hover .fes__tinymenu {
    left: 100%;
    visibility: visible;
    opacity: 1;
}

.fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu:hover {
    border-radius: 5px;
    background: var(--secondary-color);
}

.fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu:hover a,
.fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu:hover .fes__tinymenu a:hover {
    color: #FFF;
}

.fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu a i {
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transform: unset;
}

.fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu:hover a i {
    transform: rotate(90deg);
}

.fes__header__bottom .main__nav .fes__tinymenu > .has__tiny__menu:hover .fes__tinymenu a {
    color: var(--text-color);
}

@media (max-width:991px) {
    .fes__header__bottom .main__nav,
    .fes__header__bottom .fes__browseall {
        display: none;
    }
}

/** Cart Slider **/
.fes__cart__slider,
.fes__right__slider__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 999999;
    overflow: hidden;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.fes__cart__slider.show,
.fes__right__slider__menu.show {
    width: 100vw;
}

.fes__cart__slider .main__cart__area,
.fes__right__slider__menu .fes__rsm__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fes__cart__slider .fes__cart__closebtn,
.fes__right__slider__menu .fes__rsm__closebtn {
    position: absolute;
    top: 10px;
    right: 410px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 18px;
    color: var(--text-color);
    background: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__cart__slider .fes__cart__closebtn:hover,
.fes__right__slider__menu .fes__rsm__closebtn:hover {
    background: var(--secondary-color);
    color: #FFF;
}

.fes__cart__slider .main__cart__area .fes__cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fes__cart__slider .main__cart__area .fes__cart__header h3,
.fes__cart__slider .main__cart__area .fes__cart__header span {
    color: var(--text-color);
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 0;
}

.fes__cart__slider .main__cart__area .fes__cart__header span {
    position: relative;
    color: #FFF;
    background: var(--main-color);
    height: 30px;
    width: auto;
    font-size: 24px;
    border-radius: 3px;
    padding: 0 10px;
}

.fes__cart__slider .main__cart__area .fes__cart__header span::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-right: 5px solid var(--main-color);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    background: transparent;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__cart__slider .main__cart__area .fes__cart__content {
    height: auto;
    flex: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.fes__cart__slider .main__cart__area .fes__cart__subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fes__cart__slider .main__cart__area .fes__cart__subtotal p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Lexend", sans-serif;
    margin: 0;
    text-transform: capitalize;
}

.fes__cart__slider .main__cart__area .fes__cart__cta {
    display: flex;
    justify-content: space-around;
}

/** Right Menu **/
.fes__right__slider__menu .fes__rsm__wrapper .about__company .logo {
    margin-bottom: 20px;
}

.fes__right__slider__menu .fes__rsm__wrapper .about__company p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
}

.fes__right__slider__menu .fes__rsm__wrapper .pages li a {
    display: block;
    padding: 10px 0;
    color: #555;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
}

.fes__right__slider__menu .fes__rsm__wrapper .pages li a:hover {
    color: var(--secondary-color);
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency i:hover {
    color: var(--secondary-color);
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__language,
.fes__right__slider__menu .fes__rsm__wrapper .lang__currency .feslc__currency {
    position: relative;
    width: 48%;
    height: 50px;
    border: 1px solid #999;
    border-radius: 5px;
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency p {
    font-size: 18px;
    line-height: 46px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    color: #555;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency i {
    font-size: 30px;
    line-height: 50px;
    width: 100%;
    height: 100%;
    color: #555;
    text-align: center;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency p.hide,
.fes__right__slider__menu .fes__rsm__wrapper .lang__currency i.hide {
    display: none;
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency ul {
    position: absolute;
    top: 110%;
    left: 0;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    overflow: hidden;
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency ul.show {
    top: calc(100% + 2px);
    opacity: 1;
    visibility: visible;
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency li {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
}

.fes__right__slider__menu .fes__rsm__wrapper .lang__currency li:hover {
    color: #FFF;
    background: var(--main-color);
}


.fes__right__slider__menu .fes__rsm__wrapper h4 {
    color: var(--text-color);
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    text-transform: capitalize;
}

.fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter {
    height: 60px;
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter input {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 16px;
    font-family: 'Signika Negative', sans-serif;
}

.fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter button {
    height: 100%;
    width: 70px;
    padding-right: 10px;
    text-align: center;
    font-size: 18px;
    background: var(--main-color);
    color: #FFF;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__right__slider__menu .fes__rsm__wrapper .right__menu__newsletter button:hover {
    background: var(--secondary-color);
}

.fes__social__links {
    display: flex;
    gap: 10px;
}

.fes__social__links li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--main-color);
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.fes__social__links li a:hover {
    background: var(--secondary-color);
}
/*** End of Header ***/

/*** Start of Mobile Menu ***/
.fes__mblmenu__btn {
    display: none;
}

@media (max-width:991px) {
    .fes__mblmenu__btn {
        display: inline-block;
        padding: 15px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'Signika Negative', sans-serif;
        text-transform: capitalize;
        color: #FFF;
        border: 1px solid #FFF;
        border-radius: 5px;
        background: var(--main-color);
        transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    .fes__mblmenu__btn i {
        font: 14px;
        margin-right: 10px;
    }
}

.fes__mobile__menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 999999;
    overflow: hidden;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.fes__mobile__menu.show {
    width: 100vw;
}

.fes__mobile__menu .fes__mblmenu__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    background: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.fes__mobile__menu .fes__mblmenu__wrapper .fes__mblmenu__closebtn {
    position: absolute;
    top: 10px;
    left: calc(100% + 10px);
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 18px;
    color: var(--text-color);
    background: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__mobile__menu .fes__mblmenu__wrapper .fes__mblmenu__closebtn:hover {
    background: var(--secondary-color);
    color: #FFF;
}

.fes__mobile__menu .fes__mblmenu__wrapper .nav-pills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fes__mobile__menu .fes__mblmenu__wrapper .nav-pills .nav-link.active,
.fes__mobile__menu .fes__mblmenu__wrapper .nav-pills .show > .nav-link {
    background: var(--main-color);
    color: #FFF;
    border-radius: 3px;
}

.fes__mobile__menu .fes__mblmenu__wrapper .nav-pills .nav-link {
	color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 3px;
}

.fes__mblmenu__tabs {
	height: 88vh;
	overflow: auto;
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 5px;
    padding-right: 10px;
}

.fes__mblmenu__tabs .mobile__submenu a {
    display: flex;
    width: 100%;
    padding: 3px 0;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.fes__mblmenu__tabs .mobile__submenu a:hover {
    color: var(--main-color);
}

.fes__mblmenu__tabs .l2__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -webkit-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    margin-left: 10px;
}

.fes__mblmenu__tabs .l2__submenu.show {
    max-height: 500px;
}

.fes__mblmenu__tabs .l2__submenu a {
    color: #555;
}
/*** End of Mobile Menu ***/

/*** Start of Product Style ***/
.fes__product__style {
	width: 330px;
	height: 328px;
}

.fes__product__style:hover {
    z-index: 100;
}

.fes__product__style .fesps__background {
    background: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
    min-height: 328px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

/* Image*/
.fes__product__style .fesps__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.fes__product__style .fesps__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.fes__product__style .fesps__image .hover__img {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__product__style .fesps__image:hover .main__img {
    visibility: hidden;
    opacity: 0;
}

.fes__product__style .fesps__image:hover .hover__img {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

/* CTAs */
.fes__product__style .fesps__image .fesps__ctabtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: -40px;
    top: 15px;
    z-index: 10;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.fes__product__style .fesps__image .fesps__ctabtns a {
    display: block;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
}

.fes__product__style .fesps__image .fesps__ctabtns a:hover {
    color: #FFF;
    background: var(--main-color);
}

.fes__product__style:hover .fesps__image .fesps__ctabtns {
    left: 15px;
}

/* Content */
.fes__product__style .fesps__content {
    position: relative;
    padding: 15px;
    z-index: 0;
}

.fes__product__style .fesps__content .show__on__hover {
    flex-direction: column;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.fes__product__style:hover .fesps__content .show__on__hover {
    display: flex;
    max-height: 300px;
    overflow: visible;
    margin: 20px 0;
}

.fes__product__style .fesps__content h2,
.fes__product__style .fesps__content h2 a {
    color: var(--text-color);
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    text-transform: capitalize;
}

.fes__product__style .fesps__content h2 a:hover {
    color: var(--main-color);
}

.fes__product__style .fesps__content .fesps__category {
    width: 60%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    background: var(--text-color);
    color: #FFF;
    padding: 0 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fes__product__style .fesps__content .fesps__category svg {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.fes__product__style .fesps__content .fesps__category:hover {
    background: var(--main-color);
}

.fes__product__style .fesps__content .fesps__variant {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.fes__product__style .fesps__content .fesps__variant p {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    color: var(--text-color);
    text-transform: capitalize;
}

.fes__product__style .fesps__content .fesps__variant .nice-select,
.fes__product__style .fesps__content .fesps__variant .nice-select .list {
    width: 100%;
    text-align: center !important;
}

.fes__product__style .fesps__content .fesps__variant .nice-select .list {
	height: 114px;
	overflow-y: auto;
}

.fes__product__style .fesps__content .fesps__variant .nice-select .current,
.fes__product__style .fesps__content .fesps__variant .nice-select .option {
    text-transform: capitalize;
}

.fes__product__style .fesps__content .fesps__price {
    font-size: 18px;
    line-height: 18px;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    margin-top: 20px;
}

.fes__product__style .fesps__content .fesps__price span {
    color: #AAA;
    position: relative;
}

.fes__product__style .fesps__content .fesps__price span::after {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    background: #AAA;
    width: 100%;
    height: 2px;
    transform: rotate(-15deg) translateY(-50%);
}

.fes__product__style .fesps__content .fes__button__a {
    display: block;
    text-align: center;
    max-height: 0;
    padding: 0;
}

.fes__product__style .fesps__content .fes__button__a i {
    margin-right: 10px;
}

.fes__product__style:hover .fesps__content .fes__button__a {
    max-height: 100px;
    padding: 10px 25px;
    margin-top: 20px;
}
/*** End of Product Style ***/

/*** Start of Hero Section ***/
.fes__heroslider {
    position: relative;
}

.fes__heroslider .swiper-slide {
    width: 100%;
    height: 1000px;
    position: relative;
}

.fes__heroslider .swiper-slide .fes__bg__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: 0;
}

@media (max-width:991px) {
    .fes__heroslider .swiper-slide .fes__bg__img {
        height: 100%;
    }
}

.fes__heroslider .swiper-slide .bg__black {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.fes__heroslider .swiper-slide .bg__black .container {
	display: flex;
	align-items: center;
	height: 100%;
}

.fes__heroslider .swiper-slide .bg__black .row {
    height: 100%;
}

.fes__heroslider .swiper-slide .fes__hero__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.fes__heroslider .swiper-slide .fes__hero__text h4 {
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fes__heroslider .swiper-slide .fes__hero__text h2 {
    color: #FFF;
    font-size: 60px;
    line-height: 66px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fes__heroslider .swiper-slide .fes__hero__text p {
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fes__heroslider .swiper-slide .fes__hero__products {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
    padding-bottom: 10px;
}

.fes__heroslider .fes__product__style .fesps__main .fesps__content h2,
.fes__heroslider .fes__product__style .fesps__content .fesps__variant p {
    text-shadow: none;
}

.fes__heroslider .fes__product__style {
	width: 330px;
	height: auto !important;
    background: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

/* Hero Left Text & Slider Nav */
.fes__heroleft__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: flex-end;
    border-right: 2px solid #FFF;
}

.fes__heroleft__text .fes__heroleft__text__wrapper {
    width: 100%;
    height: 700px;
    text-align: center;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.fes__heroleft__text .fes__heroslider__frac {
    display: flex;
    align-items: center;
	width: 100%;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.fes__heroleft__text .fes__heroslider__frac,
.fes__heroleft__text .fes__heroslider__frac .swiper-pagination-current,
.fes__heroleft__text .fes__heroslider__frac .swiper-pagination-total {
    color: #FFF;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
}

.fes__heroleft__text .fes__heroleft__line {
    content: '';
    height: 230px;
    width: 2px;
    background: #FFF;
}

.fes__heroleft__text .text {
	display: flex;
	width: 100%;
    justify-content: center;
}

.fes__heroleft__text .text h3,
.fes__heroleft__text .text h4 {
    color: #FFF;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    text-transform: capitalize;
    margin: 0;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.fes__heroleft__text .text h4 {
    font-size: 18px;
    line-height: 24px;
}

.fes__heroleft__text .fes__hero__nav {
    display: flex;
    gap: 10px;
}

.fes__heroslider__btn__next,
.fes__heroslider__btn__prev {
    font-size: 34px;
    line-height: 34px;
    margin: 0;
    color: #FFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.fes__heroslider__btn__next.for__small__devices,
.fes__heroslider__btn__prev.for__small__devices {
    display: none;
}

@media (max-width:767px) {
    .fes__heroslider__btn__next,
    .fes__heroslider__btn__prev {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (max-width:991px) {
    .fes__heroleft__text {
        display: none;
    }
    .fes__heroslider__btn__next.for__small__devices,
    .fes__heroslider__btn__prev.for__small__devices {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }
    .fes__heroslider__btn__prev.for__small__devices {
        left: 0;
    }
    .fes__heroslider__btn__next.for__small__devices {
        right: 0;
    }
}
/*** End of Hero Section ***/

/*** Start of Categories Section ***/
.fes__categories__section {
    margin-top: 100px;
}

.fes__categories__section .container {
    position: relative;
}

.fes__categories__section .fescs__slider .swiper-slide {
    width: 339px;
    height: 339px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.fes__categories__section .fescs__slider .swiper-slide a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.fes__categories__section .fescs__slider .swiper-slide img {
    height: 100%;
    width: 100%;
}

.fes__categories__section .fescs__slider .swiper-slide .bg__effect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(158, 114, 195, 0.8));
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.fes__categories__section .fescs__slider .swiper-slide:hover .bg__effect {
    visibility: visible;
    opacity: 1;
}

.fes__categories__section .fescs__slider .swiper-slide .text {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -55%;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
    padding-top: 0;
    padding-left: 16px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.fes__categories__section .fescs__slider .swiper-slide:hover .text {
    bottom: 0;
}

.fes__categories__section .fescs__slider .swiper-slide .text h4 {
    color: #FFF;
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    text-transform: capitalize;
}

.fes__categories__section .fescs__slider .swiper-slide .text p {
    color: #FFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
}

.fes__categories__section .fescs__slider__btn__next,
.fes__categories__section .fescs__slider__btn__prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 100;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__categories__section .fescs__slider__btn__next {
    right: -35px;
}

.fes__categories__section .fescs__slider__btn__prev {
	left: -35px;
}

.fes__categories__section .fescs__slider__btn__next:hover,
.fes__categories__section .fescs__slider__btn__prev:hover {
    color: #FFF;
    background: var(--main-color);
}
/*** End of Categories Section ***/

/*** Start of Features ***/
.fes__features {
    margin-top: 100px;
}

.fes__features__item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fes__features__item .image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid var(--text-color);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    display: grid;
    place-items: center;
}

.fes__features__item .image i {
    font-size: 40px;
}

.fes__features__item:hover .image {
    background: var(--main-color);
    border-color: var(--main-color);
}

.fes__features__item:hover .image i {
    color: #FFF;
}

.fes__features__item .text {
    width: 246px;
}

.fes__features__item .text h4 {
    color: var(--text-color);
	font-size: 34px;
	line-height: 34px;
	font-weight: 400;
	font-family: 'Teko', sans-serif;
	text-transform: capitalize;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin: 0;
}

.fes__features__item:hover .text h4 {
    color: var(--main-color);
}

.fes__features__item .text p {
    color: #555;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
}
/*** End of Features ***/

/*** Start of Trending Products ***/
.fes__trending__products {
    margin-top: 100px;
    margin-bottom: 200px;
}

/* Tabs Area */
.fes__trending__products .nav-pills {
	gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.fes__trending__products .nav-link {
    display: inline-block;
    color: var(--main-color);
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: fit-content;
    padding: 0 25px;
    border-radius: 50px;
    font-family: 'Signika Negative', sans-serif;
    text-transform: capitalize;
}

.fes__trending__products .nav-link.active,
.fes__trending__products .nav-link:hover {
    color: #FFF;
    background: var(--main-color);
}

/* Content Area */
.fes__trending__products .tab-content .tab-pane.active {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
/*** End of Trending Products ***/

/*
rgba(158, 114, 195, 0.4)
rgba(115, 56, 160, 0.4)

    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

font-family: 'Signika Negative', sans-serif;
font-family: 'Teko', sans-serif;
*/