/************ TABLE OF CONTENTS ***************
1. Global
2. Home Page
   1. Header
   2. Cart

**********************************************/


/* ====================================================================
   1. Global
==================================================================== */
/* Font */
@font-face {
  font-display: swap;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Exo';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/exo-v21-latin-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/exo-v21-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Exo';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/exo-v21-latin-600italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/exo-v21-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Exo';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/exo-v21-latin-700italic.woff2') format('woff2');
}

/* Default CSS */
:root {
    /* Primary Color */
    --main-color: #9E72C3;

    /* Secondary Color */
    --secondary-color: #7338A0;

    /* Text Color */
    --text-color: #13172B;

    /* Dark Mode */
    --darkmode-body: #202124;
    --darkmode-text: #BDC1C6;
}

* {
    border: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo', sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: 'Exo', sans-serif;
    color: var(--text-color);
}

a {
    color: var(--secondary-color);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-family: 'Exo', sans-serif;
    list-style: none;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::placeholder {
    color: #999;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

::selection {
    color: #FFF;
    background: var(--main-color);
}

/* Buttons */
.button__a {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    padding: 10px 25px;
    text-transform: capitalize;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    user-select: none;
}

.button__a::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: var(--main-color);
}

.button__a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    content: '';
    height: 0;
    width: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.button__a:hover {
    color: #FFF;
}

.button__a:hover::after {
    height: 100%;
    width: 100%;
    background: var(--secondary-color);
}

/* Section Title */


/* Back to Top */


/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 1px #E4F2FF;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* Preloader */

/* Custom Cursor */
.cursor {
	position: fixed;
	top: 0;
	left: 0;
	overflow: visible;
	z-index: 99999;
	pointer-events: none;
}

.cursor::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
	background: var(--main-color);
	border-radius: 50%;
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	
}

.cursor::after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: transparent;
	border: 1px solid var(--main-color);
	border-radius: 50%;
	transform: translate(-50%,-50%);  
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	
}

.cursor.hover::before {
    width: 15px;
    height: 15px;
}

.cursor.hover::after {
    background: rgba(158, 114, 195, 0.2);
}

@media (max-width: 991px) {
    .cursor {
        display: none;
    }
}

/* ====================================================================
   2. Home Page
==================================================================== */
/*** Start of Header ***/
.fes__header {
    position: relative;
}

/* Header Top */
.fes__header .fes__header__top {
    padding: 15px 0;
}

.fes__header .fes__header__top .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fes__header .fes__header__top li {
    display: inline-block;
}

.fes__header .fes__header__top li,
.fes__header .fes__header__top li a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Exo', sans-serif;
    text-transform: capitalize;
    color: var(--text-color);
}

.fes__header .fes__header__top li a:hover {
    color: var(--main-color);
}

.fes__header .fes__header__top li i {
    font-size: 14px;
    margin-right: 10px;
}

.fes__header .fes__header__top li:first-child {
    margin-right: 10px;
}

.fes__header .fes__header__top li.phone {
    display: inline-flex;
}

.fes__header .fes__header__top li.phone i {
    margin-right: 0;
}

.fes__header .fes__header__top li.phone a {
    margin-left: 5px;
}

.fes__header .fes__header__top li .phone__anim {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fes__header .fes__header__top li .phone__anim:before,
.fes__header .fes__header__top li .phone__anim:after {
    content: "";
    position: absolute;
    -webkit-animation: call__us__anim 2s linear infinite;
    animation: call__us__anim 2s linear infinite;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    background-color: var(--main-color);
    opacity: 0;
}

.fes__header .fes__header__top li .phone__anim:after {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes call__us__anim {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.15;
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

@-webkit-keyframes call__us__anim {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: .15;
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.fes__header .fes__header__top .middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fes__header .fes__header__top .logo {
    width: 180px;
    height: auto;
}

.fes__header .fes__header__top .logo img {
    width: 100%;
}

.fes__header .fes__header__top .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
}

.fes__header .fes__header__top .right li a {
    display: flex;
    align-items: center;
}

.fes__header .fes__header__top .right li a:hover {
    color: var(--secondary-color);
}

.fes__header .fes__header__top .right li a i {
    font-size: 20px;
}

.fes__header .fes__header__top .right li a .fes__amount {
    position: relative;
    display: inline-block;
    color: #FFF;
    background: var(--main-color);
    font-weight: 600;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    margin-left: 5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header .fes__header__top .right li a:hover .fes__amount {
    background: var(--secondary-color);
}

.fes__header .fes__header__top .right li a .fes__amount::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-right: 5px solid var(--main-color);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    background: transparent;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header .fes__header__top .right li a:hover .fes__amount::after {
    border-right-color: var(--secondary-color);
}

.vertical__seperator {
    height: 26px;
    width: 2px;
    background: var(--secondary-color);
    border-radius: 2px;
    margin: 0;
}

/* Header Bottom */
.fes__header__bottom {
    border-radius: 5px;
    padding: 5px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.fes__header__bottom .fes__browseall {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fes__header__bottom .fes__browseall li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Exo', sans-serif;
    text-transform: capitalize;
    color: #FFF;
}

.fes__header__bottom .fes__browseall li a:hover {
    color: var(--main-color);
}

.fes__header__bottom .fes__browseall li a i {
    font-size: 16px;
}

.fes__header__bottom .fes__browseall li a i.fes__arrow {
    font-size: 12px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header__bottom .fes__browseall li a:hover i.fes__arrow {
    transform: rotate(180deg);
}

.fes__header__bottom .fes__browseall .vertical__seperator {
    height: 38px;
}

.fes__header__bottom .header__search {
    position: relative;
    height: 46px;
    width: 280px;
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.fes__header__bottom input {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.fes__header__bottom .header__search i {
    font-size: 18px;
    line-height: 18px;
}

.fes__header__bottom .fes__browseall li .mega__category__menu {
    position: absolute;
    width: 100%;
    top: 120%;
    left: 0;
    background: var(--main-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header__bottom .fes__browseall li .mega__category__menu::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    bottom: 100%;
}

.fes__header__bottom .fes__browseall li:hover .mega__category__menu {
    top: 110%;
    visibility: visible;
    opacity: 1;
}

.mega__category__menu .categories__list {
    border-right: 2px solid var(--secondary-color);
    padding: 15px 0;
    width: 270px;
}

.mega__category__menu .categories__list li {
    padding: 15px;
    color: #FFF;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 50px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    padding-right: 30px;
}

.mega__category__menu .categories__list li i {
    font-size: 12px;
}

.mega__category__menu .categories__list li:hover {
    color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background: #FFF;
}

.mega__category__menu .categories__list li .cetgory__submenu {
	width: 1112px;
	height: 286px;
	position: absolute;
	top: 0;
	left: 292px;
	color: var(--text-color);
	background: #FFF;
	border-radius: 5px;
	padding: 10px 15px;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	opacity: 0;
	visibility: hidden;
}

.mega__category__menu .categories__list li:hover .cetgory__submenu {
    opacity: 1;
    visibility: visible;
    top: 10px;
}

.mega__category__menu .categories__list li .cetgory__submenu::before {
    position: absolute;
    content: '';
    width: 10px;
    right: 100%;
    top: 0;
    height: 100%;
}

.mega__category__menu .cetgory__submenu .item {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.mega__category__menu .cetgory__submenu .item:last-child {
    margin-bottom: 0;
}

.mega__category__menu .cetgory__submenu .item .image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: #EEE;
    display: grid;
    place-items: center;
    padding: 10px;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.mega__category__menu .cetgory__submenu .item .image img {
    height: 100%;
    width: 100%;
}

.mega__category__menu .cetgory__submenu .item .text {
    width: 264px;
}

.mega__category__menu .cetgory__submenu .item .text h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin-bottom: 5px;
}

.mega__category__menu .cetgory__submenu .item .text p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.mega__category__menu .cetgory__submenu .item:hover .image {
    background: var(--main-color);
}

.mega__category__menu .cetgory__submenu .item:hover h3 {
    color: var(--main-color);
}

/* Mega Menu */
.fes__header__bottom .main__nav li {
    display: inline-block;
    margin: 0 15px;
}

.fes__header__bottom .main__nav li:first-child {
    margin-left: 0;
}

.fes__header__bottom .main__nav li:last-child {
    margin-right: 0;
}

.fes__header__bottom .main__nav li a {
    padding: 15px 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Exo', sans-serif;
    text-transform: capitalize;
    color: #FFF;
}

.fes__header__bottom .main__nav li a:hover {
    color: var(--main-color);
}

.fes__header__bottom .main__nav li a i {
    font-size: 12px;
    margin-left: 5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fes__header__bottom .main__nav li:hover a i {
    transform: rotate(180deg);
}

.fes__header__bottom .main__nav li .fes__megamenu {
    width: 100%;
	height: auto;
	position: absolute;
    top: 120%;
	left: 0;
	color: var(--text-color);
	background: var(--main-color);
	border-radius: 5px;
	padding: 10px 15px;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.fes__header__bottom .main__nav li:hover .fes__megamenu {
    opacity: 1;
    visibility: visible;
    top: 110%;
}

.fes__header__bottom .main__nav li .fes__megamenu::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    bottom: 100%;
}

.fes__header__bottom .main__nav li .fes__megamenu li {
	display: block;
	margin: 0;
}

.fes__header__bottom .main__nav li .fes__megamenu li a {
    display: block;
    padding: 10px 0;
    color: #FFF;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 50px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    width: 240px;
    text-align: center;
}

.fes__header__bottom .main__nav li .fes__megamenu li a:hover {
    color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background: #FFF;
}

/* Tiny Menu */

/*** End of Header ***/
.fes__tinymenu {
    display: none;
}

/*
rgba(158, 114, 195, 0.4)
rgba(115, 56, 160, 0.4)

    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

font-family: 'Exo', sans-serif;
*/