//Base
$base00: #FFFFFF;
$base25: #F9FAFB;
$base50: #F0F3F9;
$base100: #E9EFF6;
$base200: #D7DFE9;
$base300: #AFBACA;
$base400: #8897AE;
$base500: #5E718D;
$base600: #455468;
$base700: #3D4A5C;
$base800: #2D3643;
$base900: #1C222B;

//Brand
$brandPrimaryColor: #F27240;
$brandSecondaryColor: #F1662F;
$brandTertiaryColor: #E0531B;

//Background
$backgroundPrimaryColor: #1C1C20;
$backgroundSecondaryColor: #212126;
$backgroundTertiaryColor: #2D2D32;

//Accent
$AccentGreen: #3DEB64;
$AccentRed: #F13648;
$AccentYellow: #FFC107;
$AccentLink: #33A2F3;

//Fill
$FillPrimaryColor: #312321;
$FillSecondaryColor: #3F2B28;