@use '../base/index' as base;
@use '../utilities/index' as utils;
@use '../components/index' as comps;

/*** Start of Checkout Section ***/
.elt__checkout__section {
    .wrapper {
        .elt__checkout__couponcode {
            background: base.$backgroundSecondaryColor;
            border: 1px solid base.$base800;
            border-radius: 12px;
            padding: 20px 28px;
            width: 100%;
            max-height: 200px;
            margin-bottom: 48px;

            .top {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 16px;

                span {
                    @include base.small__text;
                    color: base.$base200;
                    display: flex;
                    gap: 8px;
                    align-items: center;
        
                    svg {
                        fill: base.$base200;
                    }
        
                    &.eltcheckout__couponcode__toggle {
                        @include utils.transition-03s;
                        font-weight: 500;
                        cursor: pointer;
                        text-decoration: underline;
        
                        &:hover {
                            color: base.$brandPrimaryColor;
                        }
                    }
                }
            }

            .elt__coupon__code {
                margin-top: 0;
                max-height: 0;
                overflow: hidden;
                @include utils.transition-06s;

                &.show {
                    margin-top: 30px;
                    max-height: 70px;
                }
            }
        }

        .left__side form {
            gap: 36px;
            padding: 28px;
            background: transparent;
            border: 1px solid base.$base800;
            border-radius: 20px;

            .horizontal__seperator {
                margin: 12px 0;
            }

            .address1 {
                .with__label:nth-child(1) {
                    flex: auto;
                }

                .with__label:nth-child(2) {
                    width: 35%;
                }
            }

            .checkboxes {
                display: flex;
                flex-direction: column;
                gap: 20px;

                label {
                    @include base.medium__text;
                }
            }
        }
    }

    .elt__place__order {
        background: base.$backgroundSecondaryColor;
        border: 1px solid base.$brandPrimaryColor;
        border-radius: 20px;
        padding: 28px;
        gap: 60px;
        display: flex;
        flex-direction: column;

        h6 {
            margin-bottom: 0;
        }

        .subtotal__text {
            display: flex;
            flex-direction: column;
            gap: 28px;

            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span,label {
                    @include base.medium__text;
                    color: base.$base300;
                }

                form {
                    align-items: flex-end;

                    .form__row {
                        gap: 16px;
                    }
                }

                &.products {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }
                &.shipping label {
                    display: flex;
                    align-items: center;
                }

                &.subtotal span,
                &.total span,
                &.total h6 {
                    color: base.$base100;
                }
            }
        }

        .payment__method {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .op span {
                @include base.medium__text;
                color: base.$base300;
                margin-top: 12px;
                margin-left: 36px;
            }
        }

        .privacy__terms {
            display: flex;
            flex-direction: column;
            gap: 28px;

            span {
                @include base.small__text;
                color: base.$base400;
            }
    
            label {
                @include base.medium__text;
                color: base.$base200;
            }
        }

        .elt__placeorder__btn {
            @include comps.elt__button__a;
            width: 100%;
        }
    }
}
/*** End of Checkout Section ***/

/*** Start of Payment Section ***/
.elt__payment__Section {
    .elt__payment__progress {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-top: 100px;
        flex-wrap: wrap;

        .item {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            gap: 12px;

            &:nth-child(1)::before {
                content: '1';
            }
            &:nth-child(2)::before {
                content: '2';
            }
            &:nth-child(3)::before {
                content: '3';
            }

            &::before {
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                line-height: 20px;
                font-size: 12px;
                text-align: center;
                border-radius: 50%;
                background: base.$backgroundTertiaryColor;
            }

            &::after {
                content: '';
                width: 60px;
                height: 0;
                border: 1px dashed base.$base700;
            }

            &:last-child::after {
                display: none;
            }

            &.completed:nth-child(1)::before {
                content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66699 10.0001L8.77923 11.9011C9.13881 12.2247 9.69748 12.1752 9.99449 11.7933L13.3337 7.50008M10.0003 18.3334C14.6027 18.3334 18.3337 14.6025 18.3337 10.0001C18.3337 5.39771 14.6027 1.66675 10.0003 1.66675C5.39795 1.66675 1.66699 5.39771 1.66699 10.0001C1.66699 14.6025 5.39795 18.3334 10.0003 18.3334Z" stroke="%233DEB64" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            }
        }
    }

    .elt__payment__options {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 80px;
        flex-wrap: wrap;

        .elt__payment__details {
            padding: 28px;
            border: 1px solid base.$brandPrimaryColor;
            background: base.$backgroundSecondaryColor;
            border-radius: 20px;
            width: 667px;
            display: flex;
            flex-direction: column;
            gap: 48px;

            h5 {
                margin-bottom: 0;
            }

            .nav {
                display: flex;
                gap: 40px;

                button {
                    @include comps.elt__button__c;
                    color: base.$base200;
                    border-color: base.$base700;
                    background: transparent;

                    &.active {
                        color: base.$brandPrimaryColor;
                        border-color: base.$brandPrimaryColor;
                    }
                }
            }

            .tab-pane {
                form {
                    gap: 40px;
                }

                button {
                    @include comps.elt__button__a;
                    width: 100%;
                    margin-top: 10px;
                    gap: 6px;
                }
            }
        }

        .elt__order__summary {
            display: flex;
            flex-direction: column;
            gap: 28px;
            width: 472px;
            border: 1px solid base.$base800;
            border-radius: 20px;
            padding: 28px;
            height: 100%;

            h6,h5 {
                margin-bottom: 0;
            }

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    @include base.medium__text;
                    color: base.$base300;
                }

                &.products {
                    flex-direction: column;
                    gap: 16px;
                }

                &.subtotal span,
                &.total h5,
                &.total h6 {
                    color: base.$base100;
                }
            }
        }
    }
}
/*** End of Payment Section ***/