@use '../base/index' as base;
@use '../utilities/index' as utils;
@use '../components/index' as comps;

/*** Start of Shop Section ***/
.elt__shop__section {

    /** Sidebar ***/
    .elt__shop__sidebar {
        width: calc(100% - 22px);

        .elt__shop__sidebar__close {
            display: none;
        }

        .all__widgets {
            display: flex;
            flex-direction: column;
            gap: 44px;
            padding: 28px;
            background: base.$backgroundSecondaryColor;
            border-radius: 12px;
            width: 100%;
    
            .elt__shopsdbr__widget {
                .title {
                    margin-bottom: 28px;
                }
    
                .elt__sdbr__brandcats {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    .eltsdbrcat__item {
                        @include base.medium__text;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: base.$base200;
    
                        &:hover {
                            color: base.$brandPrimaryColor;
                        }
    
                        .eltsdbr__catname {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                        }
                    }
                }
    
                .elt__sidbr__checkboxes {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    .item {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        label {
                            @include base.medium__text;
                        }
                    }
                }
    
                .elt__shopsdbr__colors {
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
    
                    .item {
                        @include utils.transition-03s;
                        background: base.$backgroundTertiaryColor;
                        border-radius: 50px;
                        padding: 8px;
                        padding-right: 14px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        &.active,
                        &:hover {
                            box-shadow: inset 0 0 0 1px base.$brandPrimaryColor;
                        }
    
                        .color {
                            display: block;
                            height: 26px;
                            width: 26px;
                            border-radius: 50%;
                        }
    
                        .color__name {
                            @include base.medium__text;
                            color: base.$base200;
                        }
                    }
                }
            }
        }
        
    }

    /** Top Bar **/
    .elt__shop__topbar {
        background: base.$backgroundSecondaryColor;
        border-radius: 12px;
        padding: 20px 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;

        .itemsshown {
            @include base.medium__text;
            color: base.$base300;
        }

        form {
            display: flex;
            align-items: center;
            gap: 20px;

            label {
                @include base.medium__text;
                color: base.$base400;
            }
        }

        .elt__shopsdbr__btn {
            display: none;
        }
    }

    /** Content **/
    .elt__shop__all__products {
        display: flex;
        gap: 28px;
        flex-wrap: wrap;
    }
}

@media (max-width: 1199px) {
    .elt__shop__section {
        .elt__shop__sidebar {
            @include utils.transition-06s;
            position: fixed;
            height: 85dvh;
            z-index: 999999;
            left: 50%;
            transform: translateX(-50%);
            top: 120%;

            .elt__shop__sidebar__close {
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: calc(100% + 20px);
            }

            .all__widgets {
                overflow-y: auto;
                height: 100%;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.show {
                top: 15%;
            }
        }

        .elt__shop__topbar .elt__shopsdbr__btn {
            @include base.medium__text;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 8px 16px;
            color: base.$base300;
            border: 1px solid base.$base300;
            border-radius: 8px;
            background: transparent;
        }
    }
}

/*Product Size Select*/
.elt__shopsdbr__sizes {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;

    .item {
        @include base.medium__text;
        padding: 12px 38px;
        box-shadow: inset 0 0 0 1px base.$base700;
        border-radius: 8px;
        background: transparent;
        color: base.$base200;

        &.active,
        &:hover {
            @include utils.transition-03s;
            box-shadow: inset 0 0 0 1px base.$brandPrimaryColor;
            background: base.$FillPrimaryColor;
        }
    }
}
/*** End of Shop Section ***/

/*** Start of Single Product Section ***/
.elt__singleprodpage .bg__rounded__color {
	top: 10%;
	left: unset;
	transform: none;
	right: 10%;
    height: 200px;
    width: 250px;
    background: rgba(245, 120, 71, 0.05);
    box-shadow: 0 0 400px 400px rgba(245, 120, 71, 0.05);
}

.elt__singleproduct__section {
    .elt__sp__images {
        position: sticky;
        top: 0;
        left: 0;
        gap: 20px;

        .thumbnails {
            gap: 20px;
            flex-shrink: 0;
            flex-grow: 0;

            .thumb {
                height: 122px;
                width: 111px;
                border-radius: 14px;
                overflow: hidden;
                flex-shrink: 0;
                flex-grow: 0;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .tab-content .tab-pane {
            width: 100%;
            height: 690px;
            border-radius: 14px;
            overflow: hidden;
            flex-shrink: 0;
            flex-grow: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
        
    }

    .elt__sp__info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;

        .title {
            .eltsp__prodtitle {
                color: base.$base100;
                font-weight: 600;
                margin-bottom: 16px;
            }

            .eltsp__rating {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;

                p {
                    margin: 0;
                }

                .eltsp__filledstar {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    color: base.$AccentYellow;
                }

                .eltsp__prodratenum {
                    color: base.$base200;
                }

                .eltsp__totalrevnum {
                    color: base.$base400;
                }
            }
        }

        .brand__category {
            display: flex;
            align-items: center;
            gap: 60px;
            color: base.$base300;
            flex-wrap: wrap;

            span, a {
                @include base.medium__text;
            }

            a {
                color: base.$base300;

                &:hover {
                    color: base.$brandPrimaryColor;
                }
            }
        }

        .price {
            display: flex;
            align-items: flex-end;
            gap: 12px;

            .eltsp__originalprice {
                color: base.$base500;
                line-height: 100% !important;
                text-decoration: line-through;
                margin: 0;
            }

            .eltsp__discountprice {
                color: base.$base100;
                line-height: 100% !important;
                margin: 0;
                font-weight: 500;
            }
        }

        .features {
            display: flex;
            flex-direction: column;
            gap: 16px;

            span {
                @include base.medium__text;
                color: base.$base300;
            }

            ul {
                margin-bottom: 0;

                li {
                    list-style: disc;
                    color: base.$base100;
                }
            }
        }

        .sizes {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                display: flex;
                justify-content: space-between;

                span, a {
                    @include base.medium__text;
                    font-weight: 500;
                    color: base.$base300;
                }

                a {
                    color: base.$AccentLink;
                    text-decoration: underline;

                    &:hover {
                        color: base.$brandPrimaryColor;
                    }
                }
            }

            .elt__shopsdbr__sizes {
                justify-content: flex-start;
            }
        }

        .colors {
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                @include base.medium__text;
                color: base.$base300;
                display: flex;
                gap: 20px;

                .eltsp__colorname {
                    color: base.$base100;
                }
            }

            .eltsp__color__visual {
                --color1: #D4CDBB;
                --color2: #CFA781;
                --color3: #8FB98B;
                --color4: #5F6CAF;
                --color5: #C763B1;

                display: flex;
                align-items: center;
                gap: 28px;
                flex-wrap: wrap;

                .color__item {
                    @include utils.transition-03s;
                    display: block;
                    border-radius: 50%;
                    cursor: pointer;
                    flex-shrink: 0;
                    flex-grow: 0;
                    height: 38px;
                    width: 38px;
                    box-shadow: inset 0 0 0 7px base.$backgroundPrimaryColor;

                    &:hover,
                    &.active {
                        border: 1px solid;
                        box-shadow: inset 0 0 0 6px base.$backgroundPrimaryColor;
                    }
                }
            }
        }

        .quantity {
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                @include base.medium__text;
                color: base.$base300;
            }

            .ctas {
                display: flex;
                align-items: center;
                gap: 28px;
                flex-wrap: wrap;
            }

            .eltsp__addtocart {
                @include comps.elt__button__c;
                width: 183px;
            }

            .eltsp__addwishlist {
                @include comps.elt__button__d;
                color: base.$base300;
                
                svg {
                    stroke: base.$base300;
                }

                &:hover {
                    background: base.$backgroundTertiaryColor;
                }
            }
        }

        .buy__btn {
            display: flex;
            flex-direction: column;
            gap: 28px;

            .eltsp__buybtn {
                @include comps.elt__button__a;
                width: 373px;
            }

            span {
                @include base.medium__text;
                color: base.$base300;
                display: flex;
                align-items: center;
                gap: 12px;

                svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }

        .social__share {
            display: flex;
            align-items: center;
            gap: 48px;
            flex-wrap: wrap;

            span {
                color: base.$base300;
            }

            .eltsp__socialshare {
                background: transparent;
                color: base.$base300;
                font-size: 24px;

                &:hover {
                    color: base.$brandPrimaryColor;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .elt__singleproduct__section .elt__sp__images .tab-content {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1640px) {
    .elt__singleproduct__section {
        .container,
        .elt__sp__images {
            gap: 28px;
    
            .thumbnails {
                gap: 28px;
            }
    
            .tab-content .tab-pane {
                width: 660px;
                height: 722px;
            }
        }
        .elt__sp__info {
            width: 753px;
            margin-left: auto;
        }
    }
}

@media (min-width: 1701px) {
    .elt__singleproduct__section .col-xxl-6 {
        padding: 0;
    }
}

/* Size Guide Popup */
.elt__sizeguide__popup {
    @include utils.primary__blur;
    @include utils.transition-06s;
    height: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    z-index: 999999;

    &.show {
        height: fit-content;
        width: 900px;
        height: 600px;
    }

    .eltsgpp__close__btn {
        position: fixed;
        right: 10px;
        top: 10px;
    }

    .wrapper {
        padding: 20px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
            padding: 20px;
            background: base.$backgroundTertiaryColor;
            border-radius: 16px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width: 991px) {
    .elt__sizeguide__popup.show {
        width: 90dvw;
    }
}

@media (max-width: 767px) {
    .elt__sizeguide__popup.show {
        height: 70dvw;
    }
}

/** Product Information Section **/
.elt__productinfo__section {
    margin-top: 70px;

    /*Tabs*/
    .elt__pis__nav {
        display: flex;
        align-items: center;
        gap: 82px;
        border-bottom: 1px solid base.$base800;
        padding-bottom: 28px;
        margin-bottom: 48px;
    
        h6 {
            background: transparent;
            color: base.$base400;
            line-height: 100%;
            margin: 0;
    
            &.active {
                color: base.$base100;
            }
        }
    }

    /*Content*/
    .elt__pis__cont .tab-pane {
        li {
            list-style: disc;
        }
    }

    /*Customer Review Area*/
    .elt__productreview {
        p {
            margin-bottom: 4px;
        }
        
        .wrapper {
            .title {
                display: flex;
                flex-direction: column;
                gap: 16px;
        
                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    h3 {
                        margin-bottom: 0;
                    }

                    .eltpis__reviewformtoggle {
                        @include comps.elt__button__c;
                    }
                }
        
                .bottom {
                    display: flex;
                    justify-content: space-between;
                    gap: 15px;
                }
            }

            .elt__submitted__review {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                margin-top: 30px;
            
                .elt__user__review {
                    width: 100%;
                    background: base.$backgroundTertiaryColor;
                    padding: 20px;
                    border-radius: 20px;
            
                    .eltur__top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
            
                        .name__image {
                            display: flex;
                            align-items: center;
                            gap: 16px;
                        }
            
                        img {
                            height: 60px;
                            width: 60px;
                            border: 1px solid base.$base400;
                            border-radius: 50%;
                        }
            
                        .text {
                            display: flex;
                            flex-direction: column;

                            .userfullname {
                                @include base.medium__text;
                                font-weight: 600;
                                margin-bottom: 3px;
                                color: base.$base400;
                            }
            
                            .reviewsubmitdate {
                                @include base.small__text;
                                color: base.$base400;
                                font-weight: 500;
                            }
                        }
                    }
            
                    .eltur__bottom {
                        padding-left: 76px;

                        .submittedreviewtext {
                            @include base.medium__text;
                            color: base.$base300;
                        }
                    }
            
                }
                
                .elt__review__form {
                    max-height: 0;
                    overflow: hidden;
                    transition: 0.6s;
                    -moz-transition: 0.6s;
                    -webkit-transition: 0.6s;
                    -ms-transition: 0.6s;
                    -o-transition: 0.6s;
            
                    &.show {
                        max-height: 800px;
                    }

                    .wrapper {
                        .jq-ry-container {
                            padding: 0;
                            margin-bottom: 15px;
                        }

                        h4,h6,p {
                            color: base.$base200;
                        }

                        p {
                            margin-bottom: 10px
                        }

                        form {
                            button {
                                @include comps.elt__button__c;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .star__rating {
        display: flex;
        gap: 5px;
    }
}
/*** End of Single Product Section ***/