/* comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/*fira sens*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Comfortaa", sans-serif;
}

:root {
    --color-one: #ED6436;
    --color-two: #7C0D90;
    --color-three: #fff;
    --color-four: #000;
}

.preloader {
    width: 100vw;
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 9999;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--color-two);
    color: var(--color-three);
    z-index: 999;
}

header.sticky_animation {
    position: sticky;
    top: 0;
    transform: translate(0px, 20px);
    animation: sticky_anim 1s alternate forwards ease-in-out;
}

@keyframes sticky_anim {
    0% {
        transform: translate(0px, -110px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.top-haeder {
    padding: 10px 0px;
    border-bottom: 1px solid #ffffff50;
}

.top-header-left .currency a,
.top-header-left .language a {
    outline: none;
    background: transparent;
    color: var(--color-three);
    border: none;
    font-size: 13px;
}

.top-header-left .currency .option-menu,
.language .option-menu {
    background-color: var(--color-three);
    width: 100%;
    padding: 10px 0px;
    transform: translate(0px, 25px);
    opacity: 0;
    border-radius: 5px;
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 2px solid var(--color-two); */
    border-top: none;
    padding-bottom: 0;
    overflow: hidden;
}

.top-header-left .currency .option-menu li a,
.language .option-menu li a {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    transition: .6s;
}

.top-header-left .currency .option-menu li,
.language .option-menu li {
    background-color: var(--color-three);
    text-align: center;
    padding: 5px 10px;
    transition: .6s;
    cursor: pointer;
}

.top-header-left .currency .option-menu li:hover,
.language .option-menu li:hover {
    transition: .6s;
    background: var(--color-two);
    color: var(--color-three);
}

.top-header-left .currency .option-menu li:hover a,
.language .option-menu li:hover a {
    transition: .6s;
    color: var(--color-three);
}


.top-header-left .currency>a,
.language>a {
    font-size: 13px;
    display: flex;
    color: var(--third-color);
    width: 100px;
    justify-content: space-between;
}

.language>a {
    width: 80px;
}

.top-header-left .currency>a span:nth-child(2),
.language>a span:nth-child(2) {
    display: block;
    margin-top: 2px;
}

.top-header-left .currency,
.top-header-left .language {
    position: relative;
}

.top-header-left .currency:hover .option-menu,
.language:hover .option-menu {
    animation: fade-up .5s ease-in-out forwards alternate;
    display: block;
}

@keyframes fade-down {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    100% {

        transform: translate(0px, 25px);
        opacity: 0;
    }
}

@keyframes fade-up {
    0% {
        transform: translate(0px, 25px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.top-header-left .currency .option,
.language .option {
    width: 150px;
    position: absolute;
    z-index: 9;
}

.top-header-right ul.user_option li a {
    color: var(--color-three);
    font-size: 14px;
    transition: .6s;
}

.top-header-right ul.user_option li a:hover {
    color: var(--color-one);
    transition: .6s;
}

.top-header-left .currency a:hover,
.top-header-left .language a:hover {
    color: var(--color-one);
    transition: .6s;
}

.helpline span:hover {
    color: var(--color-one);
    transition: .6s;
}

.helpline span {
    font-size: 14px;
    color: var(--color-three);
    transition: .6s;
    cursor: pointer;
}

.logo h2 {
    font-size: 35px;
    font-weight: 800;
    color: var(--color-three);
    margin-bottom: 0;

}

.logo h2 span {
    color: var(--color-one);
    font-family: "Comfortaa", sans-serif;
}

.side_menu_item .logo h2 {
    color: var(--color-two);
}

.side_menu_item {
    width: 280px !important;
}

.side_menu_item button {
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    font-size: 15px;
    color: var(--color-three);
    background: var(--color-one);
    border-radius: 50%;
    opacity: 1;
    transition: .6s;
}

.side_menu_item {
    width: 280px !important;
}

.main_menu_container>ul>li {
    position: relative;
}

.main_menu_container>ul>li .dropdown_menu {
    position: absolute;
    width: 200px;
    text-align: center;
    background: var(--color-three);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translate(0px, 30px);
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    z-index: 9;
}

.main_menu_container>ul>li .dropdown_menu ul li a {
    display: block;
}

.main_menu_container>ul>li .dropdown_menu.mega_menu2 {
    width: 770px;
    left: -350%;
}

.main_header .main_header_wrapper .header_search {
    width: 600px;
    height: 50px;
    background: var(--color-three);
    border-radius: 5px;
}

.main_header {
    padding: 15px 0px;
}

.search_items {
    display: flex;
}

.search_items input::placeholder {
    color: var(--color-one);
}

.search_items input {
    height: 100%;
    background: white;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: var(--color-one);
    width: calc(100% - 230px);
}

.category {
    height: 100%;
}

form.search_items {
    height: 50px;
    width: 600px;
    justify-content: space-between;
    background: white;
    border-radius: 5px;
}


.search_items button {
    width: 60px;
    height: 100%;
    outline: none;
    border: 1px solid transparent;
    background: var(--color-one);
    color: var(--color-three);
    border-radius: 5px;
    border: 2px solid var(--color-three);
}

.main_header .main_header_wrapper .side_option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main_header .main_header_wrapper .side_option a {
    font-size: 20px;
    color: var(--color-three);
    transition: .6s;
    cursor: pointer;
}

.main_header .main_header_wrapper .side_option a:hover {
    color: var(--color-one);
    transition: .6s;
}

.category .category_option {
    display: block;
    position: absolute;
    background: var(--color-three);
    width: 100%;
    bottom: 0;
    transform: translate(0px, 110%);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    visibility: hidden;
    opacity: 0;
}

.category {
    width: 170px;
    position: relative;
}

.category .category_field {
    font-size: 14px;
    color: var(--color-four);
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #ededed;
    border-radius: 5px;
}

.category .category_option ul li {
    text-align: center;
    font-size: 14px;
    padding: 6px 0px;
    color: var(--color-four);
    transition: .6s;
    cursor: pointer;
}

.category .category_option ul li:hover {
    color: var(--color-three);
    transition: .6s;
    background: var(--color-two);
}

.category:hover .category_option {
    display: block;
    transition: .6s;
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 100%);
    z-index: 9;
}

.bottom_header_wrapper .side_menu {
    width: 230px;
    position: relative;
    transition: .6s;
}



.bottom_header_wrapper .side_menu button {
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    background: #ededed;
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom_header_wrapper .side_menu .side_menu_wrapper ul.menu_list>li>a:hover {
    background: var(--color-two);
    color: var(--color-three);
    transition: .6s;
}

.search_bar {
    width: 100%;
    display: none;
}

.bottom_header_wrapper .side_menu .side_menu_wrapper {
    position: absolute;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 18px 29px 0px;
    border-radius: 5px;
    /* overflow: hidden; */
    opacity: 0;
    visibility: visible;
    transform: scaleY(0);
    transform-origin: top;
    transition: .6s;
    z-index: 9;
}

.bottom_header_wrapper .side_menu .side_menu_wrapper ul.menu_list>li>a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #ededed;
    font-size: 14px;
    color: var(--color-four);
    transition: .6s;
    background-color: var(--color-three);
}

.bottom_header {
    padding: 15px 0px;
    border-bottom: 1px solid #c3c3c375;
}

.bottom_header_wrapper .side_menu:hover .side_menu_wrapper {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    transition: .6s;
}

.main_menu_container ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-three);
    transition: .6s;
}

.main_menu_container ul {
    gap: 35px;
}

.main_menu_container ul li a:hover {
    color: var(--color-one);
    transition: .6s;
}

.bottom_header .social_link a {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: var(--color-three);
    color: var(--color-one);
    font-size: 14px;
    transition: .6s;
}

.bottom_header .social_link a:hover {
    color: var(--color-two);
    transition: .6s;
    transform: rotate(360deg);
}

.main_menu_container>ul>li .dropdown_menu>ul>li a {
    color: var(--color-two);
    display: block;
    padding: 10px;
    font-size: 14px;
    text-transform: capitalize;
    background: transparent;
    transition: .6s;
}

.main_menu_container>ul>li .dropdown_menu>ul>li a:hover {
    transition: .6s;
    color: var(--color-three);
    background: var(--color-two);
}

.main_menu_container>ul>li:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    transition: .6s;
    transform: translate(0px, 0px);
}

.side_cart_header h5 {
    font-size: 22px;
    font-weight: 700;
}

.side_cart_header h5 svg {
    color: var(--color-two);
    font-size: 25px;
}

.side_cart_header button.btn-close {
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    background: var(--color-two);
    opacity: 1;
    border-radius: 50%;
    color: var(--color-three) !important;
    transition: .6s;
}

.btn-close {
    color: var(--color-three);
}

.cart_product_container .single_c_product .cart_img {
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 15px;
    background-color: var(--color-three);
}

.cart_product_container .single_c_product .cart_img .cart_no {
    position: absolute;
    color: var(--color-one);
    font-weight: 700;
    font-size: 30px;
    top: -20px;
    left: -15px;
}

.cart_product_container .single_c_product .cart_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid var(--color-two);
}

.cart_product_container .single_c_product .cart_info h3 {
    font-size: 18px;
    font-weight: 800;
}

.cart_product_container .single_c_product {
    gap: 10px;
}

.cart_product_container .single_c_product .cart_info {
    position: relative;
}

.cart_product_container .single_c_product>.cart_delete {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #666;
    width: 22px;
    height: 22px;
    display: grid;
    place-items: center;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid var(--color-one);
    color: var(--color-one);
    cursor: pointer;
}

.cart_product_container .single_c_product .cart_info .add_cart span {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
    background-color: var(--color-one);
    color: var(--color-three);
    cursor: pointer;
}

.cart_product_container .single_c_product .cart_info .add_cart input {
    height: 30px;
    width: 40px;
    outline: none;
    border: 1px solid var(--color-one);
    text-align: center;
    padding: 5px;
    font-size: 15px;
    color: var(--color-one);
}

.cart_product_container .single_c_product .cart_info .add_cart input::-webkit-inner-spin-button,
.cart_product_container .single_c_product .cart_info .add_cart input::-webkit-outer-spin-button {
    appearance: none;
}

.cart_product_container .single_c_product .cart_info .add_cart span:last-child {
    border-radius: 0px 5px 5px 0px;
}

.cart_product_container .single_c_product .cart_info h3:hover {
    color: var(--color-two);
    transition: .6s;
}

.cart_bottom .subtotal h4 {
    font-size: 18px;
    margin-bottom: 0;
}

.cart_bottom .subtotal>span {
    font-size: 18px;
    font-weight: 600;
}

.cart_bottom .subtotal {
    padding: 10px 0px;
    border-top: 1px solid var(--color-two);
    border-bottom: 1px solid var(--color-two);
}

.cart_bottom .side_cart_buttons a {
    width: 220px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-bottom: 15px;
    background: var(--color-two);
    color: var(--color-three);
    font-weight: 500;
    border-radius: 50px;
    transition: .6s;
    position: relative;
    overflow: hidden;
}

.price_cart>span {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-two);
}

.price_cart {
    gap: 35px;
}

.cart_bottom .side_cart_buttons {
    align-items: center;
    padding: 30px;
}

.cart_bottom .side_cart_buttons a:last-child {
    margin-bottom: 0;
    background: var(--color-one);
}

.cart_product_container {
    /* padding: 15px 0px; */
    padding-bottom: 35px;
}

.cart_bottom .side_cart_buttons a:first-child::before {
    content: " ";
    width: 100%;
    position: absolute;
    height: 100%;
    background: var(--color-one);
    transform-origin: bottom left;
    transform: scale(0);
    transition: .6s;
}

.cart_bottom .side_cart_buttons a:last-child::before {
    content: " ";
    width: 100%;
    position: absolute;
    height: 100%;
    background: var(--color-two);
    transform-origin: bottom left;
    transform: scale(0);
    transition: .6s;
}

.cart_bottom .side_cart_buttons a:hover::before {
    transform: scale(1);
    transform-origin: top right;
    transition: .6s;
}

.side_cart_buttons>a>span {
    position: relative;
    z-index: 1;
}

.menu_icon {
    display: none
}

.menu_icon button {

    outline: none;
    background-color: transparent;
    border: none;
    color: var(--color-three);
    font-size: 22px;
}

.field_title {
    font-size: 30px;
}

.mega_menu {
    display: grid;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(105%, 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    width: 700px;
    background: var(--color-three);
    padding: 25px;
    gap: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    visibility: hidden;
    opacity: 0;
}

.side_menu_wrapper>ul>li {
    position: relative;
}

.mega_menu .single_part h3 {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 8px;
    color: var(--color-two);
}

.mega_menu .single_part ul>li>a {
    color: var(--color-four);
    padding: 3px 0px;
    display: inline-block;
    font-size: 14px;
    transition: .6s;
}

.mega_menu .single_part ul>li>a:hover {
    color: var(--color-one);
    transition: .6s;
    transform: translate(5px, 0px);
}

.single_menu_product {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.menu_product_img h2 {
    font-size: 18px;
    color: var(--color-four);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu_product_img b {
    font-size: 20px;
    color: var(--color-two);
    display: block;
}

.menu_product_img a {
    width: 130px;
    height: 45px;
    text-align: center;
    color: var(--color-three);
    background-color: var(--color-two);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 17px 0px;
    border-radius: 5px;
}

.cat_img {
    width: 60%;
    margin: auto;
}

.bottom_header_wrapper .side_menu .side_menu_wrapper ul.menu_list>li:hover .mega_menu {
    opacity: 1;
    visibility: visible;
    transition: .6s;
    transform: translate(100%, 0px);
}

.mega_menu2 h4 {
    color: var(--color-two);
    font-size: 16px;
    font-weight: 500;
}

.mega_menu2 .single_menu_part {
    padding: 30px 15px;
}

.mega_menu2 ul>li>a {
    color: black;
    font-weight: 400;
    padding: 5px;
    font-size: 14px;
}


/* accordian style */
.accordion-container .accordion-title {
    position: relative;
    margin: 0;
    display: block;
    font-weight: normal;
    color: black;
    cursor: pointer;
}

.accordion-content {
    border: 1px solid var(--color-two);
    padding: 10px;
}

.accordion-container .accordion-title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 12px;
    height: 2px;
    transform: rotate(90deg);
    background: black;
    transition: all .3s ease-in-out;
}

.accordion-container .accordion-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 12px;
    height: 2px;
    background: black;
    transition: all .2s ease-in-out;
}

.accordion-container .accordion-title.open::before {
    transform: rotate(180deg);
    background: var(--color-three);
}

.accordion-container .accordion-title.open::after {
    opacity: 0;
    background: var(--color-three);
}

.accordion-content a {
    display: block;
    padding: 5px 0px;
    color: var(--color-two);
    transition: .6s;
}

.accordion-content a:hover {
    color: #333;
    transition: .6s;
}


.accordion-container .menu_item {
    color: var(--color-two);
    font-size: 16px;
    padding: 10px;
    width: 100%;
    display: block;
    transition: .6s;
}

.accordion-container .menu_item:hover {
    color: var(--color-three);
    transition: .6s;
    background: var(--color-two);
}

.accordion-container .accordion-title.open {
    background-color: var(--color-two);
    color: var(--color-three);
}

.accordion-container .accordion-title:hover::before {
    background: var(--color-three);
}

.accordion-container .accordion-title:hover::after {
    background: var(--color-three);
}

/* quick view style */
.quick_view_popup {
    width: 100%;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 9999;
}

.quick_view_popup .popup_bg {
    background: #000000b3;
    width: 100%;
    position: absolute;
    height: 100%;
}

.quick_view_wrapper .close_quick_view:hover {
    background-color: var(--color-two);
    color: var(--color-three);
    transition: .6s;
    transform: rotate(180deg);
}

.quick_view_wrapper .close_quick_view {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    color: var(--color-two);
    background-color: var(--color-three);
    cursor: pointer;
    border-radius: 50%;
    transition: .6s;
    z-index: 9;
}

.quick_view_popup .quick_view_wrapper {
    width: 720px;
    background: var(--color-three);
    z-index: 9;
    padding: 20px;
    height: 560px;
    border-radius: 10px;
    position: relative;
}

.quick_view_popup .quick_view_wrapper .right_side>a:hover {
    text-decoration: underline !important;
}

.quick_view_popup .quick_view_wrapper .right_side>a {
    font-size: 16px;
    color: #666;
}

.quick_view_popup .quick_view_wrapper .right_side .p_title {
    font-size: 25px;
    color: #333;
    font-weight: 600;
    margin-top: 5px;
}

.swiper-button-next5, .swiper-button-next, .swiper-button-prev5, .swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
    background: var(--color-two) !important;
    border-radius: 50%;
}

.swiper-button-next5::after,
.swiper-button-next::after,
.swiper-button-prev5::after,
.swiper-button-prev::after {
    font-size: 18px !important;
    color: var(--color-three) !important;
    font-weight: 600;
}

.mySwiper6 .swiper-wrapper {
    padding: 30px 0px;
    padding-bottom: 50px;
}

.mySwiper6 .thub_img {
    height: 100px;
}

.mySwiper6 .thub_img img {
    height: 100%;
    object-fit: contain;
}

.mySwiper5 .swiper-wrapper {
    background: #ededed;
}

.mySwiper5 .img_area img {
    height: 100%;
    object-fit: contain;
}

.mySwiper6 .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: var(--color-two);
}

.mySwiper6 .swiper-slide {
    cursor: pointer;
}

.mySwiper5 .img_area {
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #ededed;
    height: 350px;
}

.quick_view_popup .quick_view_wrapper .right_side .quick_price {
    font-size: 22px;
    font-weight: 700;
    color: var(--color-two);
    margin-bottom: 10px;
}

.quick_view_popup .quick_view_wrapper .right_side .rating_info {
    padding: 10px 0px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.quick_view_popup .quick_view_wrapper table.rating {
    width: 100%;
}

.quick_view_popup .quick_view_wrapper table.rating tr td {
    font-size: 16px;
}

.quick_view_popup .quick_view_wrapper table.rating tr td .rating_star {
    color: #EFCA00;
    font-size: 14px;
}

.quick_view_popup .quick_view_wrapper table.rating tr td {
    padding: 5px 0px;
}

.quick_view_popup .quick_view_wrapper p.product_des {
    font-size: 16px;
    color: #666;
    line-height: 1.6rem;
    padding: 10px 0px;
}

.quick_view_popup .quick_view_wrapper .quantity h4 {
    font-size: 20px;
    color: #333;
}

.quick_view_popup .quick_view_wrapper .quantity .quantity_wrapper span {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background-color: #ededed;
    color: #333;
    cursor: pointer;
}

.quantity .quantity_wrapper input::-webkit-inner-spin-button,
.quantity .quantity_wrapper input::-webkit-outer-spin-button {
    appearance: none;
}

.quick_view_popup .quick_view_wrapper .quantity .quantity_wrapper input {
    width: 50px;
    height: 40px;
    outline: none;
    border: 1px solid #ededed;
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 5px
}

.quick_view_popup .quick_view_wrapper .add_btn a:hover {
    background: var(--color-three);
    color: var(--color-two);
    border: 1px solid var(--color-two);
    transition: .6s;
}

.quick_view_popup .quick_view_wrapper .add_btn a {
    display: grid;
    height: 45px;
    background: var(--color-two);
    border: 1px solid transparent;
    color: var(--color-three);
    place-items: center;
    margin-top: 15px;
    transition: .6s;
    border-radius: 10px;
}

.quick_view_popup .quick_view_wrapper .product_option_area ul li {
    font-size: 15px;
    padding: 5px 0px;
}

.social_link_menu {
    padding: 30px 0px
}

.social_link_menu a {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: var(--color-two);
    color: var(--color-three);
    font-size: 15px;
    transition: .6s;
    transform: scale(1);
}

.social_link_menu a:hover {
    transform: scale(.9);
    transition: .6s;
    background: var(--color-one);
}



/* product body style start */
ul.breadcrumb_div {
    margin-bottom: 0;
    display: flex;
    padding-block: 10px;
}

ul.breadcrumb_div li {
    color: #666;
    font-size: 14px;
    transition: .6s;
}

ul.breadcrumb_div li a {
    transition: .6s;
}

ul.breadcrumb_div li a:hover {
    transition: .6s;
    color: var(--color-two);
}

ul.breadcrumb_div li:first-child::before {
    font-family: 'FontAwesome';
    content: "\e3af";
    color: var(--color-two);
    margin-right: 5px;
}

ul.breadcrumb_div li:first-child::after {
    font-family: 'FontAwesome';
    content: "\f054";
    margin-right: 8px;
}

ul.breadcrumb_div li a {
    color: var(--color-four);
}

ul.breadcrumb_div li:last-child {
    color: var(--color-two);
}



/* aside style start */


aside .filter_price .price_inputs {
    align-items: center;
}

aside .filter_price .price_inputs .field {
    display: flex;
    align-items: center;
    height: 35px;
}

aside .filter_price .price_inputs .field input {
    width: 65px;
    font-size: 15px;
    padding: 5px;
    outline: none;
    appearance: none;
    border: 1px solid transparent;
    text-align: center;
    border: 1px solid var(--color-two);
    height: 100%;
}

aside .filter_price .price_inputs .field input:focus {
    border: 1px solid var(--color-two);
}

aside .filter_price .price_inputs .field span {
    font-size: 15px;
    width: 40px;
    display: grid;
    place-items: center;
    background: var(--color-two);
    height: 35px;
    border: 1px solid var(--color-two);
    color: var(--color-three);
}

aside .filter_price .price_inputs .field input[type="number"]::-webkit-outer-spin-button,
aside .filter_price .price_inputs .field input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

aside .filter_price .price_ragne {
    height: 5px;
    background-color: #c3c3c3;
    margin: 30px 0;
}

aside .filter_price .price_ragne .price_progress {
    height: 5px;
    background: var(--color-two);
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;

}

.filter_price .price_ragne {
    position: relative;
}


aside .filter_price .price_ragne .range_div {
    position: relative;
}

aside .filter_price .price_ragne .range_div input {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--color-two);
    background: none;
    appearance: none;
    -moz-appearance: textfield;
    pointer-events: none;
    cursor: pointer;
}

aside .filter_price .price_ragne .range_div input::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    background: var(--color-two);
    border-radius: 100%;
    -webkit-appearance: none;
    pointer-events: auto;
}

aside .filter_price .price_ragne .range_div input::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--color-two);
    border-radius: 100%;
    -moz-appearance: none;
    pointer-events: auto;
}

/*change*/
.offcanvas.offcanvas-start.filter_side {
    width: 310px;
    overflow: auto;
    background: #f4f5f7;
}

.offcanvas.offcanvas-start.filter_side::-webkit-scrollbar {
    width: 10px;
}

.offcanvas.offcanvas-start.filter_side::-webkit-scrollbar-track {
    background: var(--color-three);
}

.offcanvas.offcanvas-start.filter_side::-webkit-scrollbar-thumb {
    background: var(--color-two);
    border-radius: 10px;
}

aside .aside_wrapper>button {
    outline: none;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--color-one);
    opacity: 1;
    color: var(--color-three);
    transition: .6s;
    position: absolute;
    top: 5px;
    right: 5px;
}

aside .aside_wrapper>button:hover {
    background: var(--color-two);
    transition: .6s;
}

/*change*/





aside {
    position: relative;
    width: 280px;
    background: #f4f5f7;
    border-radius: 10px;
}

aside .aside_wrapper {
    padding: 30px 15px;
    position: relative;
    border-radius: 10px;
    width: 100%;
}

aside .aside_title h2 {
    font-size: 30px;
    color: #333;

}

aside .aside_title {
    margin-bottom: 20px;
}

aside .aside_title button {
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-two);
    font-weight: 500;
    font-size: 16px;
    transition: .6s;
}

aside>button:hover {
    transition: .6s;
    color: var(--color-three);
    border: 1px solid var(--color-one);
    background: var(--color-one);
}

aside .category .single_category {
    display: flex;
    gap: 10px;
    align-items: center;
}

.category_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

aside .category .single_category label {
    color: #333;
    font-size: 17px;
    transition: .6s;
}

aside .category .single_category label:hover {
    color: var(--color-two);
    transition: .6s;
}

.div_title {
    font-size: 22px;
    margin-bottom: 15px;
}

.tags .tags_wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tags_wrapper a {
    padding: 5px 10px;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid var(--color-two);
    border-radius: 50px;
    color: var(--color-two);
    transition: .6s;
}

.tags_wrapper a:hover {
    transition: .6s;
    color: var(--color-three);
    border: 1px solid var(--color-two);
    background: var(--color-two);
}

.price_head button {
    padding: 5px 25px;
    background-color: var(--color-one);
    color: var(--color-three);
    transition: .6s;
    border-radius: 50px;
    border: 1px solid transparent;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}

.price_head button:hover {
    background-color: var(--color-two);
    border: 1px solid var(--color-two);
    color: var(--color-three);
}

.price_head .div_title {
    margin-bottom: 0;
}

.price_head {
    margin-bottom: 20px;
}

.single_product .product_img {
    width: 30%;
    background: #f4f5f7;
}

.single_product .product_info {
    margin-left: 8px;
}

.single_product .product_info .product_rating svg {
    font-size: 11px;
    color: #F5C314;
}

.single_product .product_info .product_title a:hover {
    color: var(--color-two);
    transition: .6s;
}

.single_product .product_info .product_title a {
    font-size: 18px;
    margin: 5px 0px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    transition: .6s;

}

.single_product .product_info .product_price {
    color: var(--color-one);
    font-weight: 600;
    margin: 0px;
    margin-bottom: 0;
}

.side_bar_close {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    color: var(--color-three);
    background-color: var(--color-two);
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: .6s;
}

.side_bar_close:hover {
    color: var(--color-three);
    background-color: var(--color-one);
    transition: .6s;
}

.filter_side {
    width: 300px;
    background: #f4f5f7;
}

.main_page {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    overflow: hidden;
}

.mySwiper7 .thub_img {
    margin: auto;
    height: 70px;
    cursor: pointer;
}

.mySwiper7 .thub_img img,
.mySwiper7 video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mySwiper7 .swiper-wrapper {
    padding-bottom: 75px;
}

.mySwiper8 .img_area {
    height: 400px;
    width: 100%;
    padding: 20px;
    display: block;
    cursor: zoom-in;
}

.mySwiper8 .img_area img,
.mySwiper8 .img_area video {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

.swiper-pagination7 .swiper-pagination-bullet {
    outline: 2px solid var(--color-two);
    outline-offset: 2px;
    background: var(--color-two);
}

.swiper-pagination7 .swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px !important;
}

.swiper-button-next8,
.swiper-button-prev8 {
    width: 40px !important;
    height: 40px !important;
    background: var(--color-two);
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .6s;
}

.swiper-button-next8::after,
.swiper-button-prev8::after {
    font-size: 16px !important;
    color: var(--color-three);
    font-weight: 600 !important;
    transition: .6s;
}

.swiper-button-next8:hover,
.swiper-button-prev8:hover {
    background: transparent;
    border: 1px solid var(--color-two);
    transition: .6s;
}

.swiper-button-next8:hover::after,
.swiper-button-prev8:hover::after {
    color: var(--color-two);
    transition: .6s;
}

.columns {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.main_page .product_left {
    padding: 10px;
}

.main_page .product_right>h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 16px;
}

.main_page .product_right .rating {
    margin-bottom: 15px;
}

.main_page .product_right .rating .star {
    font-size: 14px;
    color: #eebe13;
}

.main_page .product_right .rating>a {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-four);
    transition: .6s;
}

.main_page .product_right .rating>a:hover {
    color: var(--color-two);
    transition: .6s;
}

.main_page .product_right .price_div {
    gap: 15px;
    font-size: 25px;
    font-weight: 500;
}

.main_page .product_right .price_div>del {
    color: #999;
    font-family: 'Comfortaa';
    font-weight: 700;
}

.main_page .product_right .price_div span:not(.discount_rate) {
    font-family: 'Comfortaa';
    font-weight: 700;
    color: var(--color-two);
}

.main_page .product_right .price_div>.discount_rate {
    width: 80px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background: var(--color-one);
    color: var(--color-three);
    border-radius: 20px;
    padding: 5px;
}

.main_page .product_right>p {
    font-size: 14px;
    line-height: 1.6rem;
    color: #666;
    margin: 20px 0px;
}

.main_page .product_right .flash_seal .progress_main {
    position: relative;
    height: 10px;
    margin-bottom: 10px;
}

.main_page .product_right .flash_seal .seal_progress .seal_progress_blank {
    width: 100%;
    height: 10px;
    background: #ededed;
    border-radius: 50px;
}

.main_page .product_right .flash_seal .seal_progress .seal_progress_fill {
    width: 92%;
    height: 100%;
    background: linear-gradient(45deg, var(--color-two), var(--color-one));
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.main_page .product_right .flash_seal .seal_progress_title>p {
    font-size: 14px;
    margin-bottom: 0;
}

.main_page .product_right .flash_seal .seal_progress {
    margin-bottom: 10px;
}

.main_page .product_right .flash_seal .flash_seal_countdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background: #7c0d902e;
    border: 1px solid var(--color-two);
    padding: 10px;
    margin-bottom: 15px;
}

.main_page .product_right .flash_seal .flash_seal_countdown .countdown_title svg {
    color: var(--color-one);
    font-size: 20px;
}

.main_page .product_right .flash_seal .flash_seal_countdown .countdown_title>b {
    font-size: 14px;
    text-transform: uppercase;
}

.main_page .product_right .flash_seal .flash_seal_countdown .countdown>b {
    color: var(--color-one);
    font-size: 15px;
}

.main_page .product_right .flash_seal .flash_seal_countdown .countdown .flash_timer .countdown_div {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 14px;
    background: var(--color-three);
    border-radius: 3px;
    font-weight: 500;
}

.main_page .product_right .flash_seal .flash_seal_countdown .countdown .flash_timer {
    gap: 10px;
}

.main_page .product_right>table tr td:first-child {
    width: 90px;
    font-size: 16px;
    font-weight: 500;
}

.main_page .product_right>table tr td {
    font-size: 14px;
    padding-bottom: 5px;
}


.main_page .product_right>table {
    margin: 20px 0px;
}

.main_page .product_right .color_div>b {
    font-weight: 500;
}

.main_page .product_right .color_div .color_plate .single_color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: deeppink;
    margin: 10px 0px;
    cursor: pointer;
    transition: .3s;
}

.main_page .product_right .color_div .color_plate .single_color:hover {
    opacity: .5;
    transition: .3s;
}

.main_page .product_right .color_div .color_plate .single_color:nth-child(2) {
    background: cadetblue;
}

.main_page .product_right .color_div .color_plate .single_color:nth-child(3) {
    background: navy;
}

.main_page .product_right .color_div .color_plate .single_color:last-child {
    background: chocolate;
}

.main_page .product_right .color_div {
    margin-bottom: 10px;
}

.main_page .product_right .product_size {
    margin-bottom: 20px;
}

.main_page .product_right .product_size>b {
    font-weight: 500;
    font-size: 16px;
}

.main_page .product_right .product_size .size_plate .size_div {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: grid;
    place-items: center;
    background: #E7D3EB;
    transition: .3s;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 10px 0px;
}

.main_page .product_right .product_size .size_plate .size_div:hover {
    border: 1px solid var(--color-two);
}

.mySwiper7 .swiper-slide-thumb-active .thub_img {
    border: 2px solid var(--color-two);
    border-radius: 5px;
    padding: 5px;
}

.swiper-slide-thumb-active .thub_img {
    border: 2px solid var(--color-two);
    border-radius: 5px;
    padding: 5px;
}

.main_page .product_right .product_quantity {
    margin-bottom: 20px;
}

.main_page .product_right .product_quantity>b {
    font-weight: 500;
    font-size: 16px;
}

.main_page .product_right .product_quantity .quantity_wrapper {
    display: grid;
    grid-template-columns: auto 1fr 60px;
    gap: 15px;
}

.main_page .product_right .product_quantity .quantity_wrapper .quantity_fields input::-webkit-inner-spin-button,
.main_page .product_right .product_quantity .quantity_wrapper .quantity_fields input::-webkit-outer-spin-button {
    appearance: none;
}

.main_page .product_right .product_quantity .quantity_wrapper .quantity_fields input {
    width: 100%;
    text-align: center;
}

.main_page .product_right .product_quantity .quantity_wrapper {
    padding-top: 10px;
}

.main_page .product_right .product_quantity .quantity_wrapper .quantity_fields {
    height: 45px;
    display: flex;
}

.main_page .product_right .product_quantity .quantity_wrapper .quantity_fields>button {
    outline: none;
    border: 1px solid transparent;
    width: 40px;
    font-size: 14px;
    background: #f4f5f7;
    height: 100%;
}

.main_page .product_right .product_quantity .quantity_wrapper .quantity_fields>input {
    outline: none;
    border: 1px solid #f4f5f7;
    width: 45px;
    padding: 5px;
    font-size: 14px;
    color: var(--color-four);
}

.main_page .product_right .product_quantity .quantity_wrapper .cart_btn {
    background: var(--color-two);
    color: var(--color-three);
    transition: .6s;
}

.main_page .product_right .product_quantity .quantity_wrapper .cart_btn:hover {
    background: #f4f5f7;
    color: var(--color-four);
    transition: .6s;
}

.main_page .product_right .product_quantity .quantity_wrapper>button:hover {
    background: var(--color-two);
    color: var(--color-three);
    transition: .6s;
}

.main_page .product_right .product_quantity .quantity_wrapper>button {
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    border-radius: 3px;
    transition: .6s;
}

.main_page .product_right .product_quantity .quantity_wrapper>button:last-child {
    grid-column: 1 / -1;
}

.main_page .product_right .share_link .share_wrapper {
    gap: 15px;
}

.main_page .product_right .share_link>b {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.main_page .product_right .share_link .share_wrapper>a {
    margin-top: 10px;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    background: var(--color-two);
    color: var(--color-three);
    transition: .6s;
}

.main_page .product_right {
    padding: 15px 5px;
}

.main_page .product_right .share_link .share_wrapper>a:hover {
    transform: scale(.9);
    transition: .6s;
    color: var(--color-one);
}

.product_page_header {
    position: relative;
}

.product_page_header .side_bar_open>button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    color: var(--color-three);
    background: var(--color-one);
}

.offcanvas-xl.offcanvas-start {
    width: 280px;
    background: #f4f5f7;
}

.next_privious_poduct a.p_btn {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--color-two);
    color: var(--color-three);
    font-size: 14px;
    font-weight: 500;
    transition: .6s;
}

.next_privious_poduct a.p_btn:hover {
    background: var(--color-three);
    color: var(--color-two);
    transition: .6s;
    border: 1px solid var(--color-two);
}

.others_product {
    position: relative;
}

.others_product .product_link {
    width: 90px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: -35px;
    transform: translate(0px, 100%);
    padding: 10px;
    display: none;
    transition: .6s;
    opacity: 0;
    border: 2px solid var(--color-two);
    background: var(--color-three);
}

.others_product .product_link a {
    width: 100%;
    height: 100%;
}

.others_product .product_link img {
    object-fit: contain;
}

.others_product:last-child .product_link {
    transform: translate(-30px, 100%);
}

.others_product:hover .product_link {
    display: block;
    transition: .6s;
    opacity: 1;
}

.product_navigate {
    display: flex;
    justify-content: end;
}

.main_page .product_right .flash_seal .flash_seal_countdown .countdown .flash_timer .countdown_div:last-child {
    background: var(--color-one);
    color: var(--color-three);
}

.hide_top_header {
    display: none;
}



ul.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    list-style: none;
    padding: 15px;
}

ul.accordion-list li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #FFF;
    padding: 20px;
    margin: 0 auto 15px auto;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    background: #f4f5f7;
}

ul.accordion-list li.active h3:after {
    content: "\f068";
    font-family: 'FontAwesome';
}

ul.accordion-list li h3 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.01em;
    cursor: pointer;
    font-weight: 700;
}

ul.accordion-list li h3:after {
    content: "\2b";
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
    top: 0;
    color: var(--color-two);
    transition: all 0.3s ease-in-out;
    font-size: 18px;
}

div.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

div.answer p {
    position: relative;
    display: block;
    font-weight: 400;
    padding: 10px 0 0 0;
    cursor: pointer;
    line-height: 1.5rem;
    margin: 0 0 15px 0;
    font-size: 15px;
    color: #666;
}

div#brand>h3>span {
    font-family: 'Comfortaa';
    color: var(--color-one);
}

div#brand>h3 {
    font-size: 40px;
    color: var(--color-two);
    margin: 20px 0px;
}

div#brand>p {
    font-size: 15px;
    line-height: 1.5rem;
}

div#brand {
    padding: 15px;
}


/* file input css */
.wrap-custom-file {
    position: relative;
    text-align: center;
}

.wrap-custom-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
}

.wrap-custom-file label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    background-color: #f4f5f7;
    border-radius: 5px;
    transition: transform 0.4s, -webkit-transform 0.4s;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
}

.wrap-custom-file label span {
    display: block;
    font-size: 1.4rem;
    color: #666;
    transition: color 0.4s;
}

.wrap-custom-file label:hover span {
    color: #333;
}

.wrap-custom-file label.file-ok {
    background-size: cover;
    background-position: center;
}

.wrap-custom-file label.file-ok span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

div#Review {
    padding: 15px;
}

div#Review>h3 {
    font-size: 22px;
    font-weight: 700;
}

div#Review>.review_rating {
    font-size: 20px;
    margin-bottom: 20px;
}

div#Review .review_div>p {
    font-size: 14px;
    margin-bottom: 5px;
}

div#Review .review_div>button {
    outline: none;
    border: 1px solid transparent;
    width: 310px;
    font-size: 15px;
    font-weight: 500;
    height: 45px;
    background: var(--color-two);
    color: var(--color-three);
    transition: .6s;
    border-radius: 5px;
    margin-bottom: 20px;
}

div#Review .review_div>button:hover {
    background: #f4f5f7;
    color: var(--color-four);
}

div#Review .review_div>.review_form {
    width: 320px;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
}

div#Review .review_div>.review_form .my-rating {
    margin-bottom: 15px;
}

div#Review .review_div>.review_form .rating_input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rating_input textarea {
    height: 100px;
}

div#Review .review_div>.review_form .rating_input input:focus,
.rating_input textarea:focus {
    border: 1px solid var(--color-two);
    transition: .6s;
}

div#Review .review_div>.review_form .rating_input input,
.rating_input textarea {
    outline: none;
    padding: 10px;
    border: 1px solid #999;
    background: #f4f5f7;
    font-size: 14px;
    border-radius: 5px;
}

div#Review .review_div>.review_form .rating_input label {
    font-size: 16px;
    font-weight: 500;
}


div#Review .review_div>.review_form .rating_input>button {
    width: 100%;
    border: 1px solid transparent;
    background: var(--color-two);
    color: var(--color-three);
    border-radius: 5px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    transition: .6s;
}

.rating_file_input {
    height: 70px;
}

.rating_file_input>span {
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
}

.form_area_show {
    display: flex !important;
}

div#Review .review_div>.review_form .rating_input>button:hover {
    background: #f4f5f7;
    color: var(--color-four);
    transition: .6s;
}

.section_title h2 {
    font-size: 25px;
    font-weight: 700;
    position: relative;
}

.section_title h2::after {
    content: " ";
    width: 100px;
    height: 2px;
    background: var(--color-two);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -10px;
}

section.related_product_section,.top_product_section {
    padding: 40px 0px;
}
.top_product_section {
    margin-bottom: 40px;
}
.related_product_slider .single_r_product {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin: 20px 0;
}

.related_product_slider .single_r_product .r_product_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .6s;
}

.related_product_slider .single_r_product .r_product_img {
    height: 250px;
    padding: 10px;
    background: #f4f5f7;
    position: relative;
    overflow: hidden;
}

.related_product_slider .single_r_product .r_product_info {
    padding: 10px;
    border: 1px solid #f4f5f7;
}

.related_product_slider .single_r_product .r_product_info>h3 a {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: .6s;
    display: inline-block;
    font-family: "Comfortaa", sans-serif;
    color: var(--color-four);
}

.related_product_slider .single_r_product .r_product_info>h3 a:hover {
    color: var(--color-two);
}

.related_product_slider .single_r_product .r_product_info>span {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-one);
    display: inline-block;
    margin-bottom: 10px;
}

.related_product_slider .single_r_product .r_product_info .r_product_btns .cart_btn {
    outline: none;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-two);
    color: var(--color-three);
    padding: 0px 25px;
    border-radius: 5px;
    height: 100%;
    transition: .6s;
}

.related_product_slider .single_r_product .r_product_info .r_product_btns button:not(.cart_btn) {
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    width: 40px;
    height: 100%;
    display: grid;
    place-items: center;
    background: #f4f5f7;
    color: var(--color-two);
    border: 1px solid var(--color-two);
    transition: .6s;
}

.related_product_slider .single_r_product .r_product_img .woo_option {
    position: absolute;
    bottom: 20px;
    gap: 10px;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: .6s;
    opacity: 0;
    visibility: hidden;
}

.related_product_slider .single_r_product .r_product_img .woo_option button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: var(--color-two);
    color: var(--color-three);
    font-size: 14px;
    transition: .6s;
}

.related_product_slider .single_r_product .r_product_img .woo_option button:hover {
    background: var(--color-three);
    border: 1px solid var(--color-two);
    color: var(--color-two);
    transition: .6s;
}

.related_product_slider .single_r_product:hover .r_product_img .woo_option {
    transform: translate(-50%, 0px);
    transition: .6s;
    opacity: 1;
    visibility: visible;
}

.related_product_slider .single_r_product .r_product_info .r_product_btns {
    height: 40px;
    gap: 15px;
}

.related_product_slider .single_r_product .r_product_info .r_product_btns button:not(.cart_btn):hover {
    background: var(--color-two);
    color: var(--color-three);
    transition: .6s;
}

.related_product_slider .single_r_product .r_product_info .r_product_btns .cart_btn:hover {
    background: #f4f5f7;
    color: var(--color-two);
    border: 1px solid var(--color-two);
    transition: .6s;
}


.related_product_slider .single_r_product:hover .r_product_img img {
    transform: scale(1.5);
    transition: .6s;
}
.section_title {
    margin-bottom: 40px;
}
.swiper-button-next, .swiper-button-prev {
    top: 50% !important;
    transform: translate(0px, -50%) !important;
}






/* footer style */
footer {
    padding-top: 40px;
    background-color: var(--color-two);
}

.footer_social_links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer_social_links a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-three);
    color: var(--color-two);
    display: grid;
    place-items: center;
    transition: .6s;
}

.footer_newsletter {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 10px;
}

.footer_newsletter input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
    outline: none;
    border: 1px solid transparent;
    height: 100%;
}

.footer_newsletter>button {
    position: absolute;
    right: 0;
    background-color: transparent;
    height: 100%;
    border: none;
    font-size: 20px;
    width: 45px;
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--color-one);
}

.footer_wrapper .single_footer .logo {
    margin-bottom: 15px;
}

.footer_wrapper .single_footer>p {
    font-size: 14px;
    line-height: 1.6rem;
    color: #e1e1e1;
    font-weight: 300;
    margin-bottom: 10px !important;
}

.footer_wrapper .single_footer>ul>li svg {
    font-size: 18px;
    color: var(--color-one);
}

.footer_wrapper .single_footer>ul>li span {
    font-size: 15px;
    color: #e1e1e1;
}

.footer_wrapper .single_footer>ul>li a {
    color: #e1e1e1;
    font-size: 15px;
    transition: .3s;
}

.footer_wrapper .single_footer>ul>li a:hover {
    color: var(--color-one);
    transition: .3s;
}

.single_footer h3 {
    font-size: 25px;
    color: var(--color-one);
    font-weight: 700;
    margin-bottom: 25px;
}


.single_footer .newsletter_body>p {
    font-size: 14px;
    color: #e1e1e1;
    font-weight: 300;
    line-height: 1.6rem;
    margin-bottom: 10px;
}


.single_footer .opening_hrs .opening_left {
    font-size: 30px;
    color: var(--color-one);
}

.single_footer .opening_hrs .opening_right {
    color: var(--color-three);
    font-size: 15px;
}

.footer_social_links a:hover {
    background: var(--color-one);
    color: var(--color-three);
    transition: .6s;
}

.single_footer .opening_hrs .opening_right p {
    margin-bottom: 0;
    font-size: 14px;
    color: #e1e1e1;
}

.copyright_section {
    border-top: 1px solid #e1e1e1;
    margin-top: 40px;
}

.copyright_section p {
    color: #e1e1e1;
    font-size: 15px;
}

.product_des_imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img_container {
    margin: auto;
}

.description_tab {
    padding: 15px;
}

.description_tab>p {
    font-size: 15px;
    line-height: 1.6rem;
    color: #333;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--color-two);
    color: var(--color-two);
}

.tab_container>ul li button {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-four);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: var(--color-two);
    border-bottom: 2px solid var(--color-two);

}

.nav-tabs .nav-link {
    border: none;
}

.tab_container .nav-tabs {
    border-bottom: none;
    justify-content: center;
}


/*responsive codes*/
@media only screen and (max-width: 1033px) {
    #service_offer {
        display: none
    }

    .menu_icon {
        display: block;
    }

    form.search_items {
        width: unset;
        max-width: 600px;
    }

    .top-haeder {
        display: none;
    }

    .side_menu,
    .main_menu_container,
    .header_search,
    .top-haeder {
        display: none;
    }

    .search_bar {
        display: block;
    }

    .bottom_header_wrapper {
        display: grid !important;
        grid-template-columns: auto auto auto;
    }

    .bottom_header_left {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media only screen and (max-width: 767px) {

    .main_page {
        grid-template-columns: 100%;
        gap: 50px;
    }

    .quick_view_popup .quick_view_wrapper {
        width: calc(100vw - 80px);
        overflow: scroll;
    }

    .section_title h2 {
        font-size: 25px;
    }

    .quick_view_popup .quick_view_wrapper {
        width: calc(100vw - 80px);
        overflow: scroll;
    }
}

@media only screen and (max-width: 668px) {
    form.search_items {
        width: 100%;
        max-width: unset;
    }

    .social_link {
        display: none !important;
    }

    .bottom_header_wrapper {
        grid-template-columns: auto;
    }
}