@media (min-width: 200px) and (max-width: 289px) {
    .bg__rounded__color {
        height: 100px;
        width: 189px;
        box-shadow: 0 0 100px 100px rgba($color: #F57847, $alpha: 0.1);
        top: 20%;
    }
    /*===== Home Page =====*/
        //Header
        header {
            padding: 8px 0;
            .wrapper {
                padding: 0;
            }
        }
        .logo {
            width: 70px;
            height: auto;
        }
        header .wrapper .header__cta {
            gap: 2px;
            button {
                height: 28px;
                width: 28px;
                img {
                    height: 12px;
                    width: 12px;
                }
            }
        }
        .elt__mmenu__btn {
            height: 28px;
            width: 28px;
            img {
                height: 16px;
                width: 16px;
            }
        }
        header .wrapper nav {
            width: 180px;
            padding: 15px 10px;
            .elt__mobilemenu__closebtn {
                border-radius: 0;
                height: 60px;
                width: 18px;
                top: 0;
                left: 100%;
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
}

@media (min-width: 290px) and (max-width: 414px) {
    .bg__rounded__color {
        height: 176px;
        width: 289px;
        box-shadow: 0 0 200px 200px rgba($color: #F57847, $alpha: 0.1);
    }
    /*===== Home Page =====*/
        //Header
        header {
            padding: 8px 0;
        }
        .logo {
            width: 90px;
            height: auto;
        }
        header .wrapper .header__cta {
            gap: 5px;
            button {
                height: 35px;
                width: 35px;
                img {
                    height: 14px;
                    width: 14px;
                }
            }
        }
        .elt__mmenu__btn {
            height: 35px;
            width: 35px;
            img {
                height: 20px;
                width: 20px;
            }
        }
        header .wrapper nav {
            width: 260px;
            padding: 20px;
            .elt__mobilemenu__closebtn {
                border-radius: 0;
                height: 70px;
                width: 28px;
                top: 0;
                left: 100%;
            }
        }
}

@media (min-width: 415px) and (max-width: 575px) {
    /*===== Home Page =====*/
        //Header
        header {
            padding: 10px 0;
        }
}

@media (min-width: 576px) and (max-width: 767px) {
    /*===== Home Page =====*/
        //Header
        header {
            padding: 12px 0;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*===== Home Page =====*/
        //Header
        header {
            padding: 16px 0;
        }
        header .wrapper .header__cta {
            button {
                height: 40px;
                width: 40px;
                img {
                    height: 18px;
                    width: 18px;
                }
            }
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*===== Home Page =====*/
        //Header
        header {
            padding: 20px 0;
            .wrapper nav {
                padding: 6px;
                ul li {
                    margin: 0 3px;
                    a {
                        padding: 5px 14px;
                    }
                    ul {
                        width: 160px;
                        li a {
                            padding: 8px 14px;
                        }
                    }
                }
            }
        }
        header .wrapper .header__cta {
            gap: 5px;
            button {
                height: 40px;
                width: 40px;
                img {
                    height: 18px;
                    width: 18px;
                }
            }
        }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    /*===== Home Page =====*/
        //Header
        header {
            padding: 20px 0;
        }
        header .wrapper nav {
            padding: 8px;
            ul li {
                margin: 0 10px;
            }
        }
        header .wrapper .header__cta {
            display: flex;
            gap: 10px;
        }
}

@media (min-width: 1400px) and (max-width: 1639px) {
    /*===== Home Page =====*/
        //Header
        header {
            padding: 24px 0;
        }
}
