* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/inter/inter-v18-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/inter/inter-v18-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/inter/inter-v18-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/inter/inter-v18-latin-700.woff2") format("woff2");
}
body {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

::-moz-selection {
  background: #F27240;
  color: #E9EFF6;
}

::selection {
  background: #F27240;
  color: #E9EFF6;
}

a,
button,
svg {
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  text-decoration: none;
}

button {
  border: 0;
}

a {
  color: #33A2F3;
}

a:hover {
  color: #F27240;
}

.bg__rounded__color {
  border-radius: 50%;
  height: 276px;
  width: 389px;
  background: rgba(245, 120, 71, 0.1);
  box-shadow: 0 0 250px 250px rgba(245, 120, 71, 0.1);
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

/************ TABLE OF CONTENTS ***************
1. Global CSS
2. Home Page
    1. Header Section
3. Shop Page
4. Blog Page


**********************************************/
/*** 1. Global CSS ***/
@media (min-width: 1640px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1640px;
  }
}
body {
  background: #1C1C20;
  position: relative;
}

/* ====================================================================
   2. Home Page
==================================================================== */
/*** Start of Header Section ***/
header {
  padding: 28px 0;
  border-bottom: 1px solid #2D2D32;
}

.logo {
  width: 143px;
  height: auto;
}
.logo img {
  width: 100%;
  height: auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 992px) {
  .elt__mmenu__btn {
    display: none;
  }
  header .wrapper nav {
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    border-radius: 50px;
    background: rgba(45, 54, 67, 0.4);
    padding: 12px;
  }
  header .wrapper nav ul {
    padding: 0;
    margin: 0;
  }
  header .wrapper nav ul li {
    display: inline-block;
    margin: 0 28px;
    text-transform: capitalize;
    position: relative;
  }
  header .wrapper nav ul li a {
    border-radius: 50px;
    display: block;
    padding: 8px 16px;
    color: #D7DFE9;
  }
}
@media screen and (min-width: 992px) and (min-width: 200px) and (max-width: 289px) {
  header .wrapper nav ul li a {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (min-width: 992px) and (min-width: 290px) and (max-width: 414px) {
  header .wrapper nav ul li a {
    font-size: 13px;
    line-height: 20px;
  }
}
@media screen and (min-width: 992px) and (min-width: 415px) and (max-width: 575px) {
  header .wrapper nav ul li a {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width: 992px) and (min-width: 576px) and (max-width: 767px) {
  header .wrapper nav ul li a {
    font-size: 15px;
    line-height: 23px;
  }
}
@media (min-width: 992px) {
  header .wrapper nav ul li a svg {
    stroke: #D7DFE9;
  }
  header .wrapper nav ul li .active, header .wrapper nav ul li a:hover {
    background: #D7DFE9;
    color: #2D3643;
    font-weight: 500;
  }
  header .wrapper nav ul li .active svg, header .wrapper nav ul li a:hover svg {
    stroke: #2D3643;
  }
  header .wrapper nav ul li ul {
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    background: rgba(45, 54, 67, 0.4);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    display: block;
    width: 200px;
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
  }
  header .wrapper nav ul li ul li {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  header .wrapper nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
  }
  header .wrapper nav ul li:first-child {
    margin-left: 0;
  }
  header .wrapper nav ul li:last-child {
    margin-right: 0;
  }
  header .wrapper nav .elt__mobilemenu__closebtn {
    display: none;
  }
}
header .wrapper .header__cta {
  display: flex;
  gap: 28px;
}
header .wrapper .header__cta button {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  background: #2D2D32;
}
header .wrapper .header__cta button img {
  height: 24px;
  width: 24px;
}
header .wrapper .header__cta button:hover {
  background: #F27240;
}

@media (max-width: 991px) {
  .elt__mmenu__btn {
    border-radius: 50%;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    display: block;
    height: 40px;
    width: 40px;
    background: #2D2D32;
  }
  .elt__mmenu__btn img {
    height: 24px;
    width: 24px;
  }
  .elt__mmenu__btn:hover {
    background: #F27240;
  }
  header .wrapper nav {
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    background: rgba(45, 54, 67, 0.2);
    height: 100vh;
    width: 300px;
    padding: 20px 40px;
    position: absolute;
    left: -120%;
    top: 0;
    z-index: 99999;
  }
  header .wrapper nav ul {
    padding: 0;
    margin: 0;
  }
  header .wrapper nav ul li a {
    display: block;
    padding: 8px 0;
    text-transform: capitalize;
    color: #D7DFE9;
  }
}
@media screen and (max-width: 991px) and (min-width: 200px) and (max-width: 289px) {
  header .wrapper nav ul li a {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 991px) and (min-width: 290px) and (max-width: 414px) {
  header .wrapper nav ul li a {
    font-size: 13px;
    line-height: 20px;
  }
}
@media screen and (max-width: 991px) and (min-width: 415px) and (max-width: 575px) {
  header .wrapper nav ul li a {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 991px) and (min-width: 576px) and (max-width: 767px) {
  header .wrapper nav ul li a {
    font-size: 15px;
    line-height: 23px;
  }
}
@media (max-width: 991px) {
  header .wrapper nav ul li a svg {
    stroke: #D7DFE9;
  }
  header .wrapper nav ul li a:hover {
    color: #F27240;
  }
  header .wrapper nav ul li a:hover svg {
    stroke: #F27240;
  }
  header .wrapper nav ul li .submenu {
    transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
  }
  header .wrapper nav ul li .submenu.show {
    max-height: 600px;
  }
  header .wrapper nav .elt__mobilemenu__closebtn {
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: calc(100% + 10px);
    background: #D7DFE9;
  }
  header .wrapper nav .elt__mobilemenu__closebtn svg {
    stroke: #2D3643;
  }
  header .wrapper nav .elt__mobilemenu__closebtn:hover {
    background: #F27240;
  }
  header .wrapper nav .elt__mobilemenu__closebtn:hover svg {
    stroke: #D7DFE9;
  }
  header .wrapper nav.show {
    left: 0;
  }
  header .wrapper .header__cta {
    gap: 12px;
  }
  header .wrapper .header__cta button {
    height: 40px;
    width: 40px;
  }
  header .wrapper .header__cta button img {
    height: 18px;
    width: 18px;
  }
}
/*** End of Header Section ***/
.hero__section__text {
  color: white;
}
@media screen and (min-width: 200px) and (max-width: 289px) {
  .hero__section__text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (min-width: 290px) and (max-width: 414px) {
  .hero__section__text {
    font-size: 13px;
    line-height: 20px;
  }
}
@media screen and (min-width: 415px) and (max-width: 575px) {
  .hero__section__text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .hero__section__text {
    font-size: 15px;
    line-height: 23px;
  }
}/*# sourceMappingURL=style.css.map */