@use './base/index' as base;
@use './utilities/index' as utils;
@use './components/index' as comps;
@use './layout/index' as layout;
@forward './pages/index';

/************ TABLE OF CONTENTS ***************
1. Global CSS
2. Home Page
    1. Header Section
        a. Mobile Menu
        b. Search Popup
        c. Cart Slider
        d. Quantity Widget
    2. Hero Section
    3. What's New Section
    4. Promo Section
    5. Today's Deal Section
    6. Trending Section
    7. Promo V2 Section
    8. Blog Section
    9. Newsletter Section
    10. Footer Section


**********************************************/

/*** 1. Global CSS ***/
body {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    color: base.$base200;
    background: base.$backgroundPrimaryColor;
    position: relative;
}

//Container Width
@media (min-width: 1640px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1640px;
    }
}

/* ====================================================================
   2. Home Page
==================================================================== */
/*** Start of Header Section ***/
header {
    padding: 28px 0;
    border-bottom: 1px solid base.$backgroundTertiaryColor;
    position: relative;
    z-index: 999999;
}

.logo {
    width: 143px;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) {
    .elt__mmenu__btn {
        display: none
    }

    /* Main Nav */
    header .wrapper nav {
        @include utils.primary__blur;
        @include utils.border__50;
        padding: 12px;
    
        ul {
            padding: 0;
            margin: 0;
    
            li {
                display: inline-block;
                margin: 0 28px;
                text-transform: capitalize;
                position: relative;
    
                a {
                    @include utils.border__50;
                    display: block;
                    padding: 8px 16px;
                    color: base.$base200;
                    @include base.medium__text;
    
                    svg {
                        stroke: base.$base200;
                    }
                }
    
                .active, a:hover {
                    background: base.$base200;
                    color: base.$base800;
                    font-weight: 500;
    
                    svg {
                        stroke: base.$base800;
                    }
                }
    
                //Sub Menu
                ul {
                    @include utils.primary__blur;
                    @include utils.transition-03s;
                    background: rgba(base.$base800, $alpha: 0.4);
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    width: 200px;
                    border-radius: 16px;
                    opacity: 0;
                    visibility: hidden;
                
                    li {
                        width: 100%;
                        text-align: center;
                        margin: 0;
                    }
                }
            }
    
            //Sub Menu (Hover)
            li:hover ul {
                opacity: 1;
                visibility: visible;
            }
    
            li:first-child {
                margin-left: 0;
            }
            li:last-child {
                margin-right: 0;
            }
        }

        .elt__mobilemenu__closebtn {
            display: none;
        }
    }
}

/* Header CTA Buttons */
header .wrapper .header__cta {
    display: flex;
    gap: 28px;

    button {
        @include utils.border__50p;
        height: 52px;
        width: 52px;
        background: base.$backgroundTertiaryColor;

        img {
            height: 24px;
            width: 24px;
        }
    }
    button:hover {
        background: base.$brandPrimaryColor;
    }
}

/* Mobile Menu */
@media (max-width: 991px) {
    .elt__mmenu__btn {
        @include utils.border__50p;
        @include utils.transition-03s;
        display: block;
        height: 40px;
        width: 40px;
        background: base.$backgroundTertiaryColor;

        img {
            height: 24px;
            width: 24px;
        }
    }
    .elt__mmenu__btn:hover {
        background: base.$brandPrimaryColor;
    }
    header .wrapper nav {
        @include utils.primary__blur;
        @include utils.transition-06s;
        height: 100vh;
        width: 300px;
        padding: 20px 40px;
        position: fixed;
        left: -120%;
        top: 0;
        z-index: 99999;
        
        ul {
            padding: 0;
            margin: 0;

            li {
                a {
                    display: block;
                    padding: 8px 0;
                    @include base.medium__text;
                    text-transform: capitalize;
                    color: base.$base200;
                    font-weight: 600;

                    svg {
                        stroke: base.$base200;
                    }
                }
                a:hover {
                    color: base.$brandPrimaryColor;

                    svg {
                        stroke: base.$brandPrimaryColor;
                    }
                }

                .submenu {
                    @include utils.transition-06s;
                    padding-left: 20px;
                    max-height: 0;
                    overflow: hidden;
                }
                .submenu.show {
                    max-height: 600px;
                }
            }
        }

        .elt__mobilemenu__closebtn {
            display: block;
            position: absolute;
            top: 10px;
            left: calc(100% + 10px);
        }
    }
    header .wrapper nav.show {
        left: 0;
    }
    header .wrapper .header__cta {
        gap: 12px;
        button {
            height: 40px;
            width: 40px;
            img {
                height: 18px;
                width: 18px;
            }
        }
    }
}

/** Search Popup **/
.elt__search__popup {
    @include utils.primary__blur;
    @include utils.transition-06s;
    height: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    z-index: 9999999;

    .elt__search__closebtn {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .elt__search__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 60px 40px;
        padding-bottom: 40px;

        form {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            input {
                flex: auto;
            }

            button {
                height: 48px;
                width: 48px;
                background: base.$FillPrimaryColor;
                border-radius: 12px;
                flex-grow: 0;
                flex-shrink: 0;
                svg {
                    stroke: base.$brandPrimaryColor;
                }
            }

            button:hover {
                background: base.$FillSecondaryColor;
                svg {
                    stroke: base.$brandSecondaryColor;
                }
            }
        }

        p {
            color: base.$base200;
            @include base.medium__text;
            font-weight: 600;
            border-bottom: 1px solid base.$base200;
            padding-bottom: 20px;
            margin: 0;
        }

        .elt__search__result {
            display: flex;
            flex-direction: column;
            height: 310px;
            gap: 30px;
            overflow-y: auto;

            .item {
                display: flex;
                gap: 20px;
                align-items: center;
                background: base.$backgroundTertiaryColor;
                padding: 20px;
                border-radius: 12px;

                .image {
                    height: 100px;
                    width: fit-content;
                    border-radius: 8px;
                    overflow: hidden;
                    flex-shrink: 0;
                    flex-grow: 0;

                    img {
                        width: auto;
                        height: 100%;
                    }
                }

                h4 {
                    display: flex;
                    justify-content: space-between;
                    flex: auto;
                    margin: 0;

                    a {
                        font-weight: 600;
                    }

                    a, span {
                        color: base.$base200;
                    }
                }

                .cta__btns {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }

            .item:hover h3 a {
                color: base.$brandPrimaryColor;
            }
        }
    }
}

.elt__search__popup.show {
    height: fit-content;
    width: 900px;
}

@media (max-width: 991px) {
    .elt__search__popup.show {
        width: 95%;
    }
}

/** Cart Slider **/
.elt__cart__slide {
    @include utils.primary__blur;
    @include utils.transition-06s;
    width: 450px;
    height: 100vh;
    padding: 20px 40px;
    position: fixed;
    right: -120%;
    top: 0;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
        color: base.$base200;
        display: flex;
        justify-content: space-between;
        background: base.$backgroundTertiaryColor;
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 0;

        span {
            font-weight: 600;
        }
    }

    .elt__cart__items {
        flex: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;

        .item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            position: relative;
            background: base.$backgroundTertiaryColor;
            padding: 10px;
            border-radius: 12px;

            .top {
                width: 100%;
                display: flex;
                gap: 10px;

                .image {
                    height: 100px;
                    width: fit-content;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border-radius: 6px;
                    overflow: hidden;
    
                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                .product__title {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    a,span {
                        color: base.$base200;
                        font-weight: 600;
                    }

                    a:hover {
                        color: base.$brandPrimaryColor;
                    }
                }
            }

            .elt__quantity__widget {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 0;
                width: 110px;
                height: 38px;
                background: base.$FillPrimaryColor;

                span {
                    line-height: 38px;
                    height: 38px;
                    width: 40px;
                }
            }
        }
    }

    .elt__cart__subtotal {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: base.$backgroundTertiaryColor;
        border-radius: 12px;
        padding: 10px;

        h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
        }

        h3,span {
            color: base.$base200;
        }

        .cta__btns {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;

            a {
                width: 48% !important;
            }

            a:first-child {
                @include comps.elt__button__a;
            }
            a:last-child {
                @include comps.elt__button__b;
            }
        }
    }

    .elt__cartslide__closebtn {
        position: absolute;
        top: 10px;
        right: calc(100% + 10px);
    }

}

.elt__cart__slide.show {
    right: 0;
}
/*** End of Header Section ***/

/*** Start of Hero Section ***/
.elt__hero__section {
    padding-top: 81px;
    height: 979px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        position: relative;

        //Background Dots
        .elthero__bg {
            height: 14px;
            width: 14px;
            border-radius: 50%;
            position: absolute;
            z-index: -2;
            flex-shrink: 0;
            flex-grow: 0;
        }
    
        .elthero__bg.one {
            background: base.$AccentGreen;
            left: 578px;
            bottom: 68px;
        }
        .elthero__bg.two {
            background: base.$brandPrimaryColor;
            top: 119px;
            right: 732px;
        }
        .elthero__bg.three {
            background: base.$brandPrimaryColor;
            bottom: -36px;
            right: 429px;
        }
        .elthero__bg.four {
            background: base.$AccentGreen;
            right: -25px;
            top: 0;
        }

        //Left Side
        .left__side {
            max-width: 779px;
            flex-shrink: 0;
            flex-grow: 0;

            .promocatname {
                width: fit-content;
                color: base.$base200;
                padding: 10px 28px;
                border: 1px solid base.$base500;
                border-radius: 50px;
                margin-bottom: 8px;
            }

            .promo__text {
                @include base.display__text;
                color: base.$base00;
                font-weight: 600;
                margin-bottom: 32px;

                span {
                    display: inline-block;
                    height: 100%;
                }

                .one {
                    background: url("data:image/svg+xml,%3Csvg width='247' height='46' viewBox='0 0 247 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M8.00041 37.2388C49.6268 17.084 135.958 -6.28892 238.97 19.2324' stroke='%233DEB64' stroke-width='16' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat bottom;
                    background-size: contain;
                }

                .two {
                    color: #F59670;
                    background: url("data:image/svg+xml,%3Csvg width='175' height='42' viewBox='0 0 175 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M8.47816 33.0109C40.5298 15.3915 103.167 -4.64551 166.787 19.2842' stroke='%23F27240' stroke-width='16' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat bottom;
                    background-size: contain;
                }
            }

            .description {
                @include base.medium__text;
                color: base.$base200;
                margin-bottom: 60px;
                max-width: 650px;
            }

            .button {
                @include comps.elt__button__a;
                box-shadow: 0 5px 20px #F2724050;
            }
        }

        //Right Side
        .right__side {
            max-width: 811px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 93px;
            flex-shrink: 0;
            flex-grow: 0;

            img {
                height: 100%;
                width: auto;
            }

            .image__holder {
                position: relative;
                height: fit-content;
                width: fit-content;

                .one {
                    width: 300px;
                    height: 527px;
                    border-radius: 150px;
                    overflow: hidden;
                }
    
                .two {
                    width: 416px;
                    height: 734px;
                    border-radius: 208px;
                    overflow: hidden;
                }

                .rating {
                    position: absolute;
                    left: -107px;
                    bottom: 132px;
                    width: 122px;
                    height: auto;
                    padding: 8px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    background: base.$backgroundTertiaryColor;

                    .icon {
                        height: 44px;
                        width: 44px;
                        border-radius: 50%;
                        background: #FCDCCF;
                        display: grid;
                        place-content: center;

                        svg {
                            height: 24px;
                            width: 24px;
                        }
                    }

                    h6 {
                        font-weight: 500;
                        color: base.$base00;
                        margin: 0 auto;
                    }
                }
            }

            .image__holder.img1:after {
                content: "";
                position: absolute;
                width: 300px;
                height: 527px;
                border-radius: 150px;
                border: 2px solid base.$base600;
                left: -22px;
                bottom: -18px;
                z-index: -1;
                background: transparent;
            }

            .image__holder.img2:after {
                content: "";
                position: absolute;
                width: 416px;
                height: 734px;
                border-radius: 208px;
                border: 4px solid #F59670;
                left: -27px;
                bottom: -25px;
                z-index: -1;
                background: transparent;
            }
        }
    }
}
/*** End of Hero Section ***/

/*** Start of What's New Section ***/
.elt__whatsnew__section {
    position: relative;

    .bg__rounded__color {
        position: absolute;
        left: 0;
        top: 50px;
        height: 259px;
        width: 614px;
        background: rgba(245, 120, 71, 0.05);
        box-shadow: 0 0 400px 400px rgba(245, 120, 71, 0.05);
    }

    .section__title h2 {
        color: base.$base00;
        text-align: center;
    }

    .elt__tabsandnav {
        margin-bottom: 88px;
    }
}
/*** End of What's New Section ***/

/*** Start of Promo Section ***/
@media (min-width: 1417px) {
    .elt__promo__section .wrapper {
        max-width: 1417px;
    }
}

.elt__promo__section {
    margin-top: 186px;
    position: relative;

    .bg__rounded__color.one {
        height: 80px;
        width: 300px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .bg__rounded__color.two {
        left: unset;
        right: 0;
        top: 10%;
        height: 150px;
        background: rgba($color: base.$AccentGreen, $alpha: 0.04);
        box-shadow: 0 0 400px 400px rgba($color: base.$AccentGreen, $alpha: 0.04);
        transform: unset;
    }

    .wrapper {
        display: flex;
        gap: 120px;
        position: relative;

        .left__side {
            width: fit-content;
            height: fit-content;
            position: relative;
            padding-left: 40px;
            padding-bottom: 30px;

            &::after {
                content: "";
                position: absolute;
                width: 603px;
                height: 669px;
                border-radius: 16px;
                border: 2px solid #F59670;
                left: 0;
                bottom: 0;
                z-index: -1;
                background: transparent;
            }

            .image {
                width: 603px;
                height: 669px;
                border-radius: 16px;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: auto;
                }
            }
        }

        .content {
            h1 {
                font-weight: 700;
                color: base.$base00;
                margin-bottom: 20px;
            }

            p {
                color: base.$base300;
                margin-bottom: 68px;
            }

            .button {
                @include comps.elt__button__a;
            }
        }
    }

    .promo__total {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        background: rgba($color: #2D2D32, $alpha: 0.8);
        border-radius: 16px;
        display: flex;
        justify-content: space-around;
        width: 100%;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;

            h5 {
                margin-bottom: 4px;
            }

            .number {
                font-weight: 600;
                color: base.$base50;
                margin-bottom: 0;
            }

            .name {
                @include base.medium__text;
                color: base.$base300;
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 806px) {
    .elt__promo__section .promo__total {
        width: 806px;
        .item {
            width: 229px;
            height: 70px;
        }
    }
}
/*** End of Promo Section ***/

/*** Start of Today's Deal Section ***/
.elt__todaysdeal__section {
    margin-top: 180px;
    position: relative;

    .bg__rounded__color {
        left: unset;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 250px;
        width: 189px;
        background: rgba(245, 120, 71, 0.05);
        box-shadow: 0 0 300px 300px rgba(245, 120, 71, 0.05);
    }
}
/*** End of Today's Deal Section ***/

/*** Start of Trending Section ***/
.elt__trending__section {
    margin-top: 160px;
}
/*** End of Trending Section ***/

/*** Start of Promo V2 Section ***/
.elt__promov2__section {
    position: relative;
    height: 844px;
    margin-top: 200px;

    .bg__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 100%;
    }

    .bg__rounded__color {
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70px;
        width: 180px;
        background: rgba(245, 120, 71, 0.07);
        box-shadow: 0 0 400px 400px rgba(245, 120, 71, 0.07);
    }

    .wrapper {
        height: 100%;
        position: relative;

        .images {
            position: relative;
            height: 100%;

            div {
                position: absolute;
                overflow: hidden;
                width: 174px;
                height: 208px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .one {
                top: 132px;
                left: 0;
                border-top-left-radius: 87px;
            }

            .two {
                top: 118px;
                left: 50%;
                transform: translateX(-50%);
                width: 130px;
                height: 156px;
                border-radius: 31px;
            }

            .three {
                top: 132px;
                right: 0;
                border-radius: 87px;
            }

            .four {
                left: 174px;
                bottom: 122px;
                border-radius: 87px;
            }

            .five {
                right: 176px;
                bottom: 122px;
                border-bottom-right-radius: 87px;
            }
        }

        .text {
            position: absolute;
            top: 370px;
            left: 50%;
            transform: translateX(-50%);
            width: 677px;
            text-align: center;

            h2 {
                color: base.$base00;
                font-weight: 500;
                margin-bottom: 52px;
            }

            .button {
                @include comps.elt__button__a;
                margin: 0 auto;
            }
        }
    }
}
/*** End of Promo V2 Section ***/

/*** Start of Blog Section ***/
.elt__blog__section {
    position: relative;
    margin-top: 200px;

    .bg__rounded__color {
        left: unset;
        top: unset;
        transform: none;
        right: 0;
        bottom: 0;
        background: rgba(245, 120, 71, 0.05);
        box-shadow: 0 0 300px 300px rgba(245, 120, 71, 0.05);
    }

    .elt__blognews__sliders {
        position: relative;
        padding-bottom: 78px;
    }
}
/*** End of Blog Section ***/

/*** Start of Newsletter Section ***/
.elt__newsletter__section {
    margin-top: 148px;
    position: relative;

    .bg__rounded__color {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(61, 235, 100, 0.04);
        box-shadow: 0 0 200px 200px rgba(61, 235, 100, 0.04);
    }

    .wrapper {
        overflow: hidden;
        border-radius: 16px;
        height: 344px;
        position: relative;
        padding: 0;

        .bg__image {
            width: 100%;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: rgba($color: base.$backgroundTertiaryColor, $alpha: 0.8);

            .text {
                width: 684px;
                height: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                h3 {
                    color: base.$base100;
                    font-weight: 500;
                }

                span {
                    @include base.medium__text;
                    color: base.$base100;
                }

                form {
                    padding: 6px;
                    padding-left: 28px;
                    margin-top: 48px;
                    border-radius: 12px;
                    border: 2px solid base.$base300;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 6px;

                    input {
                        all: unset;
                        @include base.medium__text;
                        background: transparent;
                        color: base.$base300;
                        text-align: left;
                        width: 100%;

                        &::placeholder {
                            color: base.$base300;
                        }
                    }

                    button {
                        @include comps.elt__button__a;
                        height: 100% !important;
                    }
                }
            }
        }
    }
}
/*** End of Newsletter Section ***/

/*** Start of Footer Section ***/
.elt__footer__section {
    margin-top: 124px;
    padding: 60px 0;
    background: base.$backgroundTertiaryColor;
    background: linear-gradient(180deg, rgba($color: base.$backgroundTertiaryColor, $alpha: 0.6) 10%, base.$backgroundPrimaryColor 60%);

    .logo {
        margin-bottom: 30px;
    }

    span {
        @include base.medium__text;
        color: base.$base400;
        display: block;
        max-width: 528px;
        font-weight: 500;
    }

    .social__profiles {
        margin-top: 50px;
    }

    .title {
        color: base.$base200;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .elt__footer__list {
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                @include base.medium__text;
                color: base.$base300;
                display: block;

                &:hover {
                    color: base.$brandPrimaryColor;
                }
            }
        }
    }

    .bottom {
        padding-top: 40px;
        margin-top: 40px;
        border-top: 1px solid base.$base800;
        display: flex;
        justify-content: space-between;

        p {
            @include base.medium__text;
            color: base.$base300;
            width: fit-content;
            margin: 0;

            a {
                color: base.$base300;

                &:hover {
                    color: base.$brandPrimaryColor;
                }
            }
        }

        .elt__footer__list__bottom {
            padding: 0;
            margin: 0;
            width: fit-content;
            li {
                display: inline-block;
                margin-right: 5px;

                a {
                    @include base.medium__text;
                    color: base.$base300;

                    &:hover {
                        color: base.$brandPrimaryColor;
                    }
                }

                &::after {
                    padding-left: 7px;
                    content: '|';
                }

                &:last-child {
                    margin-right: 0;

                    &::after {
                        padding-left: 0;
                        content: none;
                    }
                }
            }
        }
    }
}
/*** End of Footer Section ***/