@media (max-width: 289px) {
    .ds__categories__section,
    .ds__newarrivals__section,
    .ds__faqs__section,
    .ds__week__highlights__section {
        margin-top: 30px;
    }
    .ds__button__a {
        padding: 7px 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .ds__button__b {
        font-size: 14px;
        line-height: 14px;
        padding: 7px 13px;
    }
    .ds__button__b::after {
        font-size: 10px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 180px;
            padding: 10px 5px;
        }
        .ds__cart__slider .ds__cart__closebtn{
            right: 182px;
            height: 80px;
            width: 16px;
            line-height: 80px;
            font-size: 14px;
            border-radius: 5px;
        }
        .ds__cart__slider .main__cart__area .ds__cart__header h3 {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .ds__cart__slider .main__cart__area .ds__cart__header span {
            font-size: 24px;
            line-height: 26px;
            height: 26px;
            margin-bottom: 0;
            font-weight: 400;
            padding: 0 8px;
        }
        /*Cart Product*/
        .ds__cart__product .ds__cart__prod__close {
            height: 16px;
            width: 16px;
            font-size: 10px;
            line-height: 16px;
            left: 0;
            top: 0;
        }
        .ds__cart__product {
            flex-direction: column;
            align-items: center;
            gap: 5px;
            margin-bottom: 10px;
            border-bottom: 1px solid #EEE;
            padding-bottom: 10px;
        }
        .ds__cart__product .content {
            width: 185px;
            gap: 10px;
        }
        .ds__cart__product .image {
            width: 60px;
            height: 60px;
        }
        .ds__cart__product h3 {
            border: none;
            line-height: 18px;
            text-align: center;
            margin-bottom: 10px;
        }
        .ds__cart__product h3 a {
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
        .ds__cart__product h4 {
            font-size: 14px;
            line-height: 20px;
        }
        .ds__cart__product .price__qty {
            justify-content: center;
        }
        /*Mobile Menu*/
        .ds__mobilemenu__btn {
            padding: 5px;
            font-size: 10px;
            line-height: 10px;
            overflow: hidden;
            height: 24px;
        }
        .ds__mobilemenu__btn i {
            display: none;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper {
            width: 180px;
            padding: 10px 5px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper .ds__mblmenu__closebtn {
            left: 182px;
            height: 80px;
            width: 16px;
            line-height: 80px;
            font-size: 14px;
            border-radius: 5px;
        }
        .ds__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper .nav-pills .nav-link.active,
        .ds__mobile__menu .ds__mblmenu__wrapper .nav-pills .show > .nav-link,
        .ds__mobile__menu .ds__mblmenu__wrapper .nav-pills .nav-link {
            padding: 5px;
            margin: 0;
        }
        /*Header*/
        .ds__header__section .container {
            padding: 0;
        }
        .ds__header__section .dshs__wrapper {
            padding: 10px 0;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li a svg {
            height: 12px;
            width: 12px;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li {
            margin-right: 0;
        }
        .logo {
            width: 90px;
        }
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            padding-top: 50px;
            height: 400px;
        }
        .ds__hero__section .dshero__wrapper .content h2 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        .ds__hero__section .dshero__wrapper .content p {
            font-size: 12px;
            line-height: 18px;
            width: 100%;
            margin-bottom: 10px;
        }
        .ds__hero__section .dshero__info__color,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            display: none;
        }
        /*Search Popup*/
        .ds__search__popup .dssearch__wrapper {
            padding: 20px 0;
            gap: 10px;
        }
        .ds__search__popup .dssearch__wrapper form {
            height: 40px;
        }
        .ds__search__popup .dssearch__wrapper form .nice-select {
            display: none;
        }
        .ds__search__popup .dssearch__wrapper form input {
            font-size: 12px;
            border-radius: 50px 0 0 50px;
            padding-left: 15px;
        }
        .ds__search__popup .dssearch__wrapper form button {
            width: 37px;
            font-size: 8px;
            line-height: 14px;
            padding-right: 10px;
            text-align: center;
        }
        .ds__search__popup .dssearch__wrapper form button svg {
            height: 14px;
            width: 14px;
            margin: 0;
        }
        .ds__search__popup .dssearch__wrapper .horizontal__seperator {
            margin: 20px 0;
        }
        .ds__search__popup .dssearch__wrapper .dssearch__results {
            gap: 10px;
        }
        .ds__search__popup .dssearch__wrapper .dssearch__results .result__text {
            font-size: 12px;
            line-height: 22px;
        }
        .ds__search__popup .dssearch__results .dsserach__item {
            gap: 10px;
            padding: 10px;
            flex-direction: column;
        }
        .ds__search__popup .dssearch__results .dsserach__item .image {
            width: 110px;
            height: 110px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content {
            width: 100%;
            gap: 10px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text a {
            font-size: 12px;
            line-height: 20px;
            width: 84%;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text span {
            font-size: 12px;
            line-height: 22px;
            width: 15%;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .ctas a {
            font-size: 12px;
            line-height: 12px;
            text-align: center;
        }
        /*Category Section*/
        .ds__categories__section .dscs__wrapper__slider .swiper-slide .content h2 {
            font-size: 30px;
            line-height: 30px;
        }
        .ds__categories__section .dscs__wrapper__slider .swiper-slide {
            height: 114px;
        }
        /*Section Tiltle & Navigation*/
        .dscs__titlenav {
            padding: 0 5px;
            margin-bottom: 15px;
        }
        .dscs__titlenav .dscs__title h2 {
            font-size: 24px;
            line-height: 32px;
        }
        .dscs__titlenav .dscs__nav {
            gap: 5px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns {
            height: 34px;
            width: 34px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns svg {
            height: 16px;
            width: 16px;
        }
        .dscs__wrapper__slider {
            padding: 0 5px;
        }
        /*New Arrivals Section*/
        .dsnas__wrapper__slider .swiper-slide {
            display: flex;
            justify-content: center;
        }
        /*Product Style*/
        .ds__product__style {
            width: 200px;
            height: 300px;
            border-radius: 10px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns {
            top: 0;
            left: 0;
            gap: 8px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__info {
            padding: 5px;
            gap: 5px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__info .rating__area {
            margin-bottom: 2px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns a:first-child img {
            height: 40px;
            width: 40px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns a img {
            height: 30px;
            width: 30px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns a::after {
            font-size: 14px;
            line-height: 14px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__info .dspds__title,
        .ds__product__style .dsps__content__wrapper .dsps__info .dsps__price {
            font-size: 24px;
            line-height: 30px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__info .dsps__desc {
            font-size: 10px;
            line-height: 14px;
        }
        /*FAQs Section*/
        .dsfaq__content .dsfaq__items__list .item .image svg {
            height: 40px;
            width: 40px;
        }
        .dsfaq__content .dsfaq__items__list .item {
            gap: 10px;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
        }
        .dsfaq__content .dsfaq__items__list .item .text h4 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 2px;
            text-align: center;
        }
        .dsfaq__content .dsfaq__items__list .item .text p {
            font-size: 10px;
            line-height: 16px;
            text-align: center;
        }
        .dsfaq__image {
            width: 100%;
            height: 250px;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .dsfaq__image img {
            width: auto;
            height: 100%;
        }
        /*Highlights of the Week*/
        .dswhl__wrapper {
            gap: 10px;
        }
        .dswhl__wrapper a {
            width: 100%;
            height: 130px;
        }
        .dswhl__wrapper a img {
            width: 100%;
            height: 100%;
        }
        .dswhl__wrapper a .text h2 {
            font-size: 20px;
            line-height: 28px;
        }
        /*Promo Section*/
        .dspromo__wrapper {
            flex-direction: column;
        }
        .dspromo__left__side {
            gap: 20px;
            width: 100%;
        }
        .dspromo__left__side h2,
        .dspromo__right__side .dspromo__total__clients .dspromo__item h2 {
            font-size: 24px;
        }
        .dspromo__left__side p {
            font-size: 12px;
            line-height: 160%;
        }
        .dspromo__right__side {
            width: 100%;
            gap: 20px;
            margin-top: 15px;
        }
        .dspromo__right__side .dspromo__total__clients {
            gap: 20px;
            justify-content: center;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item p {
            font-size: 10px;
        }
}

@media (min-width: 290px) and (max-width: 414px) {
    .ds__categories__section,
    .ds__newarrivals__section,
    .ds__faqs__section,
    .ds__week__highlights__section {
        margin-top: 30px;
    }
    .ds__button__a {
        padding: 7px 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .ds__button__b {
        font-size: 14px;
        line-height: 14px;
        padding: 7px 13px;
    }
    .ds__button__b::after {
        font-size: 10px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 255px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 257px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        .ds__cart__slider .main__cart__area .ds__cart__header h3{
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .ds__cart__slider .main__cart__area .ds__cart__header span {
            font-size: 24px;
            line-height: 26px;
            height: 26px;
            margin-bottom: 0;
            font-weight: 400;
            padding: 0 8px;
        }
        /*Cart Product*/
        .ds__cart__product .ds__cart__prod__close {
            height: 16px;
            width: 16px;
            font-size: 10px;
            line-height: 16px;
            left: -5px;
            top: -5px;
        }
        .ds__cart__product {
            gap: 5px;
        }
        .ds__cart__product .content {
            width: 185px;
        }
        .ds__cart__product .image {
            width: 60px;
            height: 60px;
        }
        .ds__cart__product h3 {
            border: none;
            line-height: 18px;
        }
        .ds__cart__product h3 a {
            font-size: 14px;
            line-height: 14px;
        }
        .ds__cart__product h4 {
            font-size: 14px;
            line-height: 20px;
        }
        /*Mobile Menu*/
        .ds__mobilemenu__btn {
            padding: 5px;
            font-size: 12px;
            line-height: 12px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper {
            width: 255px;
            padding: 20px 10px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper .ds__mblmenu__closebtn {
            left: 257px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        .ds__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        /*Header*/
        .ds__header__section .dshs__wrapper {
            padding: 10px 0;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li a svg {
            height: 16px;
            width: 16px;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li {
            margin-right: 0;
        }
        .logo {
            width: 120px;
        }
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            padding-top: 50px;
            height: 450px;
        }
        .ds__hero__section .dshero__wrapper .content h2 {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 20px;
        }
        .ds__hero__section .dshero__wrapper .content p {
            font-size: 16px;
            line-height: 22px;
            width: 100%;
            margin-bottom: 20px;
        }
        .ds__hero__section .dshero__info__color,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            display: none;
        }
        /*Search Popup*/
        .ds__search__popup .dssearch__wrapper {
            padding: 20px 0;
            gap: 10px;
        }
        .ds__search__popup .dssearch__wrapper form {
            height: 50px;
        }
        .ds__search__popup .dssearch__wrapper form .nice-select {
            display: none;
        }
        .ds__search__popup .dssearch__wrapper form input {
            font-size: 14px;
            border-radius: 50px 0 0 50px;
            padding-left: 15px;
        }
        .ds__search__popup .dssearch__wrapper form button {
            width: 120px;
            font-size: 12px;
            line-height: 12px;
            padding-right: 10px;
        }
        .ds__search__popup .dssearch__wrapper form button svg {
            height: 14px;
            width: 14px;
        }
        .ds__search__popup .dssearch__wrapper .horizontal__seperator {
            margin: 20px 0;
        }
        .ds__search__popup .dssearch__wrapper .dssearch__results {
            gap: 10px;
        }
        .ds__search__popup .dssearch__wrapper .dssearch__results .result__text {
            font-size: 16px;
            line-height: 22px;
        }
        .ds__search__popup .dssearch__results .dsserach__item {
            gap: 10px;
            padding: 10px;
            flex-direction: column;
        }
        .ds__search__popup .dssearch__results .dsserach__item .image {
            width: 110px;
            height: 110px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content {
            width: 100%;
            gap: 10px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text a {
            font-size: 16px;
            line-height: 22px;
            width: 84%;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text span {
            font-size: 16px;
            line-height: 26px;
            width: 15%;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .ctas a {
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
        /*Category Section*/
        .ds__categories__section .dscs__wrapper__slider .swiper-slide .content h2 {
            font-size: 40px;
            line-height: 40px;
        }
        .ds__categories__section .dscs__wrapper__slider .swiper-slide {
            height: 168px;
        }
        /*Section Tiltle & Navigation*/
        .dscs__titlenav {
            padding: 0 5px;
            margin-bottom: 15px;
        }
        .dscs__titlenav .dscs__title h2 {
            font-size: 24px;
            line-height: 32px;
        }
        .dscs__titlenav .dscs__nav {
            gap: 5px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns {
            height: 34px;
            width: 34px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns svg {
            height: 16px;
            width: 16px;
        }
        .dscs__wrapper__slider {
            padding: 0 5px;
        }
        /*New Arrivals Section*/
        .dsnas__wrapper__slider .swiper-slide {
            display: flex;
            justify-content: center;
        }
        /*Product Style*/
        .ds__product__style {
            width: 274px;
            height: 370px;
        }
        /*FAQs Section*/
        .dsfaq__content .dsfaq__items__list .item .image svg {
            height: 34px;
            width: 34px;
        }
        .dsfaq__content .dsfaq__items__list .item {
            gap: 10px;
            padding: 10px 0;
        }
        .dsfaq__content .dsfaq__items__list .item .text h4 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 2px;
        }
        .dsfaq__content .dsfaq__items__list .item .text p {
            font-size: 10px;
            line-height: 16px;
        }
        .dsfaq__image {
            width: 100%;
            height: 380px;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .dsfaq__image img {
            width: auto;
            height: 100%;
        }
        /*Highlights of the Week*/
        .dswhl__wrapper {
            gap: 10px;
        }
        .dswhl__wrapper a {
            width: 100%;
            height: 200px;
        }
        .dswhl__wrapper a img {
            width: 100%;
            height: 100%;
        }
        .dswhl__wrapper a .text h2 {
            font-size: 30px;
            line-height: 38px;
        }
        /*Promo Section*/
        .dspromo__wrapper {
            flex-direction: column;
        }
        .dspromo__left__side {
            gap: 20px;
            width: 100%;
        }
        .dspromo__left__side h2,
        .dspromo__right__side .dspromo__total__clients .dspromo__item h2 {
            font-size: 24px;
        }
        .dspromo__left__side p {
            font-size: 14px;
            line-height: 160%;
        }
        .dspromo__right__side {
            width: 100%;
            gap: 20px;
            margin-top: 15px;
        }
        .dspromo__right__side .dspromo__total__clients {
            gap: 20px;
            justify-content: center;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item p {
            font-size: 10px;
        }
}

@media (min-width: 415px) and (max-width: 575px) {
    .ds__categories__section,
    .ds__newarrivals__section,
    .ds__faqs__section,
    .ds__week__highlights__section {
        margin-top: 40px;
    }
    .ds__button__a {
        padding: 10px 25px;
        font-size: 16px;
        line-height: 20px;
    }
    .ds__button__b {
        font-size: 16px;
        line-height: 16px;
        padding: 7px 15px;
    }
    .ds__button__b::after {
        font-size: 12px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 350px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 360px;
        }
        /*Cart Product*/
        .ds__cart__product {
            gap: 5px;
        }
        .ds__cart__product .content {
            width: 255px;
        }
        /*Mobile Menu*/
        .ds__mobilemenu__btn {
            padding: 5px 10px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper {
            width: 350px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper .ds__mblmenu__closebtn {
            left: 360px;
        }
        .ds__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        /*Header*/
        .ds__header__section .dshs__wrapper {
            padding: 10px 0;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li a svg {
            height: 20px;
            width: 20px;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li {
            margin-right: 0;
        }
        .logo {
            width: 180px;
        }
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            padding-top: 50px;
            height: 500px;
        }
        .ds__hero__section .dshero__wrapper .content h2 {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 20px;
        }
        .ds__hero__section .dshero__wrapper .content p {
            font-size: 16px;
            line-height: 22px;
            width: 100%;
            margin-bottom: 20px;
        }
        .ds__hero__section .dshero__info__color .dshero__ic__dottype {
            width: 39px;
            height: 39px;
        }
        .ds__hero__section .dshero__info__color .dshero__ic__dottype::after {
            width: 13px;
            height: 13px;
        }
        .ds__hero__section .dshero__info__color {
            bottom: 8%;
            right: 2%;
            gap: 15px;
        }
        .ds__hero__section .dshero__info__color .dshero__color__choose {
            padding: 6px;
            gap: 6px;
        }
        .ds__hero__section .dshero__info__color .dshero__color__choose .dshero__coloritem {
            height: 18px;
            width: 18px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            display: none;
        }
        /*Search Popup*/
        .ds__search__popup .dssearch__wrapper {
            padding: 20px 0;
            gap: 10px;
        }
        .ds__search__popup .dssearch__wrapper form {
            height: 50px;
        }
        .ds__search__popup .dssearch__wrapper form .nice-select {
            line-height: 50px;
            padding-left: 5px;
            padding-right: 10px;
            width: 150px;
            margin-right: 5px;
            font-size: 14px;
        }
        .ds__search__popup .dssearch__wrapper form .nice-select::after {
            right: 10px;
        }
        .ds__search__popup .dssearch__wrapper form .nice-select .option {
            line-height: 40px;
            font-size: 14px;
        }
        .ds__search__popup .dssearch__wrapper form input {
            font-size: 14px;
        }
        .ds__search__popup .dssearch__wrapper form button {
            width: 120px;
            font-size: 12px;
            line-height: 12px;
            padding-right: 10px;
        }
        .ds__search__popup .dssearch__wrapper form button svg {
            height: 14px;
            width: 14px;
        }
        .ds__search__popup .dssearch__wrapper .horizontal__seperator {
            margin: 20px 0;
        }
        .ds__search__popup .dssearch__wrapper .dssearch__results {
            gap: 10px;
        }
        .ds__search__popup .dssearch__wrapper .dssearch__results .result__text {
            font-size: 16px;
            line-height: 22px;
        }
        .ds__search__popup .dssearch__results .dsserach__item {
            gap: 10px;
            padding: 10px;
            flex-direction: column;
        }
        .ds__search__popup .dssearch__results .dsserach__item .image {
            width: 110px;
            height: 110px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content {
            width: 100%;
            gap: 10px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text a {
            font-size: 20px;
            line-height: 26px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text span {
            font-size: 16px;
            line-height: 26px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .ctas a {
            font-size: 14px;
            line-height: 14px;
        }
        /*Category Section*/
        .ds__categories__section .dscs__wrapper__slider .swiper-slide .content h2 {
            font-size: 40px;
            line-height: 40px;
        }
        .ds__categories__section .dscs__wrapper__slider .swiper-slide {
            height: 238px;
        }
        /*Section Tiltle & Navigation*/
        .dscs__titlenav {
            padding: 0 10px;
            margin-bottom: 20px;
        }
        .dscs__titlenav .dscs__title h2 {
            font-size: 30px;
            line-height: 36px;
        }
        .dscs__titlenav .dscs__nav {
            gap: 10px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns {
            height: 46px;
            width: 46px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns svg {
            height: 24px;
            width: 24px;
        }
        .dscs__wrapper__slider {
            padding: 0 10px;
        }
        /*New Arrivals Section*/
        .dsnas__wrapper__slider .swiper-slide {
            display: flex;
            justify-content: center;
        }
        /*FAQs Section*/
        .dsfaq__content .dsfaq__items__list .item .image svg {
            height: 40px;
            width: 40px;
        }
        .dsfaq__content .dsfaq__items__list .item {
            gap: 10px;
            padding: 14px 0;
        }
        .dsfaq__content .dsfaq__items__list .item .text h4 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 2px;
        }
        .dsfaq__content .dsfaq__items__list .item .text p {
            font-size: 12px;
            line-height: 18px;
        }
        .dsfaq__image {
            width: 100%;
            height: 400px;
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
        .dsfaq__image img {
            width: auto;
            height: 100%;
        }
        /*Highlights of the Week*/
        .dswhl__wrapper {
            gap: 20px;
        }
        .dswhl__wrapper a {
            width: 100%;
            height: 300px;
        }
        .dswhl__wrapper a img {
            width: 100%;
            height: 100%;
        }
        .dswhl__wrapper a .text h2 {
            font-size: 36px;
            line-height: 47px;
        }
        /*Promo Section*/
        .dspromo__wrapper {
            flex-direction: column;
        }
        .dspromo__left__side {
            gap: 20px;
            width: 100%;
        }
        .dspromo__left__side h2 {
            font-size: 30px;
        }
        .dspromo__left__side p {
            font-size: 16px;
            line-height: 160%;
        }
        .dspromo__right__side {
            width: 100%;
            gap: 20px;
            margin-top: 15px;
        }
        .dspromo__right__side .dspromo__total__clients {
            gap: 20px;
            justify-content: center;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item h2 {
            font-size: 36px;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item p {
            font-size: 16px;
        }
}

@media (min-width: 576px) and (max-width: 767px) {
    .ds__categories__section,
    .ds__newarrivals__section,
    .ds__faqs__section,
    .ds__week__highlights__section {
        margin-top: 50px;
    }
    .ds__button__a {
        padding: 10px 30px;
        font-size: 16px;
        line-height: 22px;
    }
    .ds__button__b {
        font-size: 20px;
        line-height: 20px;
        padding: 10px 20px;
    }
    .ds__button__b::after {
        font-size: 16px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 350px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 360px;
        }
        /*Mobile Menu*/
        .ds__mobilemenu__btn {
            padding: 8px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper {
            width: 350px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper .ds__mblmenu__closebtn {
            left: 360px;
        }
        .ds__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        /*Header*/
        .logo {
            width: 230px;
        }
        .ds__header__section .dshs__wrapper {
            padding: 10px 0;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li {
            margin-right: 2px;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li a svg {
            height: 26px;
            width: 26px;
        }
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            height: 500px;
            padding-top: 60px;
        }
        .ds__hero__section .dshero__wrapper .content h2 {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 15px;
        }
        .ds__hero__section .dshero__wrapper .content p {
            font-size: 18px;
            line-height: 24px;
            width: 70%;
            margin-bottom: 20px;
        }
        .ds__hero__section .bg__img {
            left: 46%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots {
            width: 29px;
            height: 29px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots::after {
            width: 9px;
            height: 9px;
        }
        .ds__hero__section .dshero__info__color .dshero__ic__dottype {
            width: 39px;
            height: 39px;
        }
        .ds__hero__section .dshero__info__color .dshero__ic__dottype::after {
            width: 13px;
            height: 13px;
        }
        .ds__hero__section .dshero__info__color {
            bottom: 6%;
            right: 12%;
            gap: 20px;
        }
        .ds__hero__section .dshero__info__color .dshero__color__choose {
            padding: 6px;
            gap: 6px;
        }
        .ds__hero__section .dshero__info__color .dshero__color__choose .dshero__coloritem {
            height: 18px;
            width: 18px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2,
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            display: none;
        }
        /*Search Popup*/
        .ds__search__popup .dssearch__wrapper form button {
            width: 160px;
            font-size: 16px;
            line-height: 16px;
            padding-right: 15px;
        }
        .ds__search__popup .dssearch__wrapper form .nice-select {
            padding-left: 10px;
            padding-right: 20px;
            width: 200px;
            margin-right: 10px;
        }
        .ds__search__popup .dssearch__wrapper form .nice-select::after {
            right: 10px;
        }
        .ds__search__popup .dssearch__wrapper form button svg {
            height: 18px;
            width: 18px;
        }
        .ds__search__popup .dssearch__results .dsserach__item {
            gap: 10px;
            padding: 10px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .image {
            width: 100px;
            height: 100px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content {
            width: 386px;
            gap: 10px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text a {
            font-size: 20px;
            line-height: 26px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text span {
            font-size: 16px;
            line-height: 26px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .ctas a {
            font-size: 14px;
            line-height: 14px;
        }
        /*Category Section*/
        .ds__categories__section .dscs__wrapper__slider .swiper-slide .content h2 {
            font-size: 46px;
            line-height: 46px;
        }
        .ds__categories__section .dscs__wrapper__slider .swiper-slide {
            height: 158px;
        }
        /*Section Tiltle & Navigation*/
        .dscs__titlenav .dscs__title h2 {
            font-size: 36px;
            line-height: 42px;
        }
        .dscs__titlenav .dscs__nav {
            gap: 20px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns {
            height: 46px;
            width: 46px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns svg {
            height: 24px;
            width: 24px;
        }
        /*Product Style*/
        .ds__product__style {
            width: 265px;
            height: 360px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns {
            top: 5px;
            left: 5px;
            gap: 8px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__info {
            padding: 13px;
            gap: 5px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__info .rating__area {
            margin-bottom: 6px;
        }
        /*FAQs Section*/
        .dsfaq__content .dsfaq__items__list .item .image svg {
            height: 45px;
            width: 45px;
        }
        .dsfaq__content .dsfaq__items__list .item {
            gap: 15px;
            padding: 14px 0;
        }
        .dsfaq__content .dsfaq__items__list .item .text h4 {
            font-size: 22px;
            line-height: 30px;
        }
        .dsfaq__content .dsfaq__items__list .item .text p {
            font-size: 14px;
            line-height: 20px;
        }
        .dsfaq__image {
            width: 100%;
            height: 400px;
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
        .dsfaq__image img {
            width: auto;
            height: 100%;
        }
        /*Highlights of the Week*/
        .dswhl__wrapper {
            gap: 20px;
        }
        .dswhl__wrapper a {
            width: 100%;
            height: 400px;
        }
        .dswhl__wrapper a img {
            width: 100%;
            height: 100%;
        }
        .dswhl__wrapper a .text h2 {
            font-size: 46px;
            line-height: 57px;
        }
        /*Promo Section*/
        .dspromo__wrapper {
            flex-direction: column;
        }
        .dspromo__left__side {
            gap: 30px;
            width: 100%;
        }
        .dspromo__left__side h2 {
            font-size: 36px;
        }
        .dspromo__left__side p {
            font-size: 16px;
            line-height: 160%;
        }
        .dspromo__right__side {
            width: 100%;
            gap: 30px;
            margin-top: 20px;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ds__categories__section,
    .ds__newarrivals__section,
    .ds__faqs__section,
    .ds__week__highlights__section {
        margin-top: 60px;
    }
    .ds__button__a {
        padding: 12px 32px;
    }
    .ds__button__b {
        font-size: 18px;
        line-height: 18px;
    }
    .ds__button__b::after {
        font-size: 16px;
    }
    /*===== Home Page =====*/
        /*Header*/
        .ds__header__section .dshs__wrapper {
            padding: 10px 0;
        }
        .logo {
            width: 250px;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li {
            margin-right: 2px;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li a svg {
            height: 30px;
            width: 30px;
        }
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 350px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 360px;
        }
        /*Mobile Menu*/
        .ds__mobilemenu__btn {
            padding: 8px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper {
            width: 350px;
        }
        .ds__mobile__menu .ds__mblmenu__wrapper .ds__mblmenu__closebtn {
            left: 360px;
        }
        .ds__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            height: 500px;
            padding-top: 60px;
        }
        .ds__hero__section .dshero__wrapper .content h2 {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 15px;
        }
        .ds__hero__section .dshero__wrapper .content p {
            font-size: 18px;
            line-height: 24px;
            width: 70%;
            margin-bottom: 20px;
        }
        .ds__hero__section .bg__img {
            left: 46%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots {
            width: 29px;
            height: 29px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots::after {
            width: 9px;
            height: 9px;
        }
        .ds__hero__section .dshero__info__color .dshero__ic__dottype {
            width: 39px;
            height: 39px;
        }
        .ds__hero__section .dshero__info__color .dshero__ic__dottype::after {
            width: 13px;
            height: 13px;
        }
        .ds__hero__section .dshero__info__color {
            bottom: 6%;
            right: 12%;
            gap: 20px;
        }
        .ds__hero__section .dshero__info__color .dshero__color__choose {
            padding: 6px;
            gap: 6px;
        }
        .ds__hero__section .dshero__info__color .dshero__color__choose .dshero__coloritem {
            height: 18px;
            width: 18px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1 {
            left: 0.5%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2 {
            right: 2.6%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            bottom: 26%;
            right: 0.3%;
        }
        /*Search Popup*/
        .ds__search__popup .dssearch__wrapper form button {
            width: 200px;
            font-size: 18px;
            line-height: 18px;
            padding-right: 20px;
        }
        .ds__search__popup .dssearch__wrapper form .nice-select {
            padding-left: 15px;
            padding-right: 30px;
            width: 250px;
            margin-right: 15px;
        }
        .ds__search__popup .dssearch__wrapper form button svg {
            height: 24px;
            width: 24px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .image {
            width: 100px;
            height: 100px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content {
            width: 551px;
            gap: 10px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text a {
            font-size: 30px;
            line-height: 36px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text span {
            font-size: 24px;
            line-height: 36px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .ctas a {
            font-size: 16px;
            line-height: 16px;
        }
        /*Category Section*/
        .ds__categories__section .dscs__wrapper__slider .swiper-slide .content h2 {
            font-size: 52px;
            line-height: 52px;
        }
        /*Section Tiltle & Navigation*/
        .dscs__titlenav {
            margin-bottom: 24px;
        }
        .dscs__titlenav .dscs__title h2 {
            font-size: 36px;
            line-height: 42px;
        }
        .dscs__titlenav .dscs__nav {
            gap: 20px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns {
            height: 54px;
            width: 54px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns svg {
            height: 30px;
            width: 30px;
        }
        /*Product Style*/
        .ds__product__style {
            width: 233px;
            height: 330px;
            border-radius: 10px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns {
            top: 3px;
            left: 3px;
            gap: 8px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__info {
            padding: 10px;
            gap: 5px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__info .rating__area {
            margin-bottom: 8px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns a:first-child img {
            height: 44px;
            width: 44px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns a img {
            height: 34px;
            width: 34px;
        }
        .ds__product__style .dsps__content__wrapper .dsps__ctabtns a::after {
            font-size: 16px;
            line-height: 16px;
        }
        /*FAQs Section*/
        .dsfaq__content .dsfaq__items__list .item .image svg {
            height: 40px;
            width: 40px;
        }
        .dsfaq__content .dsfaq__items__list .item {
            gap: 10px;
            padding: 10px 0;
        }
        .dsfaq__content .dsfaq__items__list .item .text h4 {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 2px;
        }
        .dsfaq__content .dsfaq__items__list .item .text p {
            font-size: 14px;
            line-height: 20px;
        }
        /*Highlights of the Week*/
        .dswhl__wrapper {
            gap: 10px;
        }
        .dswhl__wrapper a {
            height: 275px;
        }
        .dswhl__wrapper a .text h2 {
            font-size: 46px;
            line-height: 57px;
        }
        /*Promo Section*/
        .dspromo__left__side {
            width: 385px;
            gap: 30px;
        }
        .dspromo__left__side h2 {
            font-size: 32px;
        }
        .dspromo__left__side p {
            font-size: 16px;
            line-height: 150%;
        }
        .dspromo__right__side {
            width: 300px;
            gap: 58px;
        }
        .dspromo__right__side .dspromo__total__clients {
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item h2 {
            font-size: 30px;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item p {
            font-size: 14px;
            line-height: 140%;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .ds__categories__section,
    .ds__newarrivals__section,
    .ds__faqs__section,
    .ds__week__highlights__section {
        margin-top: 70px;
    }
    .ds__button__b {
        font-size: 20px;
        line-height: 20px;
    }
    .ds__button__b::after {
        font-size: 18px;
    }
    /*===== Home Page =====*/
        /*Header*/
        .ds__header__section .dshs__wrapper .header__nav li a {
            font-size: 20px;
            line-height: 20px;
        }
        .ds__header__section .dshs__wrapper .dshs__header__cta li a svg {
            height: 30px;
            width: 30px;
        }
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 350px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 360px;
        }
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            height: 600px;
        }
        .ds__hero__section .dshero__wrapper .content h2 {
            font-size: 46px;
            line-height: 56px;
            margin-bottom: 20px;
        }
        .ds__hero__section .dshero__wrapper .content p {
            font-size: 22px;
            line-height: 28px;
            width: 70%;
            margin-bottom: 25px;
        }
        .ds__hero__section .bg__img {
            left: 46%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots {
            width: 29px;
            height: 29px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots::after {
            width: 9px;
            height: 9px;
        }
        .ds__hero__section .dshero__info__color .dshero__ic__dottype {
            width: 39px;
            height: 39px;
        }
        .ds__hero__section .dshero__info__color .dshero__ic__dottype::after {
            width: 13px;
            height: 13px;
        }
        .ds__hero__section .dshero__info__color {
            gap: 20px;
        }
        .ds__hero__section .dshero__info__color .dshero__color__choose {
            padding: 6px;
            gap: 6px;
        }
        .ds__hero__section .dshero__info__color .dshero__color__choose .dshero__coloritem {
            height: 18px;
            width: 18px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1 {
            left: 2.5%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2 {
            right: 6.6%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            right: 1.3%;
        }
        /*Search Popup*/
        .ds__search__popup .dssearch__results .dsserach__item .content {
            width: 761px;
        }
        .ds__search__popup .dssearch__results .dsserach__item .content .text span {
            font-size: 34px;
        }
        /*Category Section*/
        .ds__categories__section .dscs__wrapper__slider .swiper-slide .content h2 {
            font-size: 52px;
            line-height: 52px;
        }
        /*Section Tiltle & Navigation*/
        .dscs__titlenav .dscs__title h2 {
            font-size: 40px;
            line-height: 46px;
        }
        .dscs__titlenav .dscs__nav .ds__navbtns {
            height: 62px;
            width: 62px;
        }
        /*FAQs Section*/
        .dsfaq__content .dsfaq__items__list .item .image svg {
            height: 45px;
            width: 45px;
        }
        .dsfaq__content .dsfaq__items__list .item {
            gap: 15px;
            padding: 14px 0;
        }
        .dsfaq__content .dsfaq__items__list .item .text h4 {
            font-size: 26px;
            line-height: 32px;
        }
        .dsfaq__content .dsfaq__items__list .item .text p {
            font-size: 16px;
        }
        /*Highlights of the Week*/
        .dswhl__wrapper {
            gap: 20px;
        }
        .dswhl__wrapper a {
            height: 368px;
        }
        .dswhl__wrapper a .text h2 {
            font-size: 46px;
            line-height: 57px;
        }
        /*Promo Section*/
        .dspromo__left__side {
            width: 515px;
            gap: 30px;
        }
        .dspromo__left__side h2 {
            font-size: 40px;
        }
        .dspromo__left__side p {
            font-size: 18px;
            line-height: 170%;
        }
        .dspromo__right__side {
            width: 405px;
            gap: 58px;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item h2 {
            font-size: 40px;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item p {
            font-size: 18px;
        }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .ds__categories__section,
    .ds__newarrivals__section,
    .ds__faqs__section,
    .ds__week__highlights__section {
        margin-top: 80px;
    }
    /*===== Home Page =====*/
        /*Search Popup*/
        .ds__search__popup .dssearch__results .dsserach__item .content {
            width: 941px;
        }
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            height: 700px;
        }
        .ds__hero__section .bg__img {
            left: 45%;
        }
        .ds__hero__section .dshero__wrapper .content h2 {
            font-size: 56px;
            line-height: 64px;
            margin-bottom: 32px;
        }
        .ds__hero__section .dshero__wrapper .content p {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 35px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1 {
            bottom: 18%;
            left: 3%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2 {
            right: 9%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            right: 1.3%;
        }
        .ds__hero__section .dshero__info__color {
            bottom: 10%;
            right: 19%;
        }
        /*Category Section*/
        .ds__categories__section .dscs__wrapper__slider .swiper-slide .content h2 {
            font-size: 52px;
            line-height: 52px;
        }
        .ds__categories__section .dscs__wrapper__slider .swiper-slide {
            height: 164px;
        }
        /*Product Style*/
        .ds__product__style {
            width: 274px;
            height: 370px;
        }
        /*FAQs Section*/
        .dsfaq__content .dsfaq__items__list .item .text p {
            font-size: 16px;
        }
        /*Highlights of the Week*/
        .dswhl__wrapper a {
            height: 436px;
        }
        /*Promo Section*/
        .dspromo__left__side {
            width: 605px;
            gap: 30px;
        }
        .dspromo__left__side p {
            font-size: 18px;
            line-height: 170%;
        }
        .dspromo__right__side {
            width: 495px;
            gap: 64px;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item h2 {
            font-size: 40px;
        }
        .dspromo__right__side .dspromo__total__clients .dspromo__item p {
            font-size: 18px;
        }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .ds__categories__section,
    .ds__newarrivals__section,
    .ds__faqs__section,
    .ds__week__highlights__section {
        margin-top: 80px;
    }
    /*===== Home Page =====*/
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            height: 800px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1 {
            left: 10%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2 {
            right: 5.2%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            right: 1.3%;
        }
        .ds__hero__section .dshero__info__color {
            bottom: 10%;
            right: 19%;
        }
}

@media (min-width: 1500px) and (max-width: 1599px) {
    /*===== Home Page =====*/
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .content {
            height: 800px;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1 {
            left: 12%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2 {
            right: 8.3%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            right: 1.3%;
        }
        .ds__hero__section .dshero__info__color {
            bottom: 10%;
            right: 20%;
        }
}

@media (min-width: 1600px) and (max-width: 1699px) {
    /*===== Home Page =====*/
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1 {
            left: 10%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2 {
            right: 6%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            right: 1.3%;
        }
        .ds__hero__section .dshero__info__color {
            bottom: 10%;
            right: 19%;
        }
}

@media (min-width: 1700px) and (max-width: 1799px) {
    /*===== Home Page =====*/
        /*Hero Section*/
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot1 {
            left: 12%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot2 {
            right: 8.6%;
        }
        .ds__hero__section .dshero__wrapper .dshero__info__dots.dot3 {
            right: 3.3%;
        }
        .ds__hero__section .dshero__info__color {
            bottom: 10%;
            right: 21%;
        }
}