@media (max-width: 289px) {
    .fsnfsp__product__description {
        margin-top: 30px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 180px;
            padding: 10px 5px;
        }
        .ds__cart__slider .ds__cart__closebtn{
            right: 182px;
            height: 80px;
            width: 16px;
            line-height: 80px;
            font-size: 14px;
            border-radius: 5px;
        }
        .ds__cart__slider .main__cart__area .ds__cart__header h3{
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .ds__cart__slider .main__cart__area .ds__cart__header span {
            font-size: 24px;
            line-height: 26px;
            height: 26px;
            margin-bottom: 0;
            font-weight: 400;
            padding: 0 8px;
        }
        .fsnfcs__openbtn {
            font-size: 14px;
            line-height: 34px;
            height: 34px;
            width: 34px;
        }
}

@media (min-width: 290px) and (max-width: 414px) {
    .fsnfsp__product__description {
        margin-top: 30px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 255px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 257px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        .ds__cart__slider .main__cart__area .ds__cart__header h3{
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .ds__cart__slider .main__cart__area .ds__cart__header span {
            font-size: 24px;
            line-height: 26px;
            height: 26px;
            margin-bottom: 0;
            font-weight: 400;
            padding: 0 8px;
        }
        .fsnfcs__openbtn {
            font-size: 16px;
            line-height: 40px;
            height: 40px;
            width: 40px;
        }
}

@media (min-width: 415px) and (max-width: 575px) {
    .fsnfsp__product__description {
        margin-top: 40px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 350px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 360px;
        }
        .fsnfcs__openbtn {
            font-size: 16px;
            line-height: 40px;
            height: 40px;
            width: 40px;
        }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fsnfsp__product__description {
        margin-top: 50px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 350px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 360px;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fsnfsp__product__description {
        margin-top: 60px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 350px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 360px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fsnfsp__product__description {
        margin-top: 70px;
    }
    /*===== Home Page =====*/
        /*Cart Slider*/
        .ds__cart__slider .main__cart__area {
            width: 350px;
        }
        .ds__cart__slider .ds__cart__closebtn {
            right: 360px;
        }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .fsnfsp__product__description {
        margin-top: 80px;
    }
    /*===== Home Page =====*/
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .fsnfsp__product__description {
        margin-top: 80px;
    }
    /*===== Home Page =====*/
}

@media (min-width: 1500px) and (max-width: 1599px) {
    /*===== Home Page =====*/
}

@media (min-width: 1600px) and (max-width: 1699px) {
    /*===== Home Page =====*/
}

@media (min-width: 1700px) and (max-width: 1799px) {
    /*===== Home Page =====*/
}