@media (max-width: 289px) {
    .fsnf__catcol__section,
    .fsnf__promo__section {
        margin-top: 30px;
    }
    /*Checkbox & Radio Inputs*/
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked {
        height: 10px;
        width: 10px;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 6px;
        width: 6px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 55px;
        }
        .fsnf__button__a {
            font-size: 14px;
            line-height: 14px;
            padding: 10px 25px;
        }
        .fsnf__button__b {
            font-size: 14px;
            line-height: 14px;
            padding: 10px 25px;
        }
        /*Header*/
        .fsnf__header__wrapper .has__search .header__search {
            right: -49px;
            height: 40px;
            width: 188px;
        }
        .fsnf__header__wrapper .header__search input {
            font-size: 14px;
        }
        .fsnf__header__wrapper .header__search .submit__btn {
            font-size: 12px;
            line-height: 12px;
            width: 20px;
        }
        /*Mobile Menu*/
        .fsnf__mblmenu__btn {
            padding: 5px;
            font-size: 12px;
            line-height: 12px;
            margin: 0 auto;
        }
        .fsnf__header__wrapper {
            padding: 15px 0;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper {
            width: 180px;
            padding: 10px 5px;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .fsnf__mblmenu__closebtn {
            left: 182px;
            height: 80px;
            width: 16px;
            line-height: 80px;
            font-size: 14px;
            border-radius: 5px;
        }
        .fsnf__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .nav-pills .nav-link.active,
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .nav-pills .show > .nav-link,
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .nav-pills .nav-link {
            padding: 5px;
            margin: 0;
        }
        .fsnf__header__wrapper .header__ctas {
            gap: 5px;
            height: 50%;
        }
        .fsnf__header__wrapper .header__ctas li a {
            height: 12px;
            width: 12px;
        }
        .fsnf__header__wrapper .col-4 {
            padding: 0 5px;
        }
        .fsnf__header__wrapper .col-4.middle {
            padding: 0;
        }
        /*Cart*/
        .fsnf__header__wrapper .header__ctas .has__cart__menu .fsnf__cart {
            width: 190px;
            height: 370px;
            padding: 10px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product .fsnf__cart__prod__close {
            height: 16px;
            width: 16px;
            font-size: 10px;
            line-height: 16px;
            left: 0;
            top: 0;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product {
            flex-direction: column;
            align-items: center;
            gap: 5px;
            margin-bottom: 10px;
            border-bottom: 1px solid #EEE;
            padding-bottom: 10px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product .content {
            width: 185px;
            gap: 10px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product .image {
            width: 60px;
            height: 60px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product h3 {
            border: none;
            line-height: 18px;
            text-align: center;
            margin-bottom: 10px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product h3 a {
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product h4 {
            font-size: 14px;
            line-height: 20px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product .price__qty {
            justify-content: center;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__subtotal p {
            font-size: 16px;
            line-height: 24px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 450px;
        }
        .fsnf__hero__wrapper .bg__img.bg1 {
            top: unset;
            transform: unset;
            left: 0;
            height: 30%;
            bottom: 10px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            top: unset;
            left: 10px;
            height: 32%;
            bottom: 13px;
        }
        .fsnf__hero__wrapper .left__side {
            position: absolute;
            bottom: 0;
            height: 162px;
        }
        .fsnf__hero__wrapper .left__side img {
            width: unset;
            height: 100%;
        }
        .fsnf__hero__wrapper .right__side {
            top: 0;
            gap: 10px;
            position: absolute;
            height: 300px;
            width: 100%;
            padding: 0 10px;
        }
        .fsnf__hero__wrapper .right__side h2 {
            font-size: 32px;
            line-height: 38px;
        }
        .fsnf__hero__wrapper .right__side p {
            font-size: 12px;
            line-height: 20px;
        }
        /*Category Colelction Section*/
        .fsnf__catcol__section .col-md-6 {
            padding: 0 5px;
        }
        .fsnf__collection__card {
            height: 128px;
            gap: 5px;
            padding: 5px;
            margin: 5px 0;
        }
        .fsnf__collection__card .bgimg {
            left: -27px;
            width: 140%;
        }
        .fsnf__collection__card h3 {
            font-size: 16px;
            line-height: 16px;
        }
        .fsnf__collection__card h2 {
            font-size: 26px;
            line-height: 26px;
            margin-top: 5px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 12px;
            line-height: 12px;
        }
        .fsnf__collection__card .fsnf__button__b {
            margin-top: 5px;
            padding: 5px 20px;
        }
        /*Promo Section*/
        .fsnf__promo__wrapper .fsnfps__text__content__area {
            gap: 10px;
            padding-top: 30px;
            padding-bottom: 15px;
        }
        .fsnfps__text__content__area h2 {
            font-size: 26px;
            line-height: 32px;
        }
        .fsnfps__text__content__area h3,
        .fsnfps__text__content__area h3 span {
            font-size: 18px;
            line-height: 18px;
        }
        .fsnfps__text__content__area p {
            font-size: 12px;
            line-height: 12px;
        }
        .fsnfps__image {
            display: flex;
            justify-content: center;
        }
        .fsnfps__image img {
            width: 80%;
        }
        .fsnf__promo__section .fsnf__button__b {
            margin-top: -20px;
        }
}

@media (min-width: 290px) and (max-width: 414px) {
    .fsnf__catcol__section,
    .fsnf__promo__section {
        margin-top: 30px;
    }
    /*Checkbox & Radio Inputs*/
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked {
        height: 12px;
        width: 12px;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 6px;
        width: 6px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 80px;
        }
        .fsnf__button__a {
            font-size: 16px;
            line-height: 16px;
            padding: 10px 25px;
        }
        .fsnf__button__b {
            font-size: 16px;
            line-height: 16px;
            padding: 10px 25px;
        }
        /*Header*/
        .fsnf__header__wrapper .has__search .header__search {
            right: -79px;
        }
        /*Mobile Menu*/
        .fsnf__mblmenu__btn {
            padding: 5px;
            font-size: 12px;
            line-height: 12px;
            margin: 0 auto;
        }
        .fsnf__header__wrapper {
            padding: 15px 0;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper {
            width: 255px;
            padding: 20px 10px;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .fsnf__mblmenu__closebtn {
            left: 257px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        .fsnf__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        .fsnf__header__wrapper .header__ctas {
            gap: 10px;
            height: 70%;
        }
        .fsnf__header__wrapper .header__ctas li a {
            height: 14px;
            width: 14px;
        }
        /*Cart*/
        .fsnf__header__wrapper .header__ctas .has__cart__menu .fsnf__cart {
            width: 270px;
            height: 230px;
            padding: 10px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product .fsnf__cart__prod__close {
            height: 16px;
            width: 16px;
            font-size: 10px;
            line-height: 16px;
            left: -5px;
            top: -5px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product {
            gap: 5px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product .content {
            width: 185px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product .image {
            width: 60px;
            height: 60px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product h3 {
            border: none;
            line-height: 18px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product h3 a {
            font-size: 14px;
            line-height: 14px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product h4 {
            font-size: 14px;
            line-height: 20px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__subtotal p {
            font-size: 18px;
            line-height: 26px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 520px;
        }
        .fsnf__hero__wrapper .bg__img.bg1 {
            top: unset;
            transform: unset;
            left: 0;
            height: 45%;
            bottom: 10px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            top: unset;
            left: 20px;
            height: 40%;
            bottom: 25px;
        }
        .fsnf__hero__wrapper .left__side {
            position: absolute;
            bottom: 0;
            height: 238px;
        }
        .fsnf__hero__wrapper .left__side img {
            width: unset;
            height: 100%;
        }
        .fsnf__hero__wrapper .right__side {
            top: 0;
            gap: 10px;
            position: absolute;
            height: 300px;
            width: 100%;
            padding: 0 10px;
        }
        .fsnf__hero__wrapper .right__side h2 {
            font-size: 52px;
            line-height: 58px;
        }
        .fsnf__hero__wrapper .right__side p {
            font-size: 12px;
            line-height: 20px;
        }
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 128px;
            gap: 0;
            padding: 5px;
            margin: 5px 0;
        }
        .fsnf__collection__card h3 {
            font-size: 20px;
            line-height: 20px;
        }
        .fsnf__collection__card h2 {
            font-size: 30px;
            line-height: 30px;
            margin-top: 7px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 14px;
            line-height: 14px;
        }
        .fsnf__collection__card .fsnf__button__b {
            margin-top: 7px;
            padding: 7px 20px;
        }
        /*Promo Section*/
        .fsnf__promo__wrapper .fsnfps__text__content__area {
            gap: 10px;
            padding-top: 30px;
            padding-bottom: 15px;
        }
        .fsnfps__text__content__area h2 {
            font-size: 38px;
            line-height: 46px;
        }
        .fsnfps__text__content__area h3,
        .fsnfps__text__content__area h3 span {
            font-size: 28px;
            line-height: 28px;
        }
        .fsnfps__text__content__area p {
            font-size: 14px;
            line-height: 14px;
        }
        .fsnfps__image {
            display: flex;
            justify-content: center;
        }
        .fsnfps__image img {
            width: 70%;
        }
        .fsnf__promo__section .fsnf__button__b {
            margin-top: -20px;
        }
}

@media (min-width: 415px) and (max-width: 575px) {
    .fsnf__catcol__section,
    .fsnf__promo__section {
        margin-top: 40px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 110px;
        }
        .fsnf__button__a {
            font-size: 16px;
            line-height: 16px;
            padding: 10px 25px;
        }
        .fsnf__button__b {
            font-size: 16px;
            line-height: 16px;
            padding: 10px 25px;
        }
        /*Mobile Menu*/
        .fsnf__mblmenu__btn {
            padding: 10px;
            margin: 0 auto;
        }
        .fsnf__header__wrapper {
            padding: 15px 0;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper {
            width: 350px;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .fsnf__mblmenu__closebtn {
            left: 360px;
        }
        .fsnf__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        .fsnf__header__wrapper .header__ctas {
            gap: 15px;
        }
        .fsnf__header__wrapper .header__ctas li a {
            height: 16px;
            width: 16px;
        }
        /*Cart*/
        .fsnf__header__wrapper .header__ctas .has__cart__menu .fsnf__cart {
            width: 400px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product {
            gap: 5px;
        }
        .fsnf__header__wrapper .header__ctas .fsnf__cart__product .content {
            width: 255px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 600px;
        }
        .fsnf__hero__wrapper .bg__img.bg1 {
            top: unset;
            transform: unset;
            left: 0;
            height: 45%;
            bottom: 10px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            top: unset;
            left: 38px;
            height: 46%;
            bottom: 25px;
        }
        .fsnf__hero__wrapper .left__side {
            position: absolute;
            bottom: 0;
            height: 300px;
        }
        .fsnf__hero__wrapper .left__side img {
            width: unset;
            height: 100%;
        }
        .fsnf__hero__wrapper .right__side {
            top: 0;
            gap: 15px;
            position: absolute;
            height: 350px;
            width: 100%;
            padding: 0 10px;
        }
        .fsnf__hero__wrapper .right__side h2 {
            font-size: 76px;
            line-height: 80px;
        }
        .fsnf__hero__wrapper .right__side p {
            font-size: 14px;
            line-height: 20px;
        }
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 188px;
            gap: 0;
            padding: 10px;
            margin: 7px 0;
        }
        .fsnf__collection__card h3 {
            font-size: 28px;
            line-height: 28px;
        }
        .fsnf__collection__card h2 {
            font-size: 50px;
            line-height: 50px;
            margin-top: 10px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 20px;
            line-height: 20px;
        }
        .fsnf__collection__card .fsnf__button__b {
            margin-top: 10px;
        }
        /*Promo Section*/
        .fsnf__promo__wrapper .fsnfps__text__content__area {
            gap: 15px;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        .fsnfps__text__content__area h2 {
            font-size: 52px;
            line-height: 58px;
        }
        .fsnfps__text__content__area h3,
        .fsnfps__text__content__area h3 span {
            font-size: 38px;
            line-height: 38px;
        }
        .fsnfps__text__content__area p {
            font-size: 20px;
            line-height: 20px;
        }
        .fsnfps__image {
            display: flex;
            justify-content: center;
        }
        .fsnfps__image img {
            width: 60%;
        }
        .fsnf__promo__section .fsnf__button__b {
            margin-top: -20px;
        }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fsnf__catcol__section,
    .fsnf__promo__section {
        margin-top: 50px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
        .fsnf__button__a {
            font-size: 18px;
            line-height: 18px;
        }
        .fsnf__button__b {
            font-size: 18px;
            line-height: 18px;
            padding: 10px 30px;
        }
        /*Mobile Menu*/
        .fsnf__mblmenu__btn {
            padding: 10px;
            margin: 0 auto;
        }
        .fsnf__header__wrapper {
            padding: 15px 0;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper {
            width: 350px;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .fsnf__mblmenu__closebtn {
            left: 360px;
        }
        .fsnf__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        .fsnf__header__wrapper .header__ctas {
            gap: 15px;
        }
        .fsnf__header__wrapper .header__ctas li a {
            height: 16px;
            width: 16px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 700px;
        }
        .fsnf__hero__wrapper .bg__img.bg1 {
            top: unset;
            transform: unset;
            left: 0;
            height: 50%;
            bottom: 30px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            top: unset;
            left: 38px;
            height: 56.5%;
            bottom: 0;
        }
        .fsnf__hero__wrapper .left__side {
            position: absolute;
            bottom: 0;
            height: 400px;
        }
        .fsnf__hero__wrapper .left__side img {
            width: unset;
            height: 100%;
        }
        .fsnf__hero__wrapper .right__side {
            top: 0;
            gap: 20px;
            position: absolute;
            height: 350px;
            width: 100%;
            padding: 0 10px;
        }
        .fsnf__hero__wrapper .right__side h2 {
            font-size: 90px;
            line-height: 90px;
        }
        .fsnf__hero__wrapper .right__side p {
            font-size: 16px;
            line-height: 22px;
        }
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 266px;
            gap: 10px;
            padding: 15px;
            margin: 10px 0;
        }
        .fsnf__collection__card h3 {
            font-size: 36px;
            line-height: 36px;
        }
        .fsnf__collection__card h2 {
            font-size: 66px;
            line-height: 66px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 28px;
            line-height: 28px;
        }
        /*Promo Section*/
        .fsnf__promo__wrapper .fsnfps__text__content__area {
            gap: 15px;
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .fsnfps__text__content__area h2 {
            font-size: 70px;
            line-height: 76px;
        }
        .fsnfps__text__content__area h3,
        .fsnfps__text__content__area h3 span {
            font-size: 48px;
            line-height: 48px;
        }
        .fsnfps__text__content__area p {
            font-size: 26px;
            line-height: 26px;
        }
        .fsnfps__image {
            display: flex;
            justify-content: center;
        }
        .fsnfps__image img {
            width: 60%;
        }
        .fsnf__promo__section .fsnf__button__b {
            margin-top: -20px;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fsnf__catcol__section,
    .fsnf__promo__section {
        margin-top: 60px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
        .fsnf__button__a {
            font-size: 18px;
            line-height: 18px;
        }
        .fsnf__button__b {
            font-size: 18px;
            line-height: 18px;
            padding: 10px 30px;
        }
        /*Mobile Menu*/
        .fsnf__mblmenu__btn {
            padding: 10px;
            margin: 0 auto;
        }
        .fsnf__header__wrapper {
            padding: 20px 0;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper {
            width: 350px;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .fsnf__mblmenu__closebtn {
            left: 360px;
        }
        .fsnf__mblmenu__tabs {
            font-size: 14px;
            line-height: 24px;
        }
        .fsnf__header__wrapper .header__ctas {
            gap: 15px;
        }
        .fsnf__header__wrapper .header__ctas li a {
            height: 16px;
            width: 16px;
        }
        .fsnf__collection__card .fsnf__button__b {
            margin-top: 5px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 438px;
        }
        .fsnf__hero__wrapper .bg__img.bg1 {
            left: 20px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            left: 70px;
        }
        .fsnf__hero__wrapper .right__side {
            gap: 20px;
        }
        .fsnf__hero__wrapper .right__side h2 {
            font-size: 68px;
            line-height: 68px;
        }
        .fsnf__hero__wrapper .right__side p {
            font-size: 14px;
            line-height: 20px;
        }
        /*Category Colelction Section*/
        .fsnf__catcol__section .col-md-6:first-child {
            padding-right: 5px;
        }
        .fsnf__catcol__section .col-md-6:last-child {
            padding-left: 5px;
        }
        .fsnf__collection__card {
            height: 177px;
            gap: 5px;
            padding: 10px;
        }
        .fsnf__collection__card h3 {
            font-size: 20px;
            line-height: 20px;
            margin-top: 5px;
        }
        .fsnf__collection__card h2 {
            font-size: 44px;
            line-height: 44px;
            margin-top: 5px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 16px;
            line-height: 16px;
        }
        /*Promo Section*/
        .fsnfps__text__content__area h2 {
            font-size: 60px;
            line-height: 66px;
        }
        .fsnfps__text__content__area h3,
        .fsnfps__text__content__area h3 span {
            font-size: 40px;
            line-height: 40px;
        }
        .fsnfps__text__content__area p {
            font-size: 20px;
            line-height: 20px;
        }
        .fsnf__promo__section .fsnf__button__b {
            margin-top: -20px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fsnf__catcol__section,
    .fsnf__promo__section {
        margin-top: 70px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
        .fsnf__button__a {
            font-size: 20px;
            line-height: 20px;
        }
        .fsnf__button__b {
            font-size: 20px;
            line-height: 20px;
            padding: 10px 30px;
        }
        /*Mobile Menu*/
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper {
            width: 350px;
        }
        .fsnf__mobile__menu .fsnf__mblmenu__wrapper .fsnf__mblmenu__closebtn {
            left: 360px;
        }
        /*Mega Menu*/
        .fsnf__header__wrapper {
            padding: 20px 0;
        }
        .fsnf__header__wrapper .main__nav li a {
            padding: 15px 0;
            font-size: 16px;
            line-height: 16px;
        }
        .fsnf__header__wrapper .main__nav li {
            margin: 0 10px;
        }
        .fsnf__header__wrapper .main__nav li a i {
            font-size: 8px;
            margin-left: 0;
        }
        .fsnf__header__wrapper .main__nav li .fsnf__megamenu h4 {
            font-size: 22px;
            line-height: 22px;
            font-weight: 400;
        }
        .fsnf__header__wrapper .main__nav li .fsnf__megamenu li a {
            font-size: 12px;
            line-height: 12px;
            width: 184px;
        }
        .fsnf__header__wrapper .main__nav .has__tiny__menu .fsnf__tinymenu {
            left: 50%;
            transform: translateX(-50%);
        }
        .fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu .fsnf__tinymenu {
            transform: unset;
        }
        .fsnf__header__wrapper .main__nav .has__tiny__menu .fsnf__tinymenu li a {
            width: 210px;
        }
        .fsnf__header__wrapper .header__ctas {
            gap: 20px;
        }
        .fsnf__header__wrapper .header__ctas li a {
            height: 16px;
            width: 16px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 564px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            left: 115px;
        }
        .fsnf__hero__wrapper .right__side {
            gap: 20px;
        }
        .fsnf__hero__wrapper .right__side h2 {
            font-size: 86px;
            line-height: 86px;
        }
        .fsnf__hero__wrapper .right__side p {
            font-size: 14px;
            line-height: 20px;
        }
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 228px;
            gap: 10px;
            padding: 10px 15px;
        }
        .fsnf__collection__card h3 {
            font-size: 30px;
            line-height: 30px;
        }
        .fsnf__collection__card h2 {
            font-size: 54px;
            line-height: 54px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 20px;
            line-height: 20px;
        }
        /*Promo Section*/
        .fsnfps__text__content__area h2 {
            font-size: 60px;
            line-height: 66px;
        }
        .fsnfps__text__content__area h3,
        .fsnfps__text__content__area h3 span {
            font-size: 40px;
            line-height: 40px;
        }
        .fsnfps__text__content__area p {
            font-size: 20px;
            line-height: 20px;
        }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .fsnf__catcol__section,
    .fsnf__promo__section {
        margin-top: 80px;
    }
    .fsnf__button__a {
        font-size: 26px;
        line-height: 26px;
    }
    .fsnf__button__b {
        font-size: 26px;
        line-height: 26px;
        padding: 10px 30px;
    }
    /*===== Home Page =====*/
        /*Mega Menu*/
        .fsnf__header__wrapper .main__nav li a {
            font-size: 16px;
            line-height: 16px;
        }
        .fsnf__header__wrapper .main__nav li a i {
            font-size: 8px;
            margin-left: 2px;
        }
        .fsnf__header__wrapper .main__nav li .fsnf__megamenu h4 {
            font-size: 24px;
            line-height: 24px;
        }
        .fsnf__header__wrapper .main__nav li .fsnf__megamenu li a {
            font-size: 16px;
            line-height: 16px;
            width: 216px;
        }
        .fsnf__header__wrapper .main__nav .has__tiny__menu .fsnf__tinymenu li a {
            width: 240px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 682px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            left: 115px;
        }
        .fsnf__hero__wrapper .right__side h2 {
            font-size: 100px;
            line-height: 100px;
        }
        .fsnf__hero__wrapper .right__side p {
            font-size: 18px;
            line-height: 24px;
        }
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 278px;
            gap: 10px;
            padding: 15px;
        }
        .fsnf__collection__card h3 {
            font-size: 40px;
            line-height: 40px;
        }
        .fsnf__collection__card h2 {
            font-size: 74px;
            line-height: 74px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 30px;
            line-height: 30px;
        }
        /*Promo Section*/
        .fsnfps__text__content__area h2 {
            font-size: 70px;
            line-height: 76px;
        }
        .fsnfps__text__content__area h3,
        .fsnfps__text__content__area h3 span {
            font-size: 48px;
            line-height: 48px;
        }
        .fsnfps__text__content__area p {
            font-size: 26px;
            line-height: 26px;
        }
        /*Featured Products*/
        .fsnf__section__title {
            margin-bottom: 30px;
        }
        .fsnf__section__title p,
        .fsnf__section__title p span {
            font-size: 28px;
            line-height: 34px;
        }
        .fsnf__section__title h2 {
            font-size: 60px;
            line-height: 60px;
        }
        .fsnffp__wrapper .nav-tabs {
            gap: 40px;
        }
        .fsnffp__wrapper .nav-tabs button {
            font-size: 22px;
            line-height: 22px;
        }
        .fsnffp__wrapper .tab-content {
            margin-top: 50px;
        }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .fsnf__catcol__section,
    .fsnf__promo__section {
        margin-top: 80px;
    }
    .fsnf__button__b {
        font-size: 26px;
        line-height: 26px;
        padding: 13px 30px;
    }
    /*===== Home Page =====*/
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 796px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            left: 115px;
        }
        .fsnf__hero__wrapper .right__side h2 {
            font-size: 120px;
            line-height: 120px;
        }
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 327px;
            gap: 10px;
        }
        .fsnf__collection__card h3 {
            font-size: 34px;
            line-height: 34px;
        }
        .fsnf__collection__card h2 {
            font-size: 80px;
            line-height: 80px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 28px;
            line-height: 28px;
        }
        /*Featured Products*/
        .fsnf__section__title p,
        .fsnf__section__title p span {
            font-size: 34px;
            line-height: 38px;
        }
        .fsnf__section__title h2 {
            font-size: 70px;
            line-height: 70px;
        }
        .fsnffp__wrapper .nav-tabs {
            gap: 50px;
        }
        .fsnffp__wrapper .nav-tabs button {
            font-size: 26px;
            line-height: 26px;
        }
}

@media (min-width: 1500px) and (max-width: 1599px) {
    /*===== Home Page =====*/
        .fsnf__button__b {
            font-size: 28px;
            line-height: 28px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 855px;
        }
        .fsnf__hero__wrapper .bg__img.bg2 {
            left: 115px;
        }
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 351px;
            gap: 15px;
        }
        .fsnf__collection__card h3 {
            font-size: 40px;
            line-height: 40px;
        }
        .fsnf__collection__card h2 {
            font-size: 90px;
            line-height: 90px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 30px;
            line-height: 30px;
        }
        /*Featured Products*/
        .fsnffp__wrapper .nav-tabs {
            gap: 60px;
        }
        .fsnffp__wrapper .nav-tabs button {
            font-size: 30px;
            line-height: 30px;
        }
}

@media (min-width: 1600px) and (max-width: 1699px) {
    /*===== Home Page =====*/
        .fsnf__button__b {
            font-size: 28px;
            line-height: 28px;
        }
        /*Hero Section*/
        .fsnf__hero__wrapper {
            height: 912px;
        }
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 375px;
            gap: 15px;
        }
        .fsnf__collection__card h3 {
            font-size: 40px;
            line-height: 40px;
        }
        .fsnf__collection__card h2 {
            font-size: 90px;
            line-height: 90px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 30px;
            line-height: 30px;
        }
        /*Featured Products*/
        .fsnffp__wrapper .tab-content .tab-pane .fsnffp__tabcontent {
            gap: 12px;
        }
        .fsnffp__wrapper .nav-tabs {
            gap: 60px;
        }
        .fsnffp__wrapper .nav-tabs button {
            font-size: 30px;
            line-height: 30px;
        }
}

@media (min-width: 1700px) and (max-width: 1799px) {
    /*===== Home Page =====*/
        /*Category Colelction Section*/
        .fsnf__collection__card {
            height: 381px;
            gap: 15px;
        }
        .fsnf__collection__card h3 {
            font-size: 44px;
            line-height: 44px;
        }
        .fsnf__collection__card h2 {
            font-size: 90px;
            line-height: 90px;
        }
        .fsnf__collection__card h4,
        .fsnf__collection__card h4 span {
            font-size: 34px;
            line-height: 34px;
        }
        /*Featured Products*/
        .fsnffp__wrapper .tab-content .tab-pane .fsnffp__tabcontent {
            gap: 37px;
        }
}