@media (max-width: 289px) {
    .fes__contact__section {
        margin-top: 30px;
    }
    /*Checkbox & Radio Inputs*/
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked {
        height: 10px;
        width: 10px;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 6px;
        width: 6px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
}

@media (min-width: 290px) and (max-width: 414px) {
    .fes__contact__section {
        margin-top: 30px;
    }
    /*Checkbox & Radio Inputs*/
    input[type="checkbox"],
    input[type="checkbox"]:checked,
    input[type="radio"],
    input[type="radio"]:checked {
        height: 12px;
        width: 12px;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        height: 6px;
        width: 6px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
}

@media (min-width: 415px) and (max-width: 575px) {
    .fes__contact__section {
        margin-top: 40px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
}

@media (min-width: 576px) and (max-width: 767px) {
    .fes__contact__section {
        margin-top: 50px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fes__contact__section {
        margin-top: 60px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fes__contact__section {
        margin-top: 70px;
    }
    /*===== Home Page =====*/
        .logo {
            width: 140px;
        }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .fes__categories__section {
        margin-top: 80px;
    }
    /*===== Home Page =====*/
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .fes__contact__section {
        margin-top: 80px;
    }
    /*===== Home Page =====*/
}

@media (min-width: 1500px) and (max-width: 1599px) {
    /*===== Home Page =====*/
}

@media (min-width: 1600px) and (max-width: 1699px) {
    /*===== Home Page =====*/
}

@media (min-width: 1700px) and (max-width: 1799px) {
    /*===== Home Page =====*/
}