/************ TABLE OF CONTENTS ***************
1. Global
2. Home Page
   1. Header
   2. Cart
   3. Hero Section
   4. Features
   5. Categories Section
   6. Trending Products
   7. Product Style
   8. Best Deals
   9. Product On Sale
   10. Testimonials
   11. Brands
   12. Newsletter
   13. Footer
3. Single Product Page
4. Shop Page
5. Contact Us Page

**********************************************/


/* ====================================================================
   1. Global
==================================================================== */
/*** Font ***/
/* Jost */
@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost/jost-v15-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost/jost-v15-latin-600.woff2') format('woff2');
}

/* Josefin Sans */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans/josefin-sans-v32-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/josefin-sans/josefin-sans-v32-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/josefin-sans/josefin-sans-v32-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans/josefin-sans-v32-latin-700.woff2') format('woff2');
}

/* Default CSS */
:root {
    /* Primary Color */
    --main-color: #7B7E0C;

    /* Text Color */
    --text-color: #13172B;
}

* {
    border: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body,
span,
p {
    font-family: 'Jost', sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--text-color);
}

a {
    color: var(--main-color);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-family: 'Jost', sans-serif;
    list-style: none;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::placeholder {
    color: #999;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

::selection {
    color: #FFF;
    background: var(--main-color);
}

/* Buttons */
.fsnf__button__a,
.fsnf__button__b {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    padding: 10px 25px;
    text-transform: capitalize;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    user-select: none;
    color: #FFF !important;
    display: inline-block;
}

.fsnf__button__a::before,
.fsnf__button__b::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: #000;
}

.fsnf__button__a::after,
.fsnf__button__b::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    content: '';
    height: 0;
    width: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 5px;
}

.fsnf__button__a:hover::after,
.fsnf__button__b:hover::after {
    height: 100%;
    width: 100%;
    background: var(--main-color);
}

.fsnf__button__b::before {
    background: var(--main-color);
}

.fsnf__button__b:hover::after {
    background: #000;
}

/* Section Title */
.fsnf__section__title {
    margin-bottom: 40px;
}

.fsnf__section__title h4,
.fsnf__section__title h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color);
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.fsnf__section__title h4 {
    margin: 0;
    color: var(--main-color);
    font-family: 'Jost', sans-serif;
}

.fsnf__section__title h2 {
    font-size: 80px;
    line-height: 80px;
    font-family: 'Josefin Sans', sans-serif;
}

/* Back to Top */

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 1px #E4F2FF;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

/* Preloader */

/* Custom Cursor */
.cursor {
	position: fixed;
	top: 0;
	left: 0;
	overflow: visible;
	z-index: 9999999;
	pointer-events: none;
}

.cursor::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
	background: var(--main-color);
	border-radius: 50%;
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	
}

.cursor::after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: transparent;
	border: 1px solid var(--main-color);
	border-radius: 50%;
	transform: translate(-50%,-50%);  
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.cursor.hover::before {
    width: 30px;
    height: 30px;
    background: rgba(158, 114, 195, 0.2);
}

@media (max-width: 991px) {
    .cursor {
        display: none;
    }
}

/* Seperator */
.vertical__seperator {
    height: 26px;
    width: 2px;
    background: #FFF;
    margin: 0;
}

.horizontal__seperator {
    height: 2px;
    width: 100%;
    background: var(--main-color);
    margin: 0;
}

/* Checkbox Input */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background: #FFF;
    margin: 0;
    width: 14px;
    height: 14px;
    border: 1px solid var(--main-color);
    position: relative;
}

input[type="checkbox"]::before {
	content: '';
	background: var(--main-color);
    width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

input[type="checkbox"]:checked {
    height: 14px;
    width: 14px;
}

input[type="checkbox"]:checked::before {
    height: 8px;
    width: 8px;
}

/* Radio Input */
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background: #FFF;
    margin: 0;
    width: 14px;
    height: 14px;
    border: 1px solid var(--main-color);
    position: relative;
    border-radius: 50%;
}

input[type="radio"]::before {
	content: '';
	background: var(--main-color);
    width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 50%;
}

input[type="radio"]:checked {
    height: 14px;
    width: 14px;
}

input[type="radio"]:checked::before {
    height: 8px;
    width: 8px;
}

/* ====================================================================
   2. Home Page
==================================================================== */
/*** Start of Header ***/
.logo {
    width: 180px;
    height: auto;
}

.logo img {
    width: 100%;
}

.fsnf__header__wrapper {
    padding: 30px 0;
    position: relative;
}

.fsnf__mblmenu__btn {
    display: none;
}

@media (max-width:991px) {
    .fsnf__mblmenu__btn {
        display: inline-block;
        padding: 15px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'Jost', sans-serif;
        text-transform: capitalize;
        color: #FFF;
        border: 1px solid #FFF;
        border-radius: 5px;
        background: var(--main-color);
        transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    .fsnf__mblmenu__btn i {
        font: 14px;
        margin-right: 10px;
    }
}

.fsnf__header__wrapper .main__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.fsnf__header__wrapper .main__nav li {
    display: inline-block;
    margin: 0 15px;
}

.fsnf__header__wrapper .main__nav li:first-child {
    margin-left: 0;
}

.fsnf__header__wrapper .main__nav li:last-child {
    margin-right: 0;
}

.fsnf__header__wrapper .main__nav li a {
    display: block;
	padding: 20px 0;
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	font-family: 'Jost', sans-serif;
	text-transform: uppercase;
	color: var(--text-color);
}

.fsnf__header__wrapper .main__nav li a:hover {
    color: var(--main-color);
}

.fsnf__header__wrapper .main__nav li a i {
    font-size: 12px;
    margin-left: 5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fsnf__header__wrapper .main__nav li:hover a i {
    transform: rotate(180deg);
}

.fsnf__header__wrapper .main__nav li .fsnf__megamenu {
    width: 100%;
	height: auto;
	position: absolute;
    top: 80%;
	left: 0;
	color: var(--text-color);
	background: var(--main-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 10px 15px;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
}

.fsnf__header__wrapper .main__nav li:hover .fsnf__megamenu {
    opacity: 1;
    visibility: visible;
    top: 90%;
}

.fsnf__header__wrapper .main__nav li .fsnf__megamenu::before,
.fsnf__header__wrapper .main__nav .has__tiny__menu .fsnf__tinymenu::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    bottom: 100%;
    left: 0;
}

.fsnf__header__wrapper .main__nav li .fsnf__megamenu li {
	display: block;
	margin: 0;
}

.fsnf__header__wrapper .main__nav li .fsnf__megamenu li a {
    display: block;
    padding: 10px 0;
    color: #FFF;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    width: 240px;
    text-align: center;
    text-transform: capitalize;
}

.fsnf__header__wrapper .main__nav li .fsnf__megamenu li a:hover {
    color: var(--main-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background: #FFF;
}

.fsnf__header__wrapper .main__nav li .fsnf__megamenu h4 {
	color: #FFF;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: capitalize;
	text-align: center;
}

/* Tiny Menu */
.fsnf__header__wrapper .main__nav .has__tiny__menu {
    position: relative;
}

.fsnf__header__wrapper .main__nav .has__tiny__menu .fsnf__tinymenu {
	position: absolute;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	z-index: 999999;
	background: #FFF;
	border-radius: 5px;
	top: 100%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.fsnf__header__wrapper .main__nav .has__tiny__menu:hover .fsnf__tinymenu {
    top: 110%;
    visibility: visible;
    opacity: 1;
}

.fsnf__header__wrapper .main__nav .has__tiny__menu .fsnf__tinymenu li {
    display: block;
    margin: 0;
}

.fsnf__header__wrapper .main__nav .has__tiny__menu .fsnf__tinymenu li a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    text-transform: capitalize;
    width: 250px;
    color: var(--text-color);
}

.fsnf__header__wrapper .main__nav .has__tiny__menu .fsnf__tinymenu li a:hover {
    background: var(--main-color);
    color: #FFF;
}

.fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu .fsnf__tinymenu {
    left: 95%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu:hover .fsnf__tinymenu {
    left: 100%;
    visibility: visible;
    opacity: 1;
}

.fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu:hover {
    border-radius: 5px;
    background: var(--main-color);
}

.fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu:hover a,
.fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu:hover .fsnf__tinymenu a:hover {
    color: #FFF;
}

.fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu a i {
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transform: unset;
}

.fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu:hover a i {
    transform: rotate(90deg);
}

.fsnf__header__wrapper .main__nav .fsnf__tinymenu > .has__tiny__menu:hover .fsnf__tinymenu a {
    color: var(--text-color);
}

@media (max-width:991px) {
    .fsnf__header__wrapper .main__nav {
        display: none;
    }
}

/* Header CTA Buttons */
.fsnf__header__wrapper .header__ctas {
    display: flex;
    gap: 30px;
    height: 100%;
    align-items: center;
}

.fsnf__header__wrapper .header__ctas li {
    padding: 0;
    margin: 0;
}

.fsnf__header__wrapper .header__ctas li button {
    background: transparent;
    height: 20px;
    width: 20px;
    padding: 0;
}

.fsnf__header__wrapper .header__ctas li button img {
    width: 100%;
}

/*** End of Header ***/


/*
rgba(158, 114, 195, 0.4)
rgba(115, 56, 160, 0.4)

    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

font-family: 'Jost', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/